[2018-12-20 06:34] samthomson commented on #256
Can you confirm you can reach elasticsearch on your machine? For example with `curl -GET "http://localhost:9200/_search" -d'{"query": {"match_all": {}}}'` (ie it's accessible outwith the container)

[2018-12-20 06:42] samthomson commented on #249
Nevermind, I resolved the issue myself somewhat. I updated my docker-compose to use a different image `appbaseio/dejavu:3.0.0-alpha` and now it works :fireworks: :tada:

[2018-12-20 06:42] #249 closed, assigned to nobody

[2018-12-20 06:46] samthomson commented on #256
I had the same issue but then added those variables to a yml config file instead which worked. Create the config file and store variables in it and copy it in as part of the dockerimage for your elasticsearch container.

![image](https://user-images.githubusercontent.com/6588340/50268463-7e5cee80-045d-11e9-92d5-d37cc2d566e3.png)

[2018-12-20 10:17] janheinrichmerker commented on #256
Yeah, it seems that the CORS-specific environment variables can't be passed in from the `docker-compose.yml`.
Once I moved them to `elasticsearch.yml`, everything works as expected.

Personally I would have liked a quick note about that behavior in the `README.md`.
May I create a PR for that?

[2018-12-20 10:25] samthomson commented on #256
It's not my project so can't really say, looks like they merge all PRs though. Just saw you with the same issue I'd had so thought I'd share my solution :upside_down_face:

[2018-12-20 11:26] janheinrichmerker commented on #256
Ah, my fault 😆
Well, then I'll just open a PR and we'll see if it's going to be accepted.

[2018-12-20 12:19] janheinrichmerker opened #259 "Dead image link in Features section in README.md"
The features section in the README.md links to an image at "https://www.dropbox.com/s/kl30dzi30265klq/f3.gif?raw=1" but the link is dead.

I suggest uploading the GIFs to this repository in a subfolder or branch to avoid dead links.

[2018-12-21 02:39] #256 closed, assigned to nobody

[2018-12-21 02:39] #257 closed, assigned to nobody

[2018-12-28 08:49] forelabs commented on #237
I have some similar problem.
I am not able to connect to my elasticsearch within docker-compose with dejavu, but it works with e.g. elastichq:
![image](https://user-images.githubusercontent.com/3809644/50509271-8d5b2680-0a85-11e9-8bdd-d658a98c5d76.png)

so when you are wihtin the docker-compose setup, all of your containers run in the same network and can be accessed through their names as hostnam

[2018-12-28 09:00] siddharthlatest commented on #237
Check this section of the README https://github.com/appbaseio/dejavu#cross-origin-resource-sharing-cors, does that help?

[2018-12-28 09:51] forelabs commented on #237
tried different ways setting those variables, but nothing changed. and those env settings do work, because without those settings elastichq could not connect either. Not quite sure what is wrong here

[2018-12-28 14:44] vester-the-developer commented on #237
I'm a nun, but I think the issue is that you are trying to use local host
as access. The local host of a docker container is the container as it has
it's own network.

On Fri, Dec 28, 2018, 3:51 AM Sven Dunemann <notifications@github.com wrote:

[2018-12-28 14:45] vester-the-developer commented on #237
Try just adding the asterisk and remove the local host portion

On Fri, Dec 28, 2018, 8:44 AM Sylvester Kendricks <
sylvesterkendricks@gmail.com wrote:

[2018-12-29 17:01] #254 closed, assigned to nobody

[2018-12-29 18:35] siddharthlatest commented on #256
Check the updated [docker-compose](https://github.com/appbaseio/dejavu/blob/dev/docker-compose.yml) file. It's a simpler solution imo, it uses `entrypoint` to pass these values instead of relying on a volume.

[2018-12-29 18:58] siddharthlatest commented on #237
Try this: https://github.com/appbaseio/dejavu/blob/dev/docker-compose.yml

You need to pass the CORS settings for ElasticSearch via `entrypoint` rather than as environment variables. Alternatively, you can also specify a volume and pass them that way, see #256 discussion for reference.

Re: Elastic-HQ vs Dejavu - there is a fundamental difference. We run Dejavu as a browser process, hence it has t

[2018-12-29 19:12] siddharthlatest commented on #259
Thanks, fixed.

[2018-12-29 19:12] #259 closed, assigned to nobody

[2018-12-29 19:17] siddharthlatest commented on #250
@lakhansamani Can this work now with ReactiveSearch 3.0?

[2018-12-29 19:20] siddharthlatest commented on #251
@ilulir We don't want to include this as a default behavior in the Search Preview UI as it triggers extra queries, and can cause a rate limit error (when using multiple facets) on freely hosted appbase.io apps.

However, this can be done when you export the code to Codesandbox as the underlying library that is used for Search Preview supports this via the [`react` prop](https://opensource.appbase.

[2018-12-29 19:20] #251 closed, assigned to nobody

[2018-12-29 19:21] #237 closed, assigned to nobody

[2018-12-29 19:44] siddharthlatest commented on #248
This should work now with `3.0.0` release, also available on the Chrome Store.

[2018-12-29 19:44] #248 closed, assigned to nobody

[2018-12-29 19:44] #229 closed, assigned to nobody

[2018-12-29 20:00] siddharthlatest commented on #212
This is available in the latest `3.0.0-alpha.1` release 🎉.

[2018-12-29 20:00] #212 closed, assigned to nobody

[2018-12-29 20:10] siddharthlatest commented on #219
Not doing this now.

[2018-12-29 20:10] #219 closed, assigned to nobody

[2018-12-29 20:23] #164 closed, assigned to nobody

[2018-12-29 20:25] siddharthlatest commented on #168
This is not relevant anymore as we ship Mirage as `Query Explorer` within Dejavu itself.

[2018-12-29 20:25] #168 closed, assigned to nobody

[2018-12-29 20:26] #169 closed, assigned to nobody

[2018-12-29 20:28] siddharthlatest commented on #178
Closing this for now.

[2018-12-29 20:28] #178 closed, assigned to nobody

[2018-12-29 20:30] siddharthlatest commented on #223
This shouldn't be a problem with the latest release `3.0.1` on Chrome Store.

[2018-12-29 20:30] #223 closed, assigned to nobody

[2018-12-29 20:32] #182 closed, assigned to nobody

[2018-12-29 20:33] siddharthlatest commented on #182
Full context: Both projects are unified now. There's a `Query Explorer` tab available in Dejavu which lets a user write queries.

[2018-12-29 20:36] siddharthlatest commented on #180
Dates are shown in a human-readable form starting with the latest `3.0.0` release 🎉 .

[2018-12-29 20:36] #180 closed, assigned to nobody

[2018-12-30 11:14] janheinrichmerker commented on #256
While your solution is indeed shorter, I dont't think it's easier to understand.
Elasticsearch offers to configure clusters using the YAML file, so we should probably use that, instead of relying on CLI arguments - at least when using more than a few options.
At least I'm not a fan of cluttering the docker-compose file, if we can use a more dogmatic approach.
Nonetheless, I think, the current READ

[2018-12-31 10:33] lakhansamani commented on #250
No this is not fixed yet

[2019-01-02 12:23] trautonen opened #262 "CORS requests from https://opensource.appbase.io"
Running Dejavu `appbaseio/dejavu:3.0.0-alpha.1` from Docker container seems to send requests where origin is `https://opensource.appbase.io`. The query explorer tab does not work at all if that origin is not allowed.

At least `/_settings?human` and `/_mapping/` requests come from that origin. Is this intentional?

[2019-01-03 17:45] ivnnv opened #263 "How to get back the old UI? (or V3 missing features)"
Hi,

Theres a url parameter or something to get back to the old local dejavu (im using chrome extension)?
(not appbase's because my ES is not https so thats not working because mixed content).

Im trying to achieve this because the new UI is missing some important v2 features.

EX: Where the select row checkboxes in editing view went?

![dv2](https://user-images.githubusercontent.com/23552631/5065

[2019-01-03 17:53] metagrover commented on #263
Hi @ivnnv, you can access the old dejavu at: https://opensource.appbase.io/dejavu/

We are iteratively working on the new version to get as much parity of features as possible, and will most likely get to the above enhancements once we have some critical things out of the way.

Thanks 🐱

[2019-01-03 18:03] lakhansamani commented on #263
Hi @ivnnv
Also, the new version of Dejavu has, select feature, its same UX as the older version, i.e. you can hover index number in the ID field and you will be able to see checkbox in editing mode

<img width="1440" alt="screenshot 2019-01-03 23 25 45" src="https://user-images.githubusercontent.com/6964334/50653355-3e465180-0faf-11e9-89b0-fb768e1d3941.png">

Regarding string showing up as `JSON`

[2019-01-03 19:02] ivnnv commented on #263
@metagrover i have double checked, and definitely theres no checkboxes showing on the row when entering editing mode :(
Your screenshot is from appbase's app, so maybe you have a working version there but not yet updated  chrome extension? idk.
I cant find a checkbox even inspecting the dom for it on the first cell of the row (neither the "select-all" check on the header)
![checkbox missing](https

[2019-01-04 06:06] siddharthlatest commented on #263
@ivnnv I checked on the chrome extension, we do support showing the checkbox on hovering `Editing` mode. Do you see any console errors when it doesn't show up? That could help debug.

We were able to find the issue with the `keyword` mapping display, this will be fixed in the next release.

[2019-01-04 12:08] ivnnv commented on #263
yep @siddharthlatest, I have an error from REACTIVESEARCH in the console, here is it:
[code]

[2019-01-08 23:38] chs-bnet commented on #205
To add to this, I need a way of configuring this as a service that talks to an elasticsearch cluster on it's own.

There is no way we would ever allow individual employees browsers (or some app on the internet somewhere) direct access to our elasticsearch cluster(s) without proper authentication on the front and back-end.

Adding an option to proxy connections for the browser (similar to how both

[2019-01-09 23:07] ryanwkan opened #266 "Export as CSV does not apply filters"
Right now it is not passing in any `activeQuery`, so it exports the entire dataset.

Is the feature being developed, or are you accepting contribution to get the feature working?

Thanks

@siddharthlatest

[2019-01-10 11:42] siddharthlatest commented on #266
Hey @ryanwkan, we would love to accept contributions for this 💯. @lakhansamani can share a pointer on how you can implement this.

Ideally, the behavior should be something like this:
1. When no filters are selected, all data is selected to be exported.
2. When there are active search or facet filters, only the filtered data should be exported.

[2019-01-10 12:12] lakhansamani commented on #266
Hey @ryanwkan,

With v3 we are using `ReactiveSearch` for querying and displaying result set, so we can take advantage of `onQueryChange` prop of `ReactiveList` for more information you can check https://opensource.appbase.io/reactive-manual/result-components/reactivelist.html#props

We can save `nextQuery` (without size and sort) in redux store and use it for exporting data.

Following are the co

[2019-01-10 12:23] lakhansamani commented on #250
Fixed in https://github.com/appbaseio/dejavu/commit/f4e2592d7ca85deb0b9c43307c513ec6bd7df58c

[2019-01-10 12:23] #250 closed, assigned to lakhansamani

[2019-01-10 15:30] kkorus commented on #256
@siddharthlatest Example of `entrypoint`?

[2019-01-14 22:43] ryanwkan commented on #266
Thanks @lakhansamani, @siddharthlatest ,

I'll work on this issue.

Ryan

[2019-01-16 05:31] nmallya opened #267 "Export as CSV or JSON is causing duplicates"
Hi Support,
I subscribed to a Bootstrap monthly plan. I am assuming the Browse Data tool in appbase.io is using Deja Vu

I am seeing the following serious issue:

Whenever I export my data in csv or json formats from the Browse Data screen, it ends up with the same record getting added 9 times. I have 9812 unique entries in my database but I end up with only a 1000 unique entries and the rest are

[2019-01-16 05:46] lakhansamani commented on #267
Hey @nmallya,

You are correct Browse Data tool in appbase dashboard uses Dejavu.

I was able to debug and replicate the above issue, it was mainly because of an error in export query, will be fixing it by today.

Thanks for reporting.

[2019-01-16 07:50] lakhansamani commented on #267
Hey @nmallya,

Have fixed the above issue in #268

Can you test, once with your index before we merge PR

Dejavu PR url: https://deploy-preview-268--inspiring-shockley-90e82f.netlify.com/?appname=&url=&mode=edit

Thanks

[2019-01-16 08:02] #267 closed, assigned to nobody

[2019-01-16 16:19] nmallya commented on #267
Thank you @lakhansamani. It is working now.

[2019-01-20 20:30] siddharthlatest commented on #263
@ivnnv We have released a new version (3.1.0) that should fix the above issues. I verified that the row selection feature works on the chrome extension.

![](https://i.imgur.com/9AjWJwS.png)

Closing this issue.

[2019-01-20 20:30] #263 closed, assigned to nobody

[2019-01-20 20:40] siddharthlatest commented on #262
@trautonen Yes, we are currently loading the query tab as an iframe which is hosted on `opensource.appbase.io` domain. You would have to allow this origin for using it. Another option you have is to run query explorer as a [separate docker container](https://hub.docker.com/r/appbaseio/mirage).

Since the underlying code is open and written by us, we should be able to build query explorer from sour

[2019-01-20 20:49] siddharthlatest commented on #205
@chs-bnet You can authenticate / authorize access via backend today. Dejavu supports Basic Auth out of the box and also has support for passing any custom headers required.

Nothing stops this use-case right now. However, **you** have to implement this authentication mechanism.

That said, I see a value in allowing defaults to be set (this would primarily help with convenience) via Docker environm

[2019-01-20 20:56] siddharthlatest commented on #34
All the changes have been incorporated in the latest release. 🎉

[2019-01-20 20:56] #34 closed

[2019-01-21 10:15] #262 closed, assigned to nobody

[2019-01-21 23:21] ghost opened #269 "handle trailing /"
When connecting the following url will work:

`https://staging.example.com` but this wont: `https://staging.example.com/`.

I get this error:
![image](https://user-images.githubusercontent.com/41870207/51503552-b033ed00-1e2f-11e9-9a65-cf60cbea12c5.png)

[2019-01-22 03:44] lakhansamani commented on #269
Thanks, @george-dotdev for this observation will fix it in next release.

[2019-01-23 10:13] cawoodm opened #270 "Connecting is a bit unintuitive..."
When starting dejavu (Chrome Extension) for the first time and it's not clear what we need to do. When we enter the URL `http://myserver:9200` nothing happens. It took several confused minutes to realise that, until an appname is entered, the connect button is disabled. It's obvious once you've done it but one idea might be to leave the button enabled (and put it on the left) and post a warning wh

[2019-01-28 03:55] elliotxin commented on #270
I got same issue, even I was done the CORS settings.
![image](https://user-images.githubusercontent.com/3390411/51813872-76615b80-22f3-11e9-8578-4ac2c9ea1bb8.png)

[2019-01-28 09:35] shentianyi commented on #270
Waiting for an answer. We are under confused too.

[2019-01-28 10:11] tim5go opened #271 "[BUG] Getting 'Failed to execute setRequestHeader error' when searching Chinese/Korean on Search Preview panel"
As titled, I am getting the following the error when searching non-english keywords on the **Search Preview** panel.
[code]

[2019-01-28 10:13] lakhansamani commented on #271
@tim5go are you adding any custom headers here?

[2019-01-28 10:15] lakhansamani commented on #270
@cawoodm thanks for the suggestion we will try to incorporate this UX change in upcoming release

[2019-01-28 10:19] lakhansamani commented on #270
@elliotxin can you share what exact issue you are facing with above CORS settings?

[2019-01-28 10:19] lakhansamani commented on #270
@shentianyi

In URL input you are supposed to enter elasticsearch cluster URL, example
`http://localhost:9200` and in appname input elasticsearch index name

Any other issues that you are facing?

[2019-01-28 10:43] shentianyi commented on #270
I have an elasticsearch run in docker(ip: 172.17.0.3)
I also run dejavu in docker(ip: 172.17.0.4)
I have tried inputing http://172.17.0.3:9200 as URL and "bank" as appname. But the connect button always ran timeout.
I have tried elasticHQ in docker, it works fine. I do not know what is wrong with dejavu.

[2019-01-28 11:59] elliotxin commented on #270
@lakhansamani  I put `http://localhost:9200`in URL and index name in appname, then i able to view Data Browser, but when i click the <Import Data> button and used my github ID to login, i got the blank page like this
<img width="1322" alt="screen shot 2019-01-28 at 7 55 56 pm" src="https://user-images.githubusercontent.com/3390411/51834908-beee3880-2336-11e9-9821-950bb11b59b6.png">

If i used my g

[2019-01-28 16:00] tim5go commented on #271
@lakhansamani
Thanks for your reply!
I am using ES `6.5.4`
The only custom headers I added are:
`http.cors.allow-headers=X-Requested-With,X-Auth-Token,Content-Type,Content-Length,Authorization,x-search-query,x-search-filters`

[2019-01-28 16:36] siddharthlatest commented on #271
@tim5go I get the error. ElasticSearch doesn't allow setting custom headers: `x-search-query` and `x-search-filters` are causing these -> which are enabled in search preview for tracking analytics. However, since analytics on search isn't available outside of appbase.io, we should disable this prop when using it outside of appbase.io and Arc settings. cc @metagrover

[2019-01-29 01:32] tim5go commented on #271
@siddharthlatest
I don't quite get it. It's strange that it only happens to non-english keyword search on **Search Preview**. And even after removing the headers `x-search-query` and `x-search-filters`, the error still occurs.

[2019-01-29 07:26] metagrover commented on #271
I agree this error is related to non-english keyword encoding, not the extra headers. I think we may have to use `encodeURI()` to get past this.

[2019-01-31 10:31] IfritScv commented on #271
I'm also getting this error searching with Arabic language. However, I'm not sure if this is causing the data grid to not refresh upon receiving the response from ES.

In-my case the response is received correctly as JSON but the UI on Search Preview refuses to refresh/updates.

[2019-01-31 14:17] siddharthlatest opened #273 "Feature: Bulk Update Records"
This feature allows bulk editing a group of documents (filtered using the UI filters / search).

**Use Cases**:
1. You can set a specific field's value using this.
2. Similarly, it can also allow unsetting a specific field's value.

**How It Can Work**:
1. When selecting bulk documents, allow selection of all documents (i.e. not just the ones that are part of the current page),
2. Add a `Bulk Edit

[2019-01-31 14:41] siddharthlatest commented on #266
Hey @ryanwkan, any updates on this?

[2019-01-31 14:46] siddharthlatest opened #274 "Feature: Show terms aggregations filter for Boolean fields"
We don't show a term aggregation filter for a field of `Boolean` datatype. We can apply this in the UI. Same for sorting.

[2019-02-06 01:21] ryanwkan commented on #266
@siddharthlatest when's the expected timeline for 3.1.0? I'll get it ready for it

[2019-02-06 10:18] siddharthlatest commented on #266
Hey @ryanwkan, we are looking to release it by next week.

[2019-02-07 01:17] ryanwkan commented on #266
@siddharthlatest probably next milestone then. I'm looking at ~2 weeks

[2019-02-07 19:34] lakhansamani commented on #270
@elliotxin that is importer app that you are trying to access, can you try importing data using https://importer.appbase.io/? and let me know if you are facing the same issues

[2019-02-07 19:55] #269 closed, assigned to nobody

[2019-02-08 15:00] #273 closed, assigned to nobody

[2019-02-08 15:11] lakhansamani commented on #270
@shentianyi can you share the connection error from network request / browser console, it will help us debug more.

[2019-02-11 05:58] #274 closed, assigned to nobody

[2019-02-11 22:25] siddharthlatest opened #277 "Feature: Support URL format as a pseudo data type"
Similar to the image support where we display inline images when the URL resolves to an image, we should support a URL data type in Dejavu.

![screen shot 2019-02-12 at 3 52 55 am](https://user-images.githubusercontent.com/630042/52597876-24374300-2e7a-11e9-94d7-f774de6b6460.png)

In ElasticSearch, it would be represented as a keyword field. In the `_meta` object, we can set this as the URL. (Let'

[2019-02-12 18:19] danielo515 commented on #197
Sorry but I am not able to run query maker on multi-index views. How is it supposed to work?

[2019-02-12 18:28] siddharthlatest commented on #197
@danielo515 Currently, the query view only works per single index. Since it's GUI based and guided, we need to fetch the mappings (something that multiple indexes would complicate).

[2019-02-12 19:29] danielo515 commented on #197
Can't you just assume the schema is the same? Or add a flag to allow the user to take the risk? In my case I know all the indexes will have the same schema

[2019-02-12 19:31] siddharthlatest commented on #197
@danielo515 In that case, you can connect to one of the indexes. The generated URL for the query is editable, you can change it prior to firing the query. :-)

[2019-02-13 04:57] Danelicious commented on #106
I have problems run dejavu on my local machine as well. My ES settings look like this:

`http.port: 9200
http.cors.allow-orgin: "*"
http.cors.enabled: true
http.cors.allow-headers: X-Requested-With,X-Auth-Token,Content-Type,Content-Length,Authorization
http.cors.allow-credentials: true`

I can't connect anywhere, neither with the Chrome extension, nor with the docker image. Is there anything I am

[2019-02-13 07:02] #266 closed, assigned to nobody

[2019-02-13 07:42] danielo515 commented on #197
Cool, that looks like a feasible workaround. Thanks @siddharthlatest

[2019-02-13 13:55] ltfi opened #279 "Npm Compilation Problem"
![capture](https://user-images.githubusercontent.com/1550317/52716463-e1778700-2faf-11e9-9c81-66b250283b8b.PNG)
When I try to compile project source code encountered this error.

[2019-02-13 13:57] lakhansamani commented on #279
Hey, @ltfi thanks for reporting, this is mainly because of version change in one of submodules, will be fixing it by today

[2019-02-13 14:02] ltfi commented on #279
Thanks for quick response 👍

[2019-02-13 14:08] lakhansamani commented on #279
@ltfi have just pushed version update for `batteries` submodule you can run

`git submodule update --recursive --remote` again on your local to sync with latest batteries version

[2019-02-13 14:08] #279 closed, assigned to nobody

[2019-02-14 07:31] ltfi commented on #279
![image](https://user-images.githubusercontent.com/1550317/52770250-a030b700-3043-11e9-90c6-e4e428db9b08.png)

Still I'm getting these errors.

[2019-02-14 18:22] #270 closed, assigned to nobody

[2019-02-20 15:01] zipzapduo opened #281 "Exporting"
When i try to export to json i get undefined in the file contents

[2019-02-20 16:22] lakhansamani commented on #281
@zipzapduo can you share, which version of Elasticsearch you are using.

Also, it would be great if you can share console/network error, that will help us debug better,
Thanks

[2019-02-20 16:30] zipzapduo commented on #281
I am using from amazon service, i don't know for sure. The dejavu is in the chrome browser as an extension, how do i see the console?

[2019-02-20 16:44] lakhansamani commented on #281
@zipzapduo thanks for the information, was able to replicate it.
Should be fixed by tomorrow 👍

[2019-02-20 16:50] zipzapduo commented on #281
thank you

[2019-02-21 12:33] lakhansamani commented on #281
@zipzapduo have added fix for exporting data on dejavu website, i.e. https://dejavu.appbase.io

Can you confirm there once if it works?
Thanks

[2019-02-21 12:53] zipzapduo commented on #281
No. Its not working. I can send  a video to you

[2019-02-21 12:58] lakhansamani commented on #281
@zipzapduo also getting the error from console can help us debug, you can open browser console by following instructions on https://developers.google.com/web/tools/chrome-devtools/console/

[2019-02-21 13:00] zipzapduo commented on #281
HTTP STATUS: 500 - Unable to get count. I sent you a video by your email

[2019-02-21 13:02] lakhansamani commented on #281
Thank you @zipzapduo will debug and get back to you on this 👍

[2019-02-21 13:26] lakhansamani commented on #281
@zipzapduo I have checked the video, you are testing on chrome extension, currently, we have fixed issue on dejavu website only.

Will update you once the new version of extension is available on store

[2019-02-23 17:54] siddharthlatest commented on #281
This is out with the latest patch release.

[2019-02-23 17:54] #281 closed, assigned to nobody

[2019-02-25 19:26] MarlonBorba opened #282 "Security posture of DejaVu developers."
Fellow GitHub'ers,

In order to approve use of DejaVu ElasticSearch Web UI for my employer, I need to get answers to some questions:

a) Where can I read about secure development practices used to create DejaVu?
b) Is there a page or site with security advisories and patches?
c) Were there reported vulnerabilities of DejaVu with CVSS >=7.0?

TIA,

Marlon.

[2019-02-25 21:31] siddharthlatest commented on #282
@MarlonBorba Would your employer be interested in something like this? https://tidelift.com/subscription. We can potentially work with them to address the questions here if this seems worthwhile.

[2019-02-25 22:11] MarlonBorba commented on #282
@siddharthlatest My question refers to the _security posture of DejaVu_ specifically. We could consider the Tidelift paid subscription _if_ and _when_ we adopt DejaVu.
Note that other OSS packages like Postman offer a detailed documentation about their security posture, even for free versions, q.v. https://www.getpostman.com/security
TIA,
Marlon.

[2019-02-25 22:11] #282 closed, assigned to nobody

[2019-02-28 18:05] mindis opened #283 "Importer doesn't work to Elasticsearch Hosted running local instance of dejavu"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Locally built `dev` branch of dejavu

#### What is the version of Dejavu that you are using?
dev version.

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

Can't import data using local instance of dejavu. Configure Data Mappings

[2019-03-05 12:46] mindis opened #284 "Field of type "annotated_text" is not searchable"
I'm using locally built dejavu cloned from github repo with local elasticsearch.

I'm experimenting with new elasticsearch feature that allows to store and query annotated text https://www.elastic.co/guide/en/elasticsearch/plugins/6.6/mapper-annotated-text-usage.html

However fields of type "annotated_text" are not searchable in dejavu data browser and displayed with ellipsis (...)

How can I make

[2019-03-06 13:57] lakhansamani commented on #284
@mindis thank you for bringing this up,
Will add this in the upcoming release 👍

[2019-03-06 14:00] lakhansamani commented on #283
@mindis thanks for reporting this, I will test this
Can you share ES version that you are trying to import and also if you could share sample csv that will help us debug more

Thanks

[2019-03-06 16:24] mindis commented on #283
ES 6.5.4

PUT 9200/index5

[code]

test.csv:

[code]

[2019-03-07 11:41] robocop-bob opened #285 "compilation problem - Module not found"
Hi ,

compilation ```  yarn   && yarn build:app ``` returns errors.

basing on  https://github.com/appbaseio/dejavu/issues/279 I did ``` git submodule update --recursive --remote ```
but still get errors:
[code]

[2019-03-07 13:21] robocop-bob commented on #285
Resolved basing on https://github.com/appbaseio/dejavu/blob/dev/CONTRIBUTING.md.

``` cd dejavu git submodule init git submodule sync git submodule update --recursive --remote ```

[2019-03-07 13:21] #285 closed, assigned to nobody

[2019-03-07 16:33] neilc2016 opened #286 "Dejavu ES URL https"
I've installed Dejavu and can connect to my test elastic cluster when the elastic URL is http unsecured.  However when I enable https on the elastic cluster Dejavu cannot connect via the https elastic URL.  The response shows that is having ERR_CERT_AUTHORITY_INVALID.  Is there a way to bypass the cert check on Dejavu?

[2019-03-08 00:11] siddharthlatest commented on #286
@neilc2016 This isn't a Dejavu specific issue per se. Browsers would throw an error when connecting to a self-signed https cert. Try connecting outside of dejavu to your ES cluster, do you still see the error or not?

Perhaps, this can help: https://superuser.com/questions/27268/how-do-i-disable-the-warning-chrome-gives-if-a-security-certificate-is-not-trust.

[2019-03-08 02:14] #286 closed, assigned to nobody

[2019-03-08 02:15] neilc2016 commented on #286
Thanks Siddharth.  I exported the elastic https URL cert and imported the cert back in Chrome.  Now when using Dejavu it can connect to the elastic https URL without the error.   All our logstash/Kibana/API services have disabled cert verification so we don't have to deal with this issue but will need to update cert for Dejavu.

[2019-03-24 23:54] hm43 commented on #256
@kkorus  I added this to my docker-compose file and it perfectly working :

`entrypoint:
      - elasticsearch
      - -Ehttp.port=9200
      - -Ehttp.cors.enabled=true
      - -Ehttp.cors.allow-origin=xxx
      - -Ehttp.cors.allow-headers=Content-Type,Content-Length,Authorization
      - -Ehttp.cors.allow-credentials=true`
it gives 200 :100:
`axios.get("http://localhost:9200/", {} ).then(r => con

[2019-03-24 23:55] hm43 commented on #256
@kkorus I added this to my docker-compose file and it perfectly working :

[code]

it gives 200 :100:
`axios.get("http://localhost:9200/", {} ).then(r => console.log(r.status));`

[2019-03-24 23:55] hm43 commented on #256
[code]

[2019-03-27 22:27] garygreen opened #287 "Graphs / Dashboards"
Any plans on adding graphing capabilities, similar to Kibana?

Even just simple ones like bar / line / text based would be awesome.

![image](https://user-images.githubusercontent.com/1702638/55116529-7907e380-50df-11e9-8751-390fba042db3.png)

[2019-03-28 10:55] siddharthlatest commented on #287
@garygreen Kibana's graphing functionalities are pretty mature at this point. Any reason why someone would use them within Dejavu but not in Kibana? I am trying to understand the potential use-case here :-)

[2019-03-28 16:36] garygreen commented on #287
I see dejavu as a "lightweight" version of Kibana. In some ways, the two projects overlap in their goal which ultimately is this: to understand what's stored in Elastic Search and make sense of it.

Kibana isn't a small application by any means, it's complex but does have a lot of functionality.

The interesting aspects of dejavu is that it's a small library that is focused on providing insights i

[2019-04-02 09:24] mindis commented on #283
Hi @lakhansamani I wonder if you had a chance to look into this? Thanks!

[2019-04-02 13:11] lakhansamani commented on #283
Hey @mindis I did not get chance to look into this, will surely try to replicate and fix this by end this week 👍

[2019-04-02 23:23] bndw opened #288 "docker-compose example"
I've run the included [docker-compose.yml](https://github.com/appbaseio/dejavu/blob/dev/docker-compose.yml) but end up with what appears to be a connection error to elasticsearch:

<img width="1155" alt="image" src="https://user-images.githubusercontent.com/4248167/55442972-b4823200-5565-11e9-9648-1becfd1d90a3.png">

I've tried the following (after manually creating an index):
- using `http://elas

[2019-04-02 23:43] siddharthlatest commented on #288
@bndw The docker-compose file whitelists localhost:1358 for CORS but you are using 127.0.0.1:1358. You can either use localhost:1358 and then the connection should work or add 127.0.0.1:1358 origin to the CORS settings. Hope this helps!

[2019-04-02 23:43] #288 closed, assigned to nobody

[2019-04-03 18:14] bndw commented on #288
@siddharthlatest I've changed the origins but am still unable to connect.

Here's my `docker-compose.yml`

[code]

I manually created index `test` with curl
[code]

Here's what I get:

<img width="1151" alt="image" src="https://user-images.githubusercontent.com/4248167/55502409-586ceb80-5601-11e9-85e1-95a52417e218.png">

[2019-04-03 19:14] siddharthlatest commented on #288
Does `curl http://elasticsearch:9200` work? I have also updated the docker-compose file. Can you try with that? It uses the latest Dejavu and ES releases.

Afaict, that's the issue. ES is accessible at something like `http://localhost:9200`, the `http://elasticsearch:9200` would only work from within the container.

[2019-04-03 19:39] bndw commented on #288
`http://elasticsearch:9200` would definitely only work from within the Dejavu container since it's using a Docker link. I'm not sure how Dejavu uses that URL under the hood, but on the host machine ES is accessible through `http://localhost:9200`.

I've pulled your latest `docker-compose.yml` and using the following steps I was able to get this going:
1. Run the compose file with `docker-compose u

[2019-04-05 06:57] lakhansamani commented on #283
@mindis I checked on the above issue.
Currently, we are supporting `.csv` import only with appbase apps / clusters. Please try to import `.json` file for local or any other cluster.

Also, `importer` will try to add mappings by itself. So in the app name field, try to use index name which is not on your cluster.

[2019-04-05 06:57] #283 closed, assigned to nobody

[2019-04-14 04:20] SLiNv opened #293 "Unable to Connect to SSL/TLS Enabled Elasticsearch"
I'm using Open Distro for Elasticsearch by Amazon, the elasticsearch instance has HTTPS enabled with self-signed certificates, which is not secure. Is there a way to bypass SSL verification like I can do in Postman.

The exception I got from the console is as following

[code]

[2019-04-14 05:13] edugrip opened #294 "Can't install"
Can't install the application.
Here is what I did.
I am running Mac OSX Mojave.
 **~/ $ npm -v**
6.9.0
 **~/ $ node -v**
v10.15.2
**~/  $ yarn -v**
1.15.2

$ yarn install
$ npm start

clean-webpack-plugin: /Users/rameshpareek/npm/dejavu/dist/app has been removed.
 10% building modules 1/1 modules 0 activeℹ ｢wds｣: Project is running at http://localhost:1358/
ℹ ｢wds｣: webpack output is served from /

[2019-04-14 23:53] heavenkiller2018 opened #295 "unable to supoort elasticsearch 7.0.0"
unable to supoort elasticsearch 7.0.0

[2019-04-15 00:05] siddharthlatest commented on #295
Most likely, the mapping API will be the breaking change as the `type` info is omitted in the ES response now.

@heavenkiller2018 Are you seeing any other issue?

[2019-04-15 04:21] lakhansamani commented on #284
@mindis I checked this, it is not part of default types, it available after installing a plugin, for any such special cases you can define your mappings, using `Add mapping` button.

[2019-04-15 04:21] #284 closed, assigned to nobody

[2019-04-15 04:23] lakhansamani commented on #294
@edugrip seems like you have missed out on step 2, mentioned in docs.
i.e. adding `batteries` as git sub-module

https://github.com/appbaseio/dejavu/blob/dev/CONTRIBUTING.md

[2019-04-15 13:27] siddharthlatest commented on #293
@SLiNv These are ES logs. Do you see any console logs / errors from Dejavu? Hard to infer what may be the cause from the issue so far.

[2019-04-16 08:28] ahweb opened #296 "export Chinese data is garbled"
export Chinese data is garbled

[2019-04-16 08:53] #296 closed, assigned to nobody

[2019-04-16 19:10] #294 closed, assigned to nobody

[2019-04-17 03:30] SLiNv commented on #293
@siddharthlatest I see, I didn't look closer... I will try to reproduce it when I get a chance and see what the dejavu output is

[2019-04-17 14:20] lakhansamani commented on #295
Fixed here https://github.com/appbaseio/dejavu/commit/b504c0f8720e556dd173dd5385e3815eaa1bb9da

[2019-04-17 14:20] #295 closed, assigned to lakhansamani

[2019-04-18 20:21] ghost opened #297 "Import does not work in Elastic 5"
I am using a Chrome extension to access my custom ES cluster, however, the import fails. I am seeing an error message:

[code]

I am trying to create a new index, so I specify a new index name in the app name. I am using superadmin credentials so I have wildcard access to everything.

This problem happens in Elasticsearch 5. Elasticsearch 6 is just fine.

[2019-04-18 20:24] ghost opened #298 "Allow CSV import to Elasticsearch cluster"
CSV is said to be supported, however, chrome extension can only do JSON imports to the Elasticsearch cluster.

[2019-04-18 20:27] ghost opened #299 "Add a checkbox not to verify a certificate"
My ES cluster is a temporary one and does not have a valid certificate. I am seeing an error message:

[code]

The workaround is to access https://example.com:9200 from another browser window and click proceed button. Is there a way to make skipping SSL cert check in a more user-friendly way, e.g. checkbox?

[2019-04-18 20:37] ghost opened #300 "Data Browser does not work for Elastic 5"
I am using Chrome Extension. The Data Browser does not work with Elastic 5. I am seeing the following message. However, it works fine with Elastic 6.

[code]

[2019-04-18 20:42] ghost opened #301 "Query browser does not work"
Dejavu (Chrome extension) hangs when trying to connect to ES5 and ES6. Following messages appear in the console:

[code]

[2019-04-19 10:26] siddharthlatest commented on #297
@dealancer This is an issue with your ES hosting provider, which doesn't allow using the `/_close` endpoint.

[2019-04-19 10:26] #297 closed, assigned to nobody

[2019-04-23 08:20] 32carleone opened #303 "asdsa"
a

[2019-04-23 08:22] lakhansamani commented on #301
Are you trying to access importer/query explorer?

[2019-04-23 08:28] lakhansamani commented on #300
Seems your elasticsearch 5 cluster is not having access via url that you have shared
i.e. `POST https://example.com:9200/index/_msearch? 403 (Forbidden)`

Try accessing ` https://example.com:9200/` in your browser, if browser prompts for username and password, then you are missing that in above in url

The default username  and password for es5 cluster use to be

[code]

You can pass name above cr

[2019-04-23 18:30] ghost commented on #297
@siddharthlatest is there a way to enable such capability? I am not using any specific ES hosting provider, just a custom installation.

[2019-04-23 18:31] ghost commented on #301
@lakhansamani  Query explorer.

[2019-04-23 18:32] siddharthlatest commented on #297
This error essentially says calling the `/_close` endpoint returned a 403. You can check if you have anything on your backend routes that prevents this particular endpoint from getting called. For e.g. AWS ES blocks the `/_close` endpoint. It works for a general ElasticSearch cluster.

[2019-04-23 18:35] ghost commented on #300
@lakhansamani I can access it in the browser, but I need to skip certificate verification. It may be related to https://github.com/appbaseio/dejavu/issues/299.

[2019-04-24 11:56] olegbaranov1979 opened #304 "Plugin displays the date without time."
Hi.
I save the date in ElasticSesrch in the format  ISO 8601 "YYYY-MM-DD'T'HH: mm: ssZ" (example 2017-05-23T16:56:32Z).
  "properties": {
         "ModificationDate": {
           "type": "date"
         }
       }
The plugin displays undated. (2017-05-23)

If I add  the mapping
  "properties": {
         "ModificationDate": {
           "type": "date", "format": "YYYY-MM-DD'T'HH:mm:ssZ"

[2019-04-26 16:57] EmanueleCoppola opened #305 "Unable to install the app in subfolder"
Hello, I compiled the app and, I installed it into my server in a subfolder /dejavu, but some paths are broken.
I fixed the php one, but I couldn't fix the images, is there a way to fix them?

[2019-04-30 13:30] #303 closed, assigned to nobody

[2019-05-01 01:14] #305 closed, assigned to nobody

[2019-05-04 09:37] mephi42 opened #306 "Query Explorer does not work with the local dockerized ElasticSearch instance"
I'm trying to use dejavu with `elasticsearch:6.4.2` docker image.
Here are my docker-compose definitions:

[code]

Data Browser works, but Query Explorers tells me that "It looks like your app name, username, password combination doesn't match. Check your url and appname and then connect it again.". When working with Data Browser, network analysis developer tool shows requests to the dockerized ES

[2019-05-08 16:59] karthikeyank8 opened #307 "Dejavu - Chrome Plugin - Compatibility with ElasticSearch 7.0.1"
We upgraded from ES 6.6.1 to ES 7.0.1 by taking a snapshot of the ES 6.6.1 and upgraded to ES 7.0.1. After the upgrade we are able to connect to the ES 7.0.1 but the values is index is not displayed as a table in Data Browser and shows up as one single object.

This makes the nice features of Dejavu like search, sort, etc cannot be used. I have attached the snapshots of the index display in both t

[2019-05-10 10:07] tlkristensen commented on #307
I am seeing the same behavior when connecting to elasticsearch running on the cloud offering from Elastic?!

Do anyone have any suggestions?

[2019-05-17 05:02] SilentCC opened #308 "Can't connect to elasticsearch cluster in docker swarm"
I deploy a elasticsearch cluster in docker swarm.Containers can find elasticsearch service with container's name. For example, I can access elasticsearch cluster with command: curl http://es_client:9200  in a dejavu container which deployed on the same docker swarm service as elasticsearch cluster  , and it works fine. I don't need to set cros in my elasticsearch cluster.

But when I used http://e

[2019-05-17 15:22] siddharthlatest commented on #308
@SilentCC CORS restriction is browser specific, which is why you are seeing it when running Dejavu in a browser. Dejavu doesn't run a server - that was a design decision we made to make it easy to install for users.

Hope this helps.

[2019-05-17 15:22] #308 closed, assigned to nobody

[2019-05-20 14:49] winou75 opened #309 "Bug demo and local"
Hey guys, the demo app don't seem to be functionnal ...

https://dejavu.appbase.io/?appname=gitxplore-live&url=https://2FPZ2UJQW:1c50c6df-4652-4d74-906b-7bc0a6a731b6@scalr.api.appbase.io

![Capture d’écran 2019-05-20 à 16 45 31](https://user-images.githubusercontent.com/15017949/58030381-bbb5cd00-7b1e-11e9-971d-f920e3e72281.png)

Console error

[code]

[2019-05-20 14:52] bietkul commented on #309
It seems like a cache issue, just try incognito or hard reload the browser.

[2019-05-20 20:24] winou75 commented on #309
Thanks for your help.
However, it still doesn't work incognito, or hard reloading the browser

[2019-05-20 20:27] siddharthlatest commented on #309
Thanks for reporting this @winou75, I am able to replicate it. The issue is specific to the `Search Preview` view.

[2019-05-23 11:39] siddharthlatest commented on #309
This has been fixed in the latest deployment.

[2019-05-23 11:39] #309 closed, assigned to nobody

[2019-05-25 12:21] chrissound commented on #270
Has a UI change actually addressed this issue? I just pulled the latest docker image and ran into this issue.

[2019-05-25 17:15] chigix commented on #307
This problem occurs in server edition of Dejavu as well. Mainly because of [removal of mapping types](https://www.elastic.co/guide/en/elasticsearch/reference/7.0/removal-of-types.html), property mappings defined in types previously could not work with Elasticsearch after version 7

[2019-05-25 17:29] karthikeyank8 commented on #307
Does that mean a new index created in Elastic Search 7 will work the way it used to be?

And the the index migrated migrated from earlier versions will have this problem which will not be fixed in near future?

[2019-05-25 19:31] chrissound commented on #306
Same issue

[2019-05-25 23:00] chigix commented on #307
No, API response has changed for this breaking change, which means that the response will not be the same structure as it used to be. Though [a deprecated option](https://www.elastic.co/guide/en/elasticsearch/reference/7.0/removal-of-types.html#_indices_apis)could make working around, but that option is not suggested and not seems supported by dejavu as well

[2019-05-27 04:51] lakhansamani commented on #270
@chrissound can you share the exact problem that you are facing?

[2019-05-27 04:55] lakhansamani commented on #307
@chigix the api response for mappings has changed for v7, so we tried fixing that here https://dejavu.appbase.io
Will be updating chrome extension soon.

Let us know if you are still facing this issue, should be a quick resolve. Also if you can share more insights on what is the exact error that you are getting, in the developer console, then that would help us debug more.

Thanks.

[2019-05-27 05:09] lakhansamani commented on #306
@mephi42 @chrissound  Firefox has a strict mixed content policy so it is very difficult to connect local app on a hosted instance.

With recent versions of chrome mixed content is allowed. Though we have a chrome extension for Query Explorer, which you can use for local instances.
We recommend using Chrome for this kind of operations.

[2019-05-27 05:09] #306 closed, assigned to nobody

[2019-05-27 05:14] lakhansamani commented on #300
@dealancer that would be difficult, as the browser will not allow us to make any API calls until it has a valid certificate/headers.

[2019-05-27 05:14] #300 closed, assigned to nobody

[2019-05-27 05:16] lakhansamani commented on #299
This issue is more related to certification for Elasticsearch cluster. Elasticsearch `curl`/`API` can only work if the authorized connection string is provided.

[2019-05-27 05:16] #299 closed, assigned to nobody

[2019-05-27 05:20] lakhansamani commented on #304
@olegbaranov1979 thanks for reporting, it can be fixed here https://github.com/appbaseio/dejavu/blob/dev/app/src/components/Cell/DateCell.js

By adding support for date-time picker from `antd` design https://ant.design/components/date-picker/

Let us know if you like to contribute to this issue.
Thanks

[2019-05-27 05:21] lakhansamani commented on #298
@dealancer CSV import is only supported for applications hosted on https://appbase.io/

[2019-05-27 05:21] #298 closed, assigned to nobody

[2019-05-27 05:25] lakhansamani commented on #301
@dealancer seems like QueryExplorer is not able to connect to "https://example.com:9200"

If you are having certificate issue then it might not work as elasticsearch API needs authorized URL. If it is a local cluster that you are not able to connect then probably you can try using QueryExplorer chrome extension. https://chrome.google.com/webstore/detail/mirage/dcnlpfmnpoggchflmdnkgiepijgljoka?hl=e

[2019-05-27 05:25] #301 closed, assigned to nobody

[2019-05-27 05:26] lakhansamani commented on #293
This issue is related to Elasticsearch Authorization and SSL certification. So closing for now.

[2019-05-27 05:26] #293 closed, assigned to nobody

[2019-05-27 08:08] chigix commented on #307
Fields typed as `date` does not work in the latest version when working with V7:
![image](https://user-images.githubusercontent.com/2692787/58405100-a05c3c00-80a1-11e9-9a6e-bd78edb3bd20.png)

I've checked the http request logs in browser and confirmed that the mapping of the index has been fetched correctly including correct date typing information in it:

![image](https://user-images.githubuserco

[2019-05-27 08:19] lakhansamani commented on #307
@chigix thanks for reporting this, currently we are not supporting date field with multiple formats, Will try to fix this with next release.

[2019-05-28 11:16] siddharthlatest opened #310 "Enhancement: UI support for converting a field to add / edit array values"
* There can a UI toggle in the column to convert a text field to accept array values.

* While editing an array field, the UI can look like this:
![](https://i.imgur.com/kRDbgp5.png)

Currently, we don't support this - refer to the screenshot here:
![](https://i.imgur.com/gn9Q7pP.png)

[2019-05-28 11:16] #244 closed, assigned to nobody

[2019-05-28 11:31] siddharthlatest opened #311 "Bug: Date parsing / update via datepicker"
With Dejavu v3.2.3, if an ES date field has multiple formats, Dejavu is not able to parse them and show the date correctly[1] or allow updating the date via the UI correctly[2].

Example mapping where this issue happens:

[code]

1: ![](https://i.imgur.com/XuInIWc.png)

2: ![](https://i.imgur.com/qU7IicO.png)

[2019-05-28 12:47] spex66 opened #312 "Docker image for Windows missing?"
## reproduction steps
* working on Windows / Docker
* goal is to include `dejavu` into docker-compose
[code]
## issue
When I try to run
[code]
I get an
[code]

## question
Do I make a silly mistake here or is there no dejavu/Docker deployment support for Windows?

Thx for your help
Peter
(=PA=)

[2019-05-28 12:53] siddharthlatest commented on #312
@spex66 Thanks for the issue. We don't have windows support right now. But we are open to adding this.

Are you interested in adding support for this, or once we add, helping us verify if it works correctly?

[2019-05-28 12:56] spex66 commented on #312
thx for your quick response!

I'm happy to help you verify it, when available.
Sadly I'm not having the skillset to add support for it on my own.
(=PA=)

[2019-05-29 06:32] #311 closed, assigned to nobody

[2019-05-31 17:59] ghost opened #313 "Browse link broken"
I am running the docker image (I have tried version 3.0.0, 3.2.3, and 3.3.0) and clicking the browse link from the import page causes the browser to go to /browse and it returns a 404 instead of the browse page.

[2019-05-31 20:39] ghost commented on #313
It seems I had used a "latest" tag at first and my browser had something cached. It seems to be fine now.

[2019-05-31 20:39] #313 closed, assigned to nobody

[2019-06-02 21:43] ghost opened #314 "blank pages after clicking on Import Data"
in the UI, clicking on "Import Data" in the left pane shows me a page "
GUI for importing CSV and JSON data into appbase.io / Elasticsearch" which is ok.

However, from there when I click on "Data Browser" or "Query Explorer" or "Search Preview" I get blank pages forever.

Installed from Docker, tested on Safari, Mac

When I avoid clicking the "Import Data" link all is fine

[2019-06-03 05:00] lakhansamani commented on #314
@pouledodue thanks for reporting this, will look into it 👍

[2019-06-05 16:35] #314 closed, assigned to nobody

[2019-06-05 22:06] ghost commented on #299
I found two workarounds for this:

1. Open direction connection to Elastic in the separate window and allow the cert
2. Add a cert to the trust store locally

[2019-06-07 11:28] korywka opened #316 "Video plays if modal is closed"
Notice speaker on chrome tab:

![image](https://user-images.githubusercontent.com/988471/59100998-59d3d080-8930-11e9-8665-d8ed5a1b0322.png)

[2019-06-07 12:07] lakhansamani commented on #316
@bravecow thanks for reporting it, will fix this in our next release 👍

[2019-06-07 12:09] lakhansamani commented on #307
@chigix thanks for reporting it. it is fixed here https://github.com/appbaseio/dejavu/commit/92ac8df1bfe3a22aad51527090ec6c65e58545aa

And is available with the latest release
https://github.com/appbaseio/dejavu/releases/tag/3.3.0

[2019-06-07 12:09] #307 closed, assigned to nobody

[2019-06-10 06:01] #316 closed, assigned to nobody

[2019-06-11 12:36] korywka opened #317 "Search Preview Autocomplete doesn't work"
Request:

![image](https://user-images.githubusercontent.com/988471/59272257-4d1be900-8c5e-11e9-8db5-4614a44d5d58.png)

[code]

Response:

![image](https://user-images.githubusercontent.com/988471/59272375-94a27500-8c5e-11e9-81fe-a0cfc44d16b7.png)

[2019-06-11 12:47] korywka opened #318 "Query Explorer Authentication Error"
All CORS settings according to readme:

[code]

And `Data Browsers` works.

But Query Explore:

![image](https://user-images.githubusercontent.com/988471/59273035-f9aa9a80-8c5f-11e9-90f5-d95764e93088.png)

[2019-06-12 06:03] lakhansamani commented on #318
@bravecow you are seeing this error because of local elasticsearch version.
For using query explorer with a local build, you can try chrome extension.
Here is the link: https://chrome.google.com/webstore/detail/mirage/dcnlpfmnpoggchflmdnkgiepijgljoka?hl=en

[2019-06-12 07:17] korywka commented on #318
Ahh, okay. It would be nice if this was more obviously from error message.

[2019-06-12 09:06] korywka commented on #317
🔝 and no error message visible to user. just nothing happens.

[2019-06-20 14:23] tamersalama opened #319 "[Search Preview] No data found. Please insert data to use this feature"
The Search Preview is giving the message of No data found.

I'm connecting to a local instance where I can load and view/edit data through the other functions. The same server connection and application (index) is showing the above message in Search Preview.

My elasticsearch instance is NOT dockerized and I'm using dockerized Dejavu.

No apparent errors in js console.

Any ideas?

[2019-07-03 15:21] javadevmtl opened #320 "Wildcard not supported for index name?"
Hi using the latest docker image...

appbaseio/dejavu

When I put an index name like: myindex-* it just keeps trying to connect.

[2019-07-11 07:32] lakhansamani commented on #320
@javadevmtl not able to replicate the above issue. Seems like it must be a connection issue, where docker is not having access to that network.

closing this issue, for now, feel free to re-open it with more details about the ES version and your setup.

[2019-07-18 06:48] alibi123 opened #321 "Multiline content"
I want to copy any article in wikipedia and store it in elasticsearch with newlines remained. But it seems like it converts all newlines to whitespaces.

Any suggestions how can I do that?

[2019-07-18 07:06] alibi123 opened #322 "[Importer login PROBLEM]"
Trying to login/signup both on local dejavu and live demo on appbase.io but after choosing google or github account it returns to the same page again.

What's the problem?

[2019-07-18 08:06] alibi123 opened #323 "Adding multiline data in '+ Add New Data' -> 'Editable View'"
I want to add a multiline value into index but it converts every newline into whitespaces.

[2019-07-23 10:22] xukuitao opened #324 "Chinese characters issue in the chrome extension UI"
Hi,
when i use the chrome extension Dejavu UI and  try to enter a Chinese Characters at the Search Box ,the searching action will Interrupt my Typewriting.
so i can only input the English words  or use copy and paste to search a Chinese Characters.

the ElasticSearch Web UI  version: 3.4.0

my operating system: macOS

[2019-07-23 23:10] siddharthlatest commented on #324
@lakhansamani This works for DataSearch component and looks like a Dejavu specific issue.

[2019-07-23 23:13] siddharthlatest commented on #322
@alibi123 Can you try clearing cookies and try again, and let us know if this is indeed the issue? Another way to verify if that is the issue is by trying to access from an incognito tab.

Assuming it's the above, we can address this in an upcoming release.

[2019-07-27 08:09] josh-axy opened #325 "Cannot connect using username and password"
I can't connect to ES using my username and password when `xpack.security.enabled` is set to true.

My **URL format** in `dejavu` is like: `https://username:password@my.domain.com:9200`

My **index**: `*`

### My result:

![360截图20190727160114102](https://user-images.githubusercontent.com/7274196/61991807-225be780-b088-11e9-972f-373f8c58b577.jpg)

I can connect to ES in **Postman** manually using

[2019-07-31 09:07] wilddylan opened #326 "Support 1.7.5 es version?"
it Support 1.7.5 es version ???

[2019-07-31 20:32] siddharthlatest commented on #320
@lakhansamani I am seeing this issue with v7 ElasticSearch.

Edit: No, it was an unrelated issue.

[2019-07-31 20:34] #320 closed, assigned to nobody

[2019-08-01 22:19] consult-kk opened #327 "Broken"
Does this even work ?
I have ES 2.4.6 running as a docker image.
I started the docker image for the UI and when I try "http://localhost:9200" and provide the index name , it keeps saying some weird Network error.

[2019-08-01 22:45] siddharthlatest commented on #327
@consult-kk Have you applied the CORS settings to ES?

[2019-08-02 20:46] siddharthlatest opened #328 "Bug: Array of Objects values show up incorrectly"
When displaying values for an array of objects, they're displayed incorrectly.

**Example:**

In the below example, the `experience` field contains an array of objects, values for which can't be accurately represented in a single value field.

However, the values shown right now are incorrect.

![](https://i.imgur.com/AIgU5Vs.png)

**Recommendation:** We can do one of the following,

- One possibi

[2019-08-12 10:10] dzikiplankton commented on #322
Hi I have the same problem with local instance of dejavu.
I'm using it in network environment with proxy.

Can you please describe why i this login required can I somehow turn it off ?

[2019-08-14 19:03] Mr-Mickey opened #329 "Unable to export with xpack enabled."
I am able to get connect to the database and make changes to the data but cannot export with xpack enabled.

[2019-08-15 18:08] ganeshan opened #330 "Unable to import CSV file using import to ElasticSearch using docker-compose"
I cloned the repo and changed to the cloned folder.
using
`docker-compose -d`
I then created a new index called geo_states, using curl,
`curl -X PUT http://localhost:9200/geo_states`
I was able to navigate to
http://localhost:1358/importer/?appname=geo_states&url=http://127.0.0.1:9200&mode=edit&sidebar=true
However, when I upload a CSV file, and set the server url and app name, as shown in the scr

[2019-08-20 02:45] kuangju opened #331 "where is the importer sourcecode"
I want to develop the Importer Data module,but i can't find where is the sourcecode.At present,
What I am seeing is the compiled js file located in the package directory.Thank you very much.

[2019-08-27 09:50] lakhansamani commented on #329
@Mr-Mickey thank you for reporting this, will check and get back 👍

[2019-08-29 10:10] oshanz opened #333 "Error: Invalid `value` of type `number` supplied to Option, expected `string` when `tags/combobox` is `true`"
Error: Invalid `value` of type `number` supplied to Option, expected `string` when `tags/combobox` is `true`

![Screenshot from 2019-08-29 15-39-07](https://user-images.githubusercontent.com/5364479/63931625-48075280-ca73-11e9-992d-e84935d33079.png)

once I try to click long value field page get blank and get stuck.

[2019-08-31 12:26] dmaj opened #334 "Some missing information"
As I see it, the description for starting Elasticsearch is not complete. CORS missing: "http.cors.allow-methods=OPTIONS,HEAD,GET,POST,PUT,DELETE".

`docker run --name es -d -p 9200:9200 -e http.port=9200 -e http.cors.enabled=true -e http.cors.allow-origin="*" -e http.cors.allow-methods=OPTIONS,HEAD,GET,POST,PUT,DELETE -e http.cors.allow-headers=X-Requested-With,X-Auth-Token,Content-Type,Content-Le

[2019-09-01 23:31] wangwalton opened #335 "Unable to export data"
Export CSV doesn't work, export JSON downloads a text file with 'undefined'

[2019-09-06 07:18] scalaview opened #336 "dejavu access es server with 401 Unauthorized error in POST request"
the post request pass a wrong header to the server  **"Basic%20xxxx"**

![image](https://user-images.githubusercontent.com/3685513/64408252-da81a480-d0b8-11e9-9038-13edd07fc61f.png)

the correct one is **"Basic xxxx"**

![image](https://user-images.githubusercontent.com/3685513/64408419-4c59ee00-d0b9-11e9-8d17-22fa2310e864.png)

my dejavu docker image is
appbaseio/dejavu

[2019-09-17 16:08] javadevmtl commented on #320
Sorry, late reply. I just got back to this... And also wasn't clear enough...

I'm running appbaseio/dejavu:latest on a docker image.

I am able to connect and I can even browse no problem...

But the moment you specify an index name **with a wildcard * for example some-index-*** It does not connect. If I put the full index name it works no problem.

[2019-09-17 16:20] javadevmtl commented on #320
Also forgot to mention. Running: Elastic 6.4.2

1- So I connected to single index: my-index-2019.09 Works perfect.
2- Hit disconect.
3- Change name of index to: my-index-*
4- Connection blue bar animates for ever.

I did a browser debug. It may be stuck at getting the mapping for multiple indexes?

It tried these steps...
- search: http://xxxxxx/my-index-2019.09/_search?from=0&size=0 200 OK
- sett

[2019-09-20 07:22] liubhub opened #338 "Booleans displaying in Dejavu UI - after modifying and scrolling the old value is displayed, but data is modified"
Say I modify the first value to `true`:
![Screenshot from 2019-09-20 10-16-04](https://user-images.githubusercontent.com/39431745/65307196-f2b0f380-db8f-11e9-9f04-97f73d979ebe.png)
like this

![Screenshot from 2019-09-20 10-19-33](https://user-images.githubusercontent.com/39431745/65307391-5509f400-db90-11e9-9907-53bc44b4b82e.png)

And using this scroll at the bottom, scroll it to the  left, and t

[2019-09-20 08:36] lakhansamani commented on #338
@liubhub thank you for reporting this, will look into it 👍

[2019-09-20 08:38] lakhansamani commented on #336
@scalaview thank you for reporting this. I was not able to replicate this with latest docker image, can you share some example URL with Credentials?

[2019-09-20 09:53] lakhansamani commented on #320
@javadevmtl I tried following the similar process with latest Dejavu docker image and ElasticSearch 6.4.2. Where I tried connecting to multiple indexes using wild-card and it worked perfectly for me.

[2019-09-23 02:13] torrycrass opened #339 "Feature Request: Change Column Field Type"
Feature Request:

Allow editing of field _type_ via dajavu.

For example. say that the field type ended up imported incorrectly for a date and time and instead of it showing up as date it instead was imported as string.

Can dejavu be updated to allow the modification of the field type from _string_ to _date_?

[2019-09-24 10:45] liubhub opened #341 "Dejavu adds <mark> tag to data, when switching from viewing to editing mode"
If a field (string field, I'm not sure about others) is selected (as text in the browser) by mouse, it is highlighted by a yellow color (and it is OK!) but if switching to the editing mode, string field contains `<mark>` tag, and it changes the data!
After using Dejavu in our Elasticsearch index we have `<mark>data</mark>` instead of `data`

[2019-09-25 04:11] scalaview commented on #336
@lakhansamani unfortunately, this is an internal system, I can't share it with you. So sorry.

[2019-09-26 02:11] ghost commented on #256
@hm43 can you pls explain how you added this entrypoint to your docker-compose file ?? I am trying to replicate what you did but I don't know how. Please post your entire docker-compose file or other.
thank you ... I am trying to do exactly what you have posted here : axios.get("http://localhost:9200/", {} ).then(r => console.log(r.status));   can you actually get the data? I get status 200 also b

[2019-09-29 15:06] wbartussek opened #342 "Ubuntu 18.04, ERROR in ./app/src/components/SearchPreview.js"
Hi, I'm on Ubuntu 18.04 and just installed yarn (version 1.19.0)  successfully. Also, installing the dependencies by executing yarn finished without errors. My editor is VS Code, version 1.38.1.
However, when executing 'yarn start' I get:

yarn start
yarn run v1.19.0
$ NODE_ENV=development webpack-dev-server --open --mode development --content-base dist/app --history-api-fallback --hot -
-progress

[2019-09-30 13:50] umarfarooq4 opened #343 "Dejavu Elasticsearch Delete or Modify"
Before installing it, I would like to know if there is any delete or modify feature of the data available with Dejavu. I see that it lets you add new data and add mapping but can you delete and modify the data.

[2019-09-30 17:22] hangonlyra commented on #318
I'm seeing the exact same issue but I'm using the Chrome extension and connecting to a managed ES instance. Because it's a managed ES instance, I can't change the elasticsearch.yaml file. Why is  'https://opensource.appbase.io' involved in any of the requests?

[2019-10-01 04:40] lakhansamani commented on #343
@umarfarooq4 yes you can update/delete data as well. Also there are features to bulk update/delete data.

![example](https://i.imgur.com/GWu8YiP.png)

[2019-10-01 04:40] #343 closed, assigned to nobody

[2019-10-01 04:44] lakhansamani commented on #342
@ontoport seems like you missed on adding `batteries` submodule. Please refer to step 2 in [contributing guide](https://github.com/appbaseio/dejavu/blob/dev/CONTRIBUTING.md)

[2019-10-01 04:44] #342 closed, assigned to nobody

[2019-10-01 06:01] lakhansamani commented on #341
@liubhub thanks for reporting, will look into it

[2019-10-01 12:09] lakhansamani commented on #339
@torrycrass this feature is available with Paid apps on Appbase. It is called `App Settings`

[2019-10-01 12:09] #339 closed, assigned to nobody

[2019-10-02 22:50] Reiner030 commented on #336
I have maybe same problem
* using an internal URL like `https://user:pass@some-host:443/elasticsearch`
* within actual Chrome Plugin from https://chrome.google.com/webstore/detail/dejavu-elasticsearch-web/jopjeaiilkcibeohjdmejhoifenbnmlh
* Elasticsearch config added as found in some other issue/blog:
[code]
* Apache2 proxy setup like:
[code]

I can use the `Data Browser` and the `Search Preview` b

[2019-10-04 22:03] dudek-marcin commented on #317
Same problem here using "kibana_sample_data_flights" dataset from Kibana.
I am not able to use "Search Preview tool"

`"caused_by":{"type":"illegal_argument_exception","reason":"Can only use phrase prefix queries on text fields - not on [Carrier] which is of type [keyword]"}}}]},"status":400}`

[2019-10-04 22:15] siddharthlatest commented on #317
@dumar How are you using Dejavu? Which version are you on?

@lakhansamani @jyash97 I believe we have addressed this issue. Is this a sync issue?

[2019-10-04 22:23] dudek-marcin commented on #317
I used the newest released version, I have tried both docker and chrome extension.
Elasticsearch is also in the newest version 7.4.0

[2019-10-05 12:45] venttola commented on #327
You need to prepend the connection url with http:// or you'll get a network issue "You are trying to load http content over https. You might have to enable mixed content of your browser https://kb.iu.edu/d/bdny"

[2019-10-07 06:51] #341 closed, assigned to nobody

[2019-10-09 15:10] #327 closed, assigned to nobody

[2019-10-09 15:12] siddharthlatest commented on #334
@dmaj The methods are already defaulting to those, they don't need to be set explicitly. Other things you say are true, but we say them right on the home page.

Ref:

![](https://i.imgur.com/ppZvrbQ.png)

[2019-10-09 15:12] #334 closed, assigned to nobody

[2019-10-10 14:28] AndrewG-usr opened #346 "error trying to install locally"
I am trying to install dejavu locally i cloned it and when i try to run yarn i get the error :

error source-map@0.7.3: The engine "node" is incompatible with this module. Expected version ">= 8". Got "6.17.1"
error Found incompatible module.

[2019-10-10 14:29] lakhansamani commented on #346
@AndrewG-usr can you please try updating your node version?
It is recommended to have node version >= 8
https://github.com/appbaseio/dejavu/blob/dev/package.json#L11

[2019-10-10 14:31] AndrewG-usr commented on #346
@lakhansamani   im sorry i am new to this how would i go about updating the node version?

[2019-10-10 14:33] lakhansamani commented on #346
It depends on your Operating system.
You can install the latest version from here
https://nodejs.org/en/download/

[2019-10-10 16:15] AndrewG-usr commented on #346
@lakhansamani thank you for your help.

Can I run dejavu as a service?

[2019-10-10 16:20] siddharthlatest commented on #346
@AndrewG-usr Yes, you can. If you are making it publicly available as-is, you don't need to do anything additional.

If you are modifying the source, you need to [add an attribute to this project](https://softwareengineering.stackexchange.com/questions/218331/what-are-the-requirements-for-attribution-in-the-mit-license).

[2019-10-12 06:43] arbazkiraak opened #347 "File /dejavu/dist/app/cgi-sys/defaultwebpage.cgi not found!"
After connecting to `Elastic cluster` when I click on `Search Preview` option, Page will be redirected to `File /dejavu/dist/app/cgi-sys/defaultwebpage.cgi not found!`

![image](https://user-images.githubusercontent.com/13177578/66696387-3e674080-ece9-11e9-8bbd-884adfd2e45b.png)

But using https://dejavu.appbase.io UI online works fine without any errors.

[2019-10-12 14:59] DMW007 opened #348 "Keep assets locally instead of remote for privacy and CORS reasons"
Having a local development server without https, I got a mixed content error in query explorer. The regular data browser works. Since I don't use any https locally, I found out that this error came from https://opensource.appbase.io/mirage/dist/js/vendor.min.js and was wondering why it's a remote url. In the network requests, I saw a horrible bunch of requests to remote requests to opensource.appb

[2019-10-13 04:26] vincent-163 opened #349 "HTML data not escaped"
When viewing data that contains HTML in Data Browser, the javascript code got executed.

I expected to view HTML in raw text.

[2019-10-14 05:18] Jonarod commented on #322
Same issue here... Tried @siddharthlatest suggestion: cookies clear or incognito. I get the same screen.

[2019-10-17 03:21] flaprano commented on #318
Same case here.
Can't query via Dejavu and can't change the elasticsearch.yml because it's managed by my organization.
The query via ElasticSearch Head plugin works just fine.

[2019-10-17 08:12] madhur commented on #160
I am getting this error while importing the data from Dejavu.

[2019-10-17 08:15] madhur opened #350 "Cannot read property 'getHostNode' / 'Text' of null"
Getting this error while importing the data into DejaVu UI.

[code]

[2019-10-24 09:40] dkajtoch opened #351 "Still do not know how to connect to Elasticsearch running on GCP"
I am running dejavu and elasticsearch on Google Cloud virtual machine from inside Docker container. I m using docker-compose.yaml (below). I opened firewall on ports 9200, 9300, 1358. I have static ip address attached to the machine. I can open dejavu by running `http://static_ip:1358` and I can even play with Elasticsearch on port 9200, by running e.g. `http://static_ip:9200` or `http::static_ip:

[2019-10-24 09:42] lakhansamani commented on #351
@dkajtoch can you try connecting to dejavu from https://dejavu.appbase.io using http://static_ip:9200 and share if there are any errors.

[2019-10-24 11:17] dkajtoch commented on #351
@lakhansamani No luck with that. The same request in the browser `http://static_ip:9200/test`, gives me
[code]
I have no idea what is going on. I need to mention that I do not have any documents in the elasticsarch. I just wanted to test if things are ok.
![image](https://user-images.githubusercontent.com/32985207/67480456-3f409080-f660-11e9-8478-88352f998131.png)

[2019-10-24 14:31] dkajtoch commented on #351
I entered running dejavu container in order to check is elasticsearch is reachable and it is. I can curl it with `curl elasticsearch:9200/test` and get back the json.

[2019-10-24 14:40] siddharthlatest commented on #351
@dkajtoch Can you share the error you see in the console? Given that it works from your browser but not via Dejavu, I suspect it's a CORS issue. Also that correlates with your docker-compose file. You need to whitelist `https://static_ip:$port` where Dejavu is running in the browser in your `http.cors.allow-origin` setting.

[2019-10-24 20:39] dkajtoch commented on #351
@siddharthlatest That was it! Needed to add my static_ip address. It works now. Thanks a lot :)

[2019-10-24 20:39] #351 closed, assigned to nobody

[2019-10-25 10:54] ShahAnuj2610 commented on #333
antd does not support the value of type integer for type `Option` => https://github.com/ant-design/ant-design/issues/2857.
One solution is to `typecast` to the string while mapping the data object, but it will also send the value to the backend as a string. So if it's an array of integers, then instead of `[1, 2]`, it will get sent as `["1", "2"]`. Would there be any side-effects if we do this cha

[2019-10-28 11:30] #338 closed, assigned to nobody

[2019-10-28 11:31] lakhansamani commented on #338
@liubhub sorry for the delay issue is fixed here https://github.com/appbaseio/dejavu/pull/352

[2019-10-28 11:39] lakhansamani commented on #349
@vincent-163 we are parsing HTML so that we can provide a better search experience with highlights example
![](https://i.imgur.com/pmE0opE.png)

In case you need to view the raw HTML you can view it from JSON data, by clicking on `{..}` before the `_id` field
![](https://i.imgur.com/x53Xl2I.png)

[2019-10-28 11:39] #349 closed, assigned to nobody

[2019-10-28 12:56] #333 closed, assigned to nobody

[2019-10-28 12:56] lakhansamani commented on #333
@oshanz thank you for reporting, issue is fixed here
https://github.com/appbaseio/dejavu/pull/354

[2019-11-01 04:14] eldyvoon commented on #346
Having the same issue, can't do ```npm i```

![image](https://user-images.githubusercontent.com/2796189/68001907-2a3bb100-fca1-11e9-9838-c9667cc9a0c2.png)

[2019-11-01 04:17] lakhansamani commented on #347
@arbazkiraak have you added submodules required by dejavu. For more information, you can check local build [guide](https://github.com/appbaseio/dejavu/blob/dev/CONTRIBUTING.md)

[2019-11-01 04:20] lakhansamani commented on #335
@wangwalton can you share if there are any console errors?

[2019-11-01 04:25] lakhansamani commented on #326
@wilddylan for older ES version you can check older Dejavu Version
https://opensource.appbase.io/dejavu/live/

[2019-11-01 04:25] #326 closed, assigned to nobody

[2019-11-01 04:53] lakhansamani commented on #346
@eldyvoon thank you for reporting this. I was able to replicate this with `npm i`.
It worked with `yarn` for me so can you try `yarn install`/ `yarn` to install the dependencies.

I will try to fix the issue with `npm i` soon.

[2019-11-01 06:48] #347 closed, assigned to nobody

[2019-11-04 11:19] brendanwheble commented on #350
Exactly the same issue for me

[2019-11-04 11:19] lakhansamani commented on #350
@madhur @brendanwheble thank you for reporting this, will look into it

[2019-11-04 22:23] bakztfuture opened #355 "Search by _id in data explorer?"
Is there a way to look up a specific document by its `_id` in the data explorer?  This could help me speed up manual edits of documents a lot quicker, my documents are sorted by a unique text ID, not randomly generated.

Even if I could search only the `_id` column instead of globally it would really help narrow down potential document matches.  Is that possible instead?

Thanks again - Dejavu is

[2019-11-07 04:22] oroup opened #356 "Specify mount path"
It would be great to be able to mount Dejavu at a particular mount path so we don't need a unique host for it. I'd love Dejavu to be able to live at /admin/dejavu because I already have an authenticating proxy in place for that URL space. Obviously this could be done with nginx or some other kind of proxy but would be great if that were unnecessary.

[2019-11-11 05:49] lakhansamani commented on #355
@bakztfuture thank you for sharing this input.

For now, you can search by `_id` values by inputting them in the global search bar.
I know that includes all the fields in the search query. But we can come up with a feature where it searches only on visible fields, which you can manage using the settings button.
![](https://i.imgur.com/hUsGvjT.png)

[2019-11-11 10:12] lakhansamani commented on #350
@madhur @brendanwheble can you share more details about the above error.

It would be great if you can share
* Which version of ElasticSearch you are using
* What kind of file you are trying to import
* Whether you are using the Web version of Dejavu, a chrome extension or a self-hosted version.

[2019-11-11 11:32] brendanwheble commented on #350
ES: 7.4.2
JSON file
Web version

[2019-11-12 17:41] lakhansamani commented on #350
@brendanwheble thank you for providing this information, I will try replicating the issue with the above version and let you know.

[2019-11-13 01:23] aaronychu opened #357 "Search Preview in Locally built Dejavu doesn't work"
I tried to build a Searching UI with Dejavu, so I tried to Search Preview function. It doesn't work in my local built Dejavu, however it does work when I output the Index to a JSON file and upload to appbased.io.
by the way, my index was created with FSCrawler

[2019-11-18 03:57] lakhansamani commented on #357
@zydisney did you followed the second step mentioned [here](https://github.com/appbaseio/dejavu/blob/dev/CONTRIBUTING.md) correctly, i.e. Adding batteries submodule?

Also, it will be helpful if you can share some errors from the browser console.

Another thing to keep in mind using Search Preview is that it only works if you have connected to a single index. If you try connecting using regex / co

[2019-11-18 04:02] lakhansamani commented on #356
@oroup since this is not a generic scenario, it would be difficult to decide mount path for all the use cases.

[2019-11-26 03:03] arxpoetica commented on #90
@siddharthlatest do you have an example of what this would look like?

[2019-11-28 07:47] Leehom23 opened #358 "Just show search result, nobody can modify data,how to do it"
Hi,
    i want to hide some funcitons ,such as edit,import. i just want search and download data. Thank u!

[2019-11-30 23:53] #358 closed, assigned to nobody

[2019-12-01 00:11] siddharthlatest opened #361 "Bug: Export breaks for v7"
**Describe the bug**
Dejavu uses `_doc` as the type replacement for v7. However, the _search endpoint `/:index/:type/_search` has been removed starting v7 - which is used by Dejavu for exporting, causing the export to break.

**Dejavu Version**
Web, latest

**To Reproduce**
Steps to reproduce the behavior:
1. Use ES 7.4.2,
2. Connect Dejavu with an index,
3. Export Data

**Expected behavior**
It s

[2019-12-10 14:21] icoxfog417 commented on #330
If you import the data to elasticsearch, it only allows `JSON` format data.
You have to convert `csv` to `json.`

[2019-12-17 03:34] jzdayz opened #362 "Cannot delete row data"
**Describe the bug**
Cannot delete row data

**Dejavu Version**
3.4.0

**To Reproduce**
1.connect es
2.delete row data
**Expected behavior**
Expecte :  delete success
virtually : delete doesn't work

**Screenshots**
![image](https://user-images.githubusercontent.com/35563513/70962669-e8d05b00-20c0-11ea-9740-18399ae175d8.png)
![image](https://user-images.githubusercontent.com/35563513/70962677-ee2d

[2019-12-17 04:05] lakhansamani commented on #362
@jzdayz thank you for reporting this.

I tried replicating this issue, but for me, deletion worked correctly.
Can you share more information about the application and error here?

The following information will be helpful in debugging.

1. How you are connecting with Dejavu
- [ ] Web Version
- [ ] Docker Version
- [ ] Chrome Extension

2. Which ElasticSearch version cluster/index you are connectin

[2019-12-17 04:06] lakhansamani commented on #357
@zydisney closing this issue for now. Let us know if you are still facing this issue.

[2019-12-17 04:06] #357 closed, assigned to nobody

[2019-12-17 04:06] #356 closed, assigned to nobody

[2019-12-18 21:22] hassaanseeker opened #364 "Manage Mapping"
Unable to change usecase of DataTypes.

Getting the following error.

To prevent data loss, we have restored your original mappings. You can fix this and retry.

[2019-12-19 03:55] lakhansamani commented on #364
@hassaanseeker it would be great if you can share reproducible steps here.

[2019-12-19 05:28] hassaanseeker commented on #364
@lakhansamani if i go to App-Settings and try to change the mapping I get the following error as below:

[https://user-images.githubusercontent.com/7199288/71147278-bdc14500-2241-11ea-9f15-403ec849a359.jpeg]

[2019-12-19 05:41] jzdayz commented on #362
Sorry i didn't reload , it worked , Thanks 🤝

[2019-12-19 05:41] #362 closed, assigned to lakhansamani

[2019-12-19 05:44] lakhansamani commented on #364
@hassaanseeker thank you for reporting this.

This issue is not related to dejvau, so closing it here.
but we will definitely look into this and get back to you via email.

[2019-12-19 05:44] #364 closed, assigned to lakhansamani

[2019-12-19 15:26] siddharthlatest commented on #364
@hassaanseeker Just to keep you updated, this was an issue related to the appbase.io service and it's resolved now.

[2020-01-02 08:38] rpo19 commented on #318
Query Explorer seems to load a frame from https://opensource.appbase.io.
Add `https://opensource.appbase.io` to elasticsearch `http.cors.allow-origin` to allow this frame to call your ES instance.

[2020-01-02 17:36] hangonlyra commented on #318
Again, because I use a managed ES instance, I can't change the configuration for ES. More importantly, why is Deja Vu making an unnecessary request to "https://opensource.appbase.io" and thus causing this error?

[2020-01-09 09:26] abrantes01 commented on #325
Hello @cosloli , did you find any solutions ?

[2020-01-13 09:40] benlavalley commented on #356
@oroup did you ever sort out using a proxy in front of Dejavu?

I'm finding it a bit difficult as Dejavu is responding with asset URLs that aren't including my proxy mount path, and I can't quite figure out how to resolve it. The closest I've come is using nginx's sub module which can modify HTTP responses, which allows some of the initial JS to load (vendor, main), but further requests aren't wor

[2020-01-20 07:28] vedmant commented on #318
I have the same issue, I use chrome extension and added needed cors settings, but still when I try to search something it returns 403 error on requests like: http://localhost:9200/nhg_surgeries_index_1579504393/_msearch?

[2020-01-20 19:14] lakhansamani commented on #318
Query explorer opens within the iframe at the moment, which does not allow mixed contents.

Can you please try using
https://opensource.appbase.io/mirage/

Thanks.

[2020-01-21 21:57] jerrac commented on #348
So, I was running into this issue as well. It looks like this https://github.com/appbaseio/dejavu/blob/f3293cc22fd8851602af4e053918333914dd66b5/app/src/components/QueryExplorer.js#L84 is the offending line.

If I'm reading that correctly, DejaVu loads Mirage in an iframe, then autofills in your Elasticsearch connection details.

Since it's loading a remote app, we really don't want it to not be ht

[2020-01-22 03:26] lakhansamani commented on #348
@jerrac thank you for reporting this. We are working on converting projects into pluggable packages. We will update once we have mirage converted and migrated into package.

Till that you can use https://opensource.appbase.io/mirage/

[2020-02-10 09:13] ccwxl opened #376 "chrome ext"
https://chrome.google.com/webstore/detail/dejavu/jopjeaiilkcibeohjdmejhoifenbnmlh

open error 404

[2020-02-10 09:16] lakhansamani commented on #376
@siaron thank you for reporting this

There are some changes in chrome extension store policies, we are working on it.
This should be fixed soon!

[2020-02-11 21:45] stonesthatwhisper commented on #256
@siddharthlatest is the `entrypoint` method required for elasticsearch > 7? The current code in the [docker-compose](https://github.com/appbaseio/dejavu/blob/dev/docker-compose.yml) file went away from the `entrypoint` method. The `entrypoint` method fails for me: elasticsearch container failed to start with "cannot run as root". (update: I am not running dejavu, but trying to make search requests

[2020-02-12 08:29] ttimasdf opened #377 "Deletion of rows not work due to deprecated API"
**Describe the bug**
Rows deletion not work in Dejavu. After clicking Delete button, Dejavu invoke the following request.
[code]
Response. As shown, `deleted` shows 0 rows are deleted actually.
[code]

Copy the request over to Kibana and delete `/_doc` fragment inside the URL and it works.
![图片](https://user-images.githubusercontent.com/2762704/74314861-33b0db00-4db1-11ea-9d57-8ff5884e5b27.png)

K

[2020-02-13 14:21] #377 closed, assigned to lakhansamani

[2020-02-13 14:27] lakhansamani commented on #377
@ttimasdf thank you for reporting this!

we have fixed it here https://github.com/appbaseio/dejavu/pull/378

[2020-02-17 19:26] Rathna-K commented on #376
any other way to try this out? doing a PoC at the moment and stuck here.

[2020-02-17 19:27] siddharthlatest commented on #376
@Rathna-K You can try via https://dejavu.appbase.io.

[2020-02-17 19:28] Rathna-K commented on #376
yes but i am trying it with the local elasticsearch instance inside debian console. anyway to download this as a package or is there a way to download the chrome extension in developer mode?

[2020-02-17 19:37] siddharthlatest commented on #376
@Rathna-K You can use Docker Hub: https://hub.docker.com/r/appbaseio/dejavu to get Dejavu locally.

[2020-02-21 09:01] freddiN commented on #376
Any chance to get back in the chrome store or provide us with an installable bin? Installing docker just to get this plugin is not really an option for me ...

[2020-02-24 02:49] littlehome-eugene commented on #324
I'm not sure if it's related,

when I type korean in searchbox in Docker hosted, the characters are not enterered correctly (it is typed as if a space is typed right after each keystroke)

[2020-02-24 02:55] littlehome-eugene opened #379 "ability to change column ordering?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

It seems that column is ordered alphabetically.
I'd like to change the column order (not trying to sort by column)

**Describe the solution you'd like**
It would be great if we could drag column headers to reorder the columns

**Describe a

[2020-02-24 05:13] littlehome-eugene opened #380 "persist column selections?"
**Is your feature request related to a problem? Please describe.**

We have many fields, and want to show only subset of fields

**Describe the solution you'd like**

Would like to persist the field selection.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or scre

[2020-02-24 08:10] littlehome-eugene opened #381 "source editing in local development mode"
**Describe the bug**

In local development mode, modification is not applied

**Dejavu Version**
Your version of Dejavu and how you're running it: Web, Chrome Extension or as a Docker Image.
Web, current master version. (git clone)

**To Reproduce**
follow https://github.com/appbaseio/dejavu/blob/dev/CONTRIBUTING.md

I managed to connect to the local running server.

However the code change I made

[2020-02-26 08:19] littlehome-eugene commented on #328
I'd like to take a look at this, and wonder if you can give a starting point to look at

file name, variable name, etc..

[2020-03-03 15:57] lakhansamani commented on #381
@littlehome-eugene thank you for reporting this.

I have tried fixing it, can you try with the latest `dev` branch.

[2020-03-04 16:05] thomasbalezeau commented on #181
hello , is the feature coming soon ? thanks

[2020-04-03 10:19] geo909 commented on #90
Apologies for resurrecting this, but could somebody briefly explain why we would now use custom headers to connect to an aws elasticsearch instance?

[2020-04-06 09:53] hasaigeigg opened #382 "为什么启动报错,我该如何操作呢?求教各位大佬"
运行yarn dev:browser将启动watcherunder packages/browser软件包，即@appbaseio/dejavu-browser。
运行yarn dev:dejavu以启动webpack-dev-server端口1358

但是在本地报了错误导致无法启动
yarn run v1.19.1trator\Desktop\dejavu-dev>yarn dev:dejavu
$ lerna run watch --scope dejavu-main --stream
lerna info version 2.11.0sktop\dejavu-dev>"node"  "C:\Users\Administrator\AppData\Roaming\npm\\node_modules\yarn\bin\yar
lerna info scope dejavu-main
d

[2020-04-06 09:57] #382 closed, assigned to lakhansamani

[2020-04-06 13:35] lmcgit1 opened #383 "How a novice should start a project"
How should I start the project with vscode? There is no file in my batteries folder. I executed the build command and didn't write the file into it. I'm a rookie,

[2020-04-06 13:36] lakhansamani commented on #383
@lmcgit1 you can follow instructions mentioned here
https://github.com/appbaseio/dejavu/blob/dev/CONTRIBUTING.md#starting-dev-server

[2020-04-06 13:40] lmcgit1 commented on #383
yarn run v1.22.4
$ lerna run watch --scope dejavu-main --stream
lerna info version 2.11.0
lerna info scope dejavu-main
dejavu-main: $ NODE_ENV=development webpack-dev-server --open --mode development --content-base dist/app --history-api-fallback --hot --colors --port 1358
dejavu-main: 'NODE_ENV' �����ڲ����ⲿ���Ҳ���ǿ����еĳ���
dejavu-main: ���������ļ���
dejavu-main: info Visit https://yarnpkg.com/e

[2020-04-06 13:43] lmcgit1 commented on #383
Execute according to the command in your document, node reports an error

[2020-04-06 13:43] lakhansamani commented on #383
Which node and yarn version are you using?

[2020-04-06 13:45] lmcgit1 commented on #383
PS D:\dejavu> node -v
v12.16.0
PS D:\dejavu> yarn -v
1.22.4
PS D:\dejavu>

[2020-04-06 13:54] lakhansamani commented on #383
Not sure seems like windows specific error.

[2020-04-06 13:57] lakhansamani commented on #383
Seems like there is open issue for this, you can try following solutions there.
https://github.com/lerna/lerna/issues/1457

[2020-04-06 13:59] lmcgit1 commented on #383
ok  thank you！！！！

[2020-04-06 14:00] #383 closed, assigned to lakhansamani

[2020-04-08 17:52] robertalers commented on #170
I hope you can help me: I get the same error, and since I use a docker i have have no nginx/apache?
Strange thing is: the 'data browser' can connect with no issues, only connecting with the 'search preview' generates this error..
Please help!

[2020-04-08 17:58] robertalers commented on #170
Stupid! turning off the toggle: record analytics did the job: it works now :-)

[2020-04-14 09:44] littlehome-eugene commented on #381
Thanks.. but.. It is not working

I restarted

[code]

My latest upstream commit is `78ab7eb8`

[2020-04-14 09:47] littlehome-eugene commented on #381
the path where file is loaded changed, but it is not reflecting change I made

[2020-04-14 09:53] littlehome-eugene commented on #381
Oh actaully, after i do `yarn install` it works fine!

[2020-04-14 11:54] littlehome-eugene commented on #381
arr.. actually,

files under `dejavu-main` works
but you can only see `lib` versions for files under `browser`

[2020-04-15 06:18] #381 closed, assigned to lakhansamani

[2020-04-15 06:20] littlehome-eugene commented on #379
I made this myself.. would like to send a pull request,

but I have other modifications which are specific to my needs.. (such as using default port)...
They are not many but I can't clean up commits :(

![dejavu](https://user-images.githubusercontent.com/24217396/79304578-a1ea5900-7f2c-11ea-89dd-0b5f2f261160.gif)

[2020-04-15 21:01] dodtsair opened #384 "Supported "editting" a records _id column"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
My application expects records to have a speciifc _id.  Sometimes that _id gets our of shape.  I would like to be able to go in and edit the _id value.  Now this is not really editting, instead I would like to take the existing document rei

[2020-04-18 14:04] littlehome-eugene opened #385 "typing non-ascii (korean) in search box (databrowser) is buggy"
**Describe the bug**

when I type `한글` it is typed something like as `ㅎㅏㄴㄱ-ㄹ`

**Dejavu Version**
Your version of Dejavu and how you're running it: Web, Chrome Extension or as a Docker Image.
3.4.3
running locally

**To Reproduce**
Steps to reproduce the behavior:
databrowser

type non ascii character

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screens

[2020-04-20 11:37] littlehome-eugene commented on #385
I'd like to try newest reactivesearch with newest downshift and somehow it's hard to do that.. can you help me ?

[2020-04-21 01:15] littlehome-eugene commented on #385
I made a pull request, although it fails for some reason :(

https://github.com/appbaseio/reactivesearch/pull/1423

[2020-04-29 18:54] acosta-edgar commented on #251
What about updating the filter counts after a search is executed?
Currently, whenever I perform a search, the filter option numbers don't get updated, which kind of renders the filters useless.

Now, it does not really need a lot of extra queries, it just needs to add some aggregations on the main query.

[2020-05-05 19:33] vakrolme commented on #306
Same error with the setup below. Should it be supported?

**Dejavu** 3.4.6
**Elasticsearch** 7.6.0
**Chrome** Version 81.0.4044.129 (Official Build) (64-bit)
_Insecure content_ explicitly allowed in Site Settings
[code]
<img width="807" alt="Screen Shot 2020-05-05 at 21 29 32" src="https://user-images.githubusercontent.com/17144873/81107779-fbd0b400-8f17-11ea-8832-41d1ceb85b83.png">

[2020-05-08 14:10] matthewsheeran opened #387 "The Chrome Extension link is broken and I cannot find it through a search"
**Describe the bug**
The Chrome Extension link is broken and I cannot find it through a search - what gives!?

**Dejavu Version**
Chrome Extension

**To Reproduce**
Steps to reproduce the behavior:
https://chrome.google.com/webstore/detail/dejavu/jopjeaiilkcibeohjdmejhoifenbnmlh
=>
404 Not Found and cannot find a dejvu Extension through a search of the store !

WTF!?

[2020-05-11 12:52] 0EQUALIZERO opened #388 "Search multiple indicies with Dejavu"
As of Dejavu 3.0 it supports browsing of multiple ES indicies I would like to see support for making search previews too against multiple indicies. ReactiveBase in reactivesearch accepts multiple indicies as comma separated values in it's configuration.

[2020-05-13 13:40] average-everyman opened #389 "guide/general: django integration"
Hello,

is there any guide / manual available on how to integrate dejavu into a django project?

Thank you in advance for any advice or hints.

Kind regards,
ae

[2020-05-16 14:31] matthewsheeran commented on #387
Love to get this working so I can try out CSV PSV importing into ES through the Chrome Extension without installing the whole application.

[2020-05-19 08:59] le-doude commented on #387
👍 to this

[2020-05-19 13:05] thaenor commented on #387
https://github.com/appbaseio/dejavu/pull/386

[2020-05-21 02:33] yx-hh commented on #325
I can do it!
My URL format in dejavu is like: https://username:password@my.domain.com:9200

[2020-05-21 06:05] lakhansamani commented on #325
@EstellaHuang can you share console error here, that would help in debugging the issue.

[2020-05-21 06:21] yx-hh commented on #325
@lakhansamani when I type https://username:password@my.domain.com:9200 and index, choose connect, I can get my ES data without any error. So I think in this way, it works. My ES version 7.7.0 with enabled Xpack and SSL.

[2020-05-25 03:17] BardoQi opened #390 "Failed to execute 'fetch' on 'Window': Invalid name"
**Describe the bug**
I am using the docker version of dejavu.
At first we connection local elasticsearch directory. And I got error:
Failed to execute 'fetch' on 'Window': Invalid name
Possible Errors
Invalid connection string or index name
Please check if Elasticsearch cluster is up and running
And then I fllowing the config wizard on https://stackoverflow.com/questions/50231296/how-to-use-dejavu

[2020-05-25 03:20] BardoQi commented on #390
PS: my elasticsearch.yml is add the text:

http.port: 9200
http.cors.allow-origin: "http://localhost:1358"
http.cors.enabled: true
http.cors.allow-methods: OPTIONS, HEAD, GET, POST, PUT, DELETE
http.cors.allow-headers: X-Requested-With,X-Auth-Token,Content-Type,Content-Length,Authorization
http.cors.max-age: 86400
http.cors.allow-credentials: true

[2020-05-25 08:55] BardoQi commented on #390
FIREFOX could open from URL  : http://localhost:1358/?appname=*&url=http://localhost:9200&mode=edit
and Chrome, after do sth according this url:
https://stackoverflow.com/questions/35432749/disable-web-security-in-chrome-48
also could open from URL  : http://localhost:1358/?appname=*&url=http://localhost:9200&mode=edit

but we always unable to connection with button click.

[2020-05-26 15:07] cjancsar commented on #288
Yes, the issue seems to be that there is no "empty state" when an index does not exist and elasticsearch is empty. Instead it just gives an un-intuitive connection error message.

[2020-05-28 11:27] jyash97 opened #391 "Add search in columns selector"
**Is your feature request related to a problem? Please describe.**
When we have more than 10 columns, it becomes difficult to find the column names.
![image](https://user-images.githubusercontent.com/22376783/83135880-29b6ac00-a104-11ea-89f5-9a0fc14fa0c2.png)

**Describe the solution you'd like**
Adding a search bar would help searching for the specific column.

[2020-06-11 23:59] uBadRequest commented on #379
How about resizing columns?

[2020-06-15 08:35] silvermoonhy opened #392 "how can i delete some fields with dejavu"
like this tittle, i want to delete some fileds with dejavu，but i can not find that。-_-;

[2020-06-18 18:31] davkap92 commented on #387
https://chrome.google.com/webstore/detail/dejavu/lcanobbdndljimodckphgdmllahfcadd?hl=e is the new one seems to work

[2020-06-23 12:07] j0k3r commented on #387
@thaenor @davkap92 looks like it's an old version: _November 10, 2016_
When you open it it display a new version 0.9.0 .. with a link to that 404.

Could you help us @lakhansamani @ShahAnuj2610 ?

[2020-06-23 12:39] tohardik commented on #387
+1, would like to have the latest version as Chrome extension

[2020-06-23 12:43] j0k3r commented on #387
Just figured out how to build the extension on your own.

1. `git clone https://github.com/appbaseio/dejavu.git` (the repo is pretty heavy 91 Mo)
1. `cd dejavu`
1. `yarn install` (if you don't have yarn: https://classic.yarnpkg.com/en/docs/install)
1. `git submodule init && git submodule update`
1. `yarn build:chrome-extension`
1. The generated extension is located in `packages/dejavu-main/dist/ap

[2020-06-25 16:02] DanBrk opened #393 "Error when running locally"
Hi,
I am trying to run locally on Windows 10.
I followed the instructions and got the following in the log

1 silly flags {
1 silly flags   _: [ 'run' ],
1 silly flags   'reject-cycles': false,
1 silly flags   rejectCycles: false,
1 silly flags   stream: true,
1 silly flags   scope: 'dejavu-main',
1 silly flags   script: 'watch',
1 silly flags   args: []
1 silly flags }
2 verbose rootPath D:\dejav

[2020-06-26 15:05] lakhansamani commented on #393
@DanBrk thanks for reporting,

fixed here: https://github.com/appbaseio/dejavu/commit/6ac077646796c9b238596ac41ce15f10c68c5e26

[2020-06-26 15:05] #393 closed, assigned to lakhansamani

[2020-06-26 15:16] lakhansamani commented on #392
@silvermoonhy you cannot delete a field using Dejavu.

Schema setting is an exclusive feature of https://appbase.io/#hosting,
You can bring your own ElasticSearch Cluster to Appbase.io or create one using Appbase hosting services.
Here is an example of that
![](https://www.dropbox.com/s/56oo571r4qmlug3/Screenshot%202020-06-26%2020.41.53.png?raw=1)

[2020-06-26 15:16] #392 closed, assigned to nobody

[2020-07-02 23:26] #202 closed, assigned to nobody

[2020-07-16 14:41] peelnpunch opened #394 "Document fields not mapping to columns"
**Describe the bug**
I am able to successfully connect to the index and perform CRUD operations on the raw json itself, but the document fields do not populate to columns. I only get 3 columns; _id, _index, and _type instead of the field names within the document itself.

**Dejavu Version**
Running version 3.4.2 as a Docker Image.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to in

[2020-07-17 03:06] gosaintmrc opened #395 "应该添加windows下可安装的安装包文件"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-17 03:09] lakhansamani commented on #394
@peelnpunch can you share which version of ElasticSerch you are using here?

[2020-07-17 08:04] peelnpunch commented on #394
@lakhansamani I'm running on 7.7

[2020-07-28 13:46] katatohuk commented on #325
Is that neccessary to use https ? I cant get it working with http :(

[2020-07-28 14:47] yx-hh commented on #325
@katatohuk No need to use https, http is ok too, you should check if there are some special character in your username or password, so it can't connect, such as '@'

[2020-07-28 17:29] #390 closed, assigned to lakhansamani

[2020-07-28 17:35] lakhansamani commented on #394
@peelnpunch we have released a new version 3.4.7.
Can you please try using that version and let us know if the issue still persists.

Also, it would be great if you can share a reproducible scenario.

[2020-07-28 17:41] lakhansamani commented on #389
@average-everyman sorry there is no such manual available at the moment.

Our recommendation is to host independently or use the hosted version of dejavu.

[2020-07-28 17:41] #389 closed, assigned to nobody

[2020-07-28 17:56] lakhansamani commented on #388
@0EQUALIZERO thank you for bringing this up. We will see if we can add this in our next roadmap.

[2020-07-29 07:31] katatohuk commented on #325
Right, I already figured out that it's not neccessary to use https, but the weird thing I still can't connecto to ES from dejavu
Maybe there is a way to get a more verbose output while connecting ?
I'm trying to connect to my cluster as http://elastic:PaSSw0rd@10.205.25.101:9200
I tested the connection from the different places and it works, used both commands:
[code]
xpack and cors enabled
Any id

[2020-07-29 07:55] yx-hh commented on #325
my configuration in ‘elasticsearch.yml’ as follow
[code]
Can you find out any difference?

[2020-07-29 07:59] katatohuk commented on #325
which version of ES are you using ?

[2020-07-29 08:02] katatohuk commented on #325
Mine is as follows:
[code]

[2020-07-29 08:04] yx-hh commented on #325
@katatohuk  elasticsearch:6.8.3

[2020-07-29 10:16] katatohuk commented on #325
Weird, tried different versions already, still can't connect, now using oss ES version, turned off autorization. Dejavu is running as a container in k8s cluster, able to curl/wget elasticsearch internal name/IP address, but from UI doesn't work :(

[2020-07-29 10:31] yx-hh commented on #325
maybe it's something wrong with your dejavu. My dejavu is running as a container but not in k8s cluster.

[2020-07-29 10:34] lakhansamani commented on #325
@EstellaHuang we have released new version 3.4.7 of Dejavu yesterday, which fixes issue with basic auth login.

Can your try that and let us know if that works or issue still continues.

[2020-07-29 10:49] yx-hh commented on #325
@lakhansamani the new version also works for me.

[2020-07-29 11:11] lakhansamani commented on #325
Awesome, closing this issue now

[2020-07-29 11:11] #325 closed, assigned to nobody

[2020-08-03 08:15] silvermoonhy opened #397 "date format error"
**Describe the bug**
my dto object has a field with LocalDateTime type

`  @DateTimeFormat(pattern = "yyyy-MM-dd\'T\'HH:mm:ss.SSS\'Z\'")
    @JsonFormat(pattern = "yyyy-MM-dd\'T\'HH:mm:ss.SSS\'Z\'")
    private LocalDateTime createTime;`

and i use RestHighLevelClient write to elasticsearch
` UpdateRequest request = new UpdateRequest(index, id);
        Gson gson = new GsonBuilder().registerTypeAd

[2020-08-03 15:54] peelnpunch commented on #394
@lakhansamani that seems to have worked, thanks!

[2020-08-04 06:13] #394 closed, assigned to lakhansamani

[2020-08-04 06:15] lakhansamani commented on #397
@silvermoonhy thank you for reporting will look into this.

[2020-08-04 13:09] uckelman commented on #397
I can confirm I'm also seeing this issue, in Firefox with the version of dejavu I got from appbaseio/dejavu on Friday.

[2020-08-07 16:15] matkosoric opened #399 "Resizeable JSON popup"
It would be useful to have a _resizeable_ popup window for JSON content (showed after clicking on {...} ), instead of small _fixed_-size popup with scroll bars.

[2020-08-13 05:45] gh-doot commented on #78
'ight why did i litterally come in here from google ._.

[2020-09-30 04:17] meeech opened #402 "dockerhub tag latest needs update"
Readme gives example using `latest` tag, but that tag is not pointing to 3.4.7

https://hub.docker.com/r/appbaseio/dejavu/builds

I only noticed because I was getting #390 error, and I see it was resolved.

thanks for the great util!

[2020-10-02 16:22] siberian1967 commented on #376
Really sad this is not in Chrome store anymore. Our new data analysis team wants it but don't have ability to run their own infrastructure :(

[2020-10-02 17:46] siddharthlatest commented on #376
@siberian1967 It's still available in a hosted form at dejavu.appbase.io.

[2020-10-03 12:44] freddiN commented on #376
But that only worsk for clusters reachable from the internet, doesn't it?

[2020-10-04 20:40] aedenj opened #403 "Specify Cluster and Index in Docker Compose File"
**Is your feature request related to a problem? Please describe.**
I would like to set default values for the cluster address and index from a docker-compose file.

**Describe the solution you'd like**
The ability to set environment variables for the cluster address and index in a docker-compose file. Also, after firing up the containers and browsing to Dejavu the index(s) are displayed.

**Descri

[2020-10-20 12:10] waqarilyas opened #404 "MusicApp"

[2020-10-20 12:10] #404 closed, assigned to nobody

[2020-11-02 08:06] q757571446 commented on #306
same issue

[2020-11-11 15:00] marcgise opened #405 "Can't start following steps in contributing page"
**Describe the bug**
I can't build and start the application following the steps in the contributing pagr: https://github.com/appbaseio/dejavu/blob/dev/CONTRIBUTING.md

I also tried to make a 'npm install' and 'npm run start', but it also doesn't work.

**Dejavu Version**
Latest from the repository. I cloned it from GIT

**Desktop (please complete the following information):**
 - Ubuntu 20.10
 - C

[2020-11-30 09:14] lakhansamani commented on #405
@marcgise thanks for reporting it.
I will check and get back to you

[2020-12-31 07:23] zhangyiteng commented on #390
请问，该工具完美支持es7.10吗，我使用时导出是失败的

[2021-01-21 09:01] marcgise commented on #405
Hello, any update here? Thanks

[2021-01-21 15:02] tdr2d commented on #405
Hello, I also have this issue on Ubuntu 20
The commands `yarn`, `yarn dev:browser`, `yarn dev:dejavu` work, but going to http://localhost:1358 results in a white screen.
I have these logs :

[code]

[2021-01-27 13:59] lakhansamani commented on #405
@marcgise @Thomas-Webber
sorry for the late reply

Here is quick video how you can steup dejavu locally:

https://www.loom.com/share/9f6ec2554bd441fa8224894a7b420e67

JFYI I am using `node: v14.15.3`

[2021-02-11 12:49] marcgise commented on #405
Dear, I get it locally. But now I want to deploy Dejavu into a server in order to allow access to my collegues. I followed the instructions as locally deployed, but when I access it in Chrome, it doesn't work:
http:\\myserver.com:1358

Is there any known reason? Should I configure anything? I'm getting a rehused connection error...

Thanks

[2021-02-11 12:50] siddharthlatest commented on #405
@marcgise Can you share the exact error message, and the URL that you're using? Since this isn't related to the current issue, I'm closing it. You can file a new one instead.

[2021-02-11 12:50] #405 closed, assigned to lakhansamani

[2021-02-11 14:10] marcgise opened #406 "ç"
**Describe the bug**
A clear and concise description of what the bug is.

**Dejavu Version**
Your version of Dejavu and how you're running it: Web, Chrome Extension or as a Docker Image.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**

[2021-02-11 14:22] marcgise opened #407 "Can't build on local for deploy on a server"
**Describe the bug**
Mi intention is to deploy Dejavu in a server. This server is only accessible from a VPN, so I can't share the connection.

I'm trying to execute `yarn build:dejavu` hoping to have a dist folder to deploy into an Apache HTTPD Server. Maybe I'm wrong about how to deploy it, I'm not sure. But could you tell me if it's possible to do? Or should I deploy it with docker?

**Dejavu V

[2021-02-11 14:31] marcgise commented on #407
I face that when dejavu starts, it's listening to 127.0.0.1:1358 address. Maybe a solution is to change it in order to listen to 0.0.0.0:1358
Can I change it from any config file?

[2021-02-11 14:57] marcgise commented on #407
Well, I changed from package.json of dejavu-main subproject to indicate in the scripts that starts the application with the property `--host 0.0.0.0`
This way I can access from my browser, but I'm getting an error:
![image](https://user-images.githubusercontent.com/4680243/107653384-da101480-6c81-11eb-9823-a3255684bb60.png)

Any idea?

I started the application with `yarn start` in the root folder

[2021-02-11 15:14] lakhansamani commented on #406
@marcgise I don't see a description of the issue you are facing here.

Can you update the description?

[2021-02-11 15:22] lakhansamani commented on #407
@marcgise here are the steps to get production ready build
* `yarn build:dejavu:app` from the root folder
*  copy `cd packages/dejavu-main/dist/app/` folder to your apache server hosting dir

[2021-02-11 15:40] marcgise commented on #406
Please close this Issue, was created by mistake

[2021-02-11 15:40] #406 closed, assigned to lakhansamani

[2021-02-11 15:41] marcgise commented on #407
Well, I finally get it... Adding a property in the webpack.config.js file:
[code]

[2021-02-11 15:42] #407 closed, assigned to lakhansamani

[2021-02-11 18:35] lakhansamani commented on #407
@marcgise that will just start it in dev mode.
To run in production make sure you create build and follow the above steps.

[2021-02-27 15:12] mifopen commented on #271
I have the same issue with Russian. Any chance to see it fixed?

[2021-02-28 08:20] mifopen commented on #271
Oh, sorry, haven't noticed the project is dead...

[2021-04-23 07:28] itsmichaelk opened #409 "Cannot connect to AWS hosted Elasticsearch cluster"
### General information
- **Elasticsearch Version**: 7.9

### Issue Description

Cannot connect to Elastic Search cluster hosted in AWS Elasticsearch Service.
In AWS in have the VPC https://vpc-nos-demo-XXXXXXXXXX.eu-central-1.es.amazonaws.com

When I open this link in the browser, I get a JSON with all the data about my cluster.
But when I insert this link in the dejavu connector, I get an error

[2021-04-23 08:28] itsmichaelk commented on #409
When I use the same url with :9200 at the end, it seems like it's loading but it looks like it's in an endless loop since nothing happens.
![Bildschirmfoto 2021-04-23 um 10 27 46](https://user-images.githubusercontent.com/51818807/115842983-a8a08b80-a41e-11eb-8d63-15cbbed41c97.png)

Edit: after approx. 2-3 minutes it stops loading and I get this (the same message when I don't add 9200 to end of th

[2021-04-29 08:26] rccclr commented on #322
Hello, when login (Github or Google) for importer:

{"message":"Not Logged In, No Token"}

Sugestion? Thanks.

[2021-06-25 05:54] Nexulo commented on #322
seriously now? this problem has existed for 1.5 years and there is still no solution?

[2021-06-25 06:00] lakhansamani commented on #322
@maisen20 @rccclr we are trying to move the importer part from the dejavu.

You can try here: https://importer.appbase.io/

[2021-06-25 06:02] Nexulo commented on #322
Thx, but this does not work for my local ES instance.

[2021-06-25 08:14] lakhansamani commented on #322
@maisen20 for local instance you can use cli tool that we have

https://github.com/appbaseio/abc

[2021-06-30 20:26] rbonghi opened #411 "dejavu on ARM64 docker"
I was trying to compile Dejavu on ARM64 architecture, but I got some issues.

First for all, I show all steps that I do:
[code]
I tried to build the docker image using:
[code]
I got this error:

**The command '/bin/sh -c yarn     && yarn cache clean && yarn build:dejavu:app     && rm -rf /dejavu/node_modules     && rm -rf /tmp/*' returned a non-zero code: 1**

I fixed it by changing the docker bas

[2021-07-01 10:19] siddharthlatest commented on #411
@rbonghi Thanks for bringing attention to this. Can you confirm if #412 fixes the local (and docker) build for you? We can then merge and release this.

[2021-07-01 19:03] rbonghi commented on #411
Unfortunately, I got other errors.
I share here the full log, and it is too long to paste here https://pastebin.com/CZEkRP2M.

The first error is coming from line 139 (from PasteBin)

Same here (line 157)

And from line 206, only errors.

[2021-07-02 04:17] siddharthlatest commented on #411
@rbonghi That path is from a submodule and it looks like it wasn't fetched.

`git submodule init && git submodule update --recursive --remote` should resolve this.

[2021-07-02 12:23] rbonghi commented on #411
Yes, it works great!

Thank you!

[2021-07-02 12:23] #411 closed, assigned to nobody

[2021-07-09 07:35] l0l3r opened #413 "Missing fields in Exported CSV file"
**Describe the bug**
When exporting to CSV, if the first entry has empty fields, these fields are not included in CSV file, at all. For example, if index has fields A, B, C, D and first entry that shows up in Dejavu's default Data Browser view has only A and C field defined exported index will look like this
A | C
------------ | -------------
FieldA Value | FieldC Value

Even though, other entries

[2021-07-14 02:25] aaronfay commented on #409
This is most certainly a CORS issue, you need to either deploy a simple API Gateway with proxy passthrough to your cluster, or host an nginx proxy or something.

[2021-07-15 05:07] NumbahzGit opened #414 "Connecting with a different port with username and password"
Hello! first here are my settings on ES.

http.cors.enabled: true
http.cors.allow-origin: 'https://opensource.appbase.io'
http.cors.allow-headers: X-Requested-With,Content-Type,Content-Length,Authorization
http.cors.allow-credentials: true

My ES cluster is remote and I am trying to access it through the web browser.

I also have it running on a different port, not 9200.

i tried using `https://my

[2021-07-16 13:28] stevensimione commented on #414
Just following up, I decided to add

[code]

and try the chrome extension but I am still facing this issue. It is not getting any of my data.

The only difference I can see is that I am not using port 9200, it would be helpful if we can use other ports other than 9200.

Unless there is a different issue, but I would appreciate help understanding the issue. All the solutions or work arounds for the

[2021-07-16 13:29] NumbahzGit commented on #414
Just following up, I decided to add

[code]

and try the chrome extension but I am still facing this issue. It is not getting any of my data.

The only difference I can see is that I am not using port 9200, it would be helpful if we can use other ports other than 9200.

Unless there is a different issue, but I would appreciate help understanding the issue. All the solutions or work arounds for the

[2021-07-16 14:27] siddharthlatest commented on #414
@NumbahzGit Your value for:

`http.cors.allow-origin: 'chrome-extension://jopjeaiilkcibeohjdmejhoifenbnmlh'`

should match the browser URL's domain you're using this on. You can try this with:

`http.cors.allow-origin: '*'` to allow all origins.

Mixed content error is wrt running your Elasticsearch on a `http://` port, that's a browser specific setting that you will have to tweak to allow a http:

[2021-07-16 14:51] NumbahzGit commented on #414
@siddharthlatest Thank you, I appreciate the response! :)

Thank you for pointing that out, I didn't realize this issue with chrome extensions, first time doing this.

Just wanted to also confirm that my cluster being on a different port is not an issue right?

We have `http.port:23074` for our ES port.

So sending `http://username:password@mydomain:23074` is not an issue?

And if I wanted to acce

[2021-07-17 05:30] siddharthlatest commented on #414
Yes, port wouldn't the issue here.

I believe that this should work, may be remove the trailing `/`. More details on this how this works: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin.

[2021-07-19 16:28] stevensimione opened #416 "The list of terms on the dropdown for each column are updated when other filters are applied"
Hello.

**Is your feature request related to a problem? Please describe.**
Adding filters in other columns does not update the drop down in other columns. The list is based off highest count, but if I want to get something that wasn't high enough to make the list, I have no way of filtering the data.

The only work around I found was adding filters and using global search, but  I found this doesn'

[2021-08-03 12:57] piotr-cz commented on #262
I think that CORS instructions could reflect that

[code]

[2021-08-04 04:46] mmcer opened #417 "chrome extension cannot be found"
**Describe the bug**
By following the readme.md, I want to install the chrome extension, but google report 404 error, please hep to check the url "https://chrome.google.com/webstore/detail/dejavu/jopjeaiilkcibeohjdmejhoifenbnmlh"

[2021-08-18 14:08] rohitguptaggg opened #418 "Not able to connect with AWS managed Elasticsearch"
**Issue**
Not able to connect with AWS-managed elastic search.
I am using AWS ES with public access (it is not inside the VPC, ES is accessible through a public URL.)
I am facing a CORS issue as AWS does not provide any way to modify there es configuration file to allow CORS.
So can anyone help me with the way to connect with AWS Managed ES?

Any help on this will be really appreciated.

**ERROR**

[2021-08-23 03:55] rohitguptaggg commented on #418
@lakhansamani Can You please provide any update on this?

[2021-08-30 09:17] todLiu commented on #397
I ran the same issue too >_<

[2021-09-03 08:12] knepp045 opened #419 "Global search sends malformed request"
**Issue**
When connecting to an elastic backend (or doing a search from the data browser view) Deja Vu sends a POST request to `https://<host>/<index>/_msearch?`. Elastic has issues with the unnecessary `?` in the url, sending back a 400 status code (bad request) with the following body:

[code]

If I replay the request (using curl) and edit out the `?`, everything works fine.

**Context/version**

[2021-09-03 08:15] siddharthlatest commented on #419
@knepp045 Can you share the actual network request that is sent by Dejavu? (You can remove any domain/authorization specific info from it) Knowing the URL and request body would help here.

[2021-09-07 08:41] knepp045 commented on #419
Sorry for not getting back to you sooner.

The full request (copied from Chrome as curl command) looks like this:

[code]

The cookies in the header are set by [oauthproxy](https://github.com/openshift/oauth-proxy). Both Dejavu and the Elastic backend are behind a proxy that takes care of authentication.

The problem may of course be caused by this proxy, although it does not rewrite the url or ch

[2021-09-07 14:22] siddharthlatest commented on #419
Thanks @knepp045, we're able to replicate this issue.

[2021-09-07 14:28] siddharthlatest commented on #418
@rohitguptaggg This isn't an issue with Dejavu and CORS errors can't be solved from a client.

Since you can't modify the AWS ES config, you can set up an API gateway in front of your ES that handles the CORS config and forwards to Elasticsearch. This is typically doable with Nginx, AWS API gateway also seems to offer this feature now ([link](https://aws.amazon.com/about-aws/whats-new/2015/11/enab

[2021-09-07 14:28] #418 closed, assigned to lakhansamani

[2021-09-08 11:49] siddharthlatest commented on #419
This is released with `v3.5.1`.

[2021-09-08 11:49] #419 closed, assigned to lakhansamani

[2021-09-10 05:23] rohitguptaggg commented on #418
Thanks @siddharthlatest

[2021-09-10 07:04] #413 closed, assigned to lakhansamani

[2021-11-09 09:21] CherryDT commented on #417
Issue still exisitng...

[2022-01-04 10:29] julianf19 opened #421 "Missing .js file ERROR 404"
I am trying to run dejavu inside a docker container (swarm) running behind an Nginx.
on loading the page I get the title:
<img width="161" alt="Capture d’écran 2022-01-04 à 10 58 15" src="https://user-images.githubusercontent.com/44298384/148041899-6c71155d-a654-4d29-98c0-ce79c914ebbe.png">

But nothing renders on the screen, And I get a few errors
<img width="565" alt="Capture d’écran 2022-01-

[2022-01-04 15:07] siddharthlatest commented on #421
@julianf19 Can you share the path of any one file that is showing a 404 abort error in your screenshot, minus the domain info? The docker container (latest version) works well, I'm wondering if there is any nginx related config issue over here.

[2022-01-04 15:52] julianf19 commented on #421
![Capture d’écran 2022-01-04 à 16 42 46](https://user-images.githubusercontent.com/44298384/148084728-d4587ec5-06cb-4dad-884a-6be0e967c6a2.png)
![Capture d’écran 2022-01-04 à 16 40 19](https://user-images.githubusercontent.com/44298384/148084732-7ca8d76c-fc3a-4dc4-95f1-af3cc223dc69.png)

Here is the 2 things I could find.
I don't really get what "path" you mean.

I was thinking Nginx could als

[2022-01-04 16:02] siddharthlatest commented on #421
@julianf19 The path that shows up in the screenshot of your original image: https://user-images.githubusercontent.com/44298384/148044034-bc0cae03-d22e-4ab6-99cd-4837f84f1341.png.

It could be this too, you can tell this from Nginx logs or your WAF logs.

[2022-01-04 20:27] deathdefyer commented on #411
Building on Apple Silicone from source; errors with Babel.

@appbaseio/dejavu-browser: Add @babel/plugin-proposal-optional-chaining (https://git.io/vb4Sk) to the 'plugins' section of your Babel config to enable transformation.\n    at Object.raise (/dejavu/node_modules/@babel/parser/lib/index.js:6975:17)\n    at Object.expectPlugin (/dejavu/node_modules/@babel/parser/lib/index.js:8373:18)\n    at

[2022-01-04 20:31] deathdefyer commented on #411
Full Logs:
https://pastebin.com/FrVSUYDN

[2022-01-05 03:35] siddharthlatest commented on #411
@deathdefyer We should create a new issue for this error. I can't replicate it. The following context would be helpful:

1. Which OS / architecture are you building this on?
2. What is the build command (there are several) that you're running?
3. Try this branch and share if it works for you: https://github.com/appbaseio/dejavu/tree/fix/babel-optional-chaining

[2022-01-05 09:03] julianf19 commented on #421
Well that's the whole path you see there:
https://domain.name.be/common.9459595.css

[2022-01-05 15:51] deathdefyer opened #422 "Babel Error; ARM"
See: dejavu on ARM64 docker #411

Apple Silicon M1 Pro Laptop; running a Debian Virtual machine under Parallels.  CPU arch of the VM below:
uname -r
5.10.0-10-arm64

cat /etc/os-release
PRETTY_NAME="Debian GNU/Linux 11 (bullseye)"
NAME="Debian GNU/Linux"
VERSION_ID="11"
VERSION="11 (bullseye)"
VERSION_CODENAME=bullseye
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.or

[2022-01-29 06:19] a67793581 opened #425 "Want to achieve automatic cross domain"
**Is your feature request related to a problem? Please describe.**

When using the company's es, you cannot modify the ES configuration. At this time, it's good to have automatic cross domain
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

refer to：https://github.com/qax-os/ElasticHD
There is no need to modify the configuration

[2022-02-09 16:05] sshhsh commented on #421
The problem is that your browser try to find https://domain.name.be/common.9459595.css.
But the actual file path is https://domain.name.be/dejavu/common.9459595.css.

This is the case because the static file in HTML is using absolute path instead of relative one. Maybe the next version can change to use relative paths.

[2022-02-10 06:44] siddharthlatest commented on #421
@sshhsh This can be the case, if someone feels inclined to create a PR, we will have this change included in the next release.

[2022-02-27 02:50] burpheart opened #430 "dejavu 3.5.3 have a XSS vulnerability"
**Describe the bug**
I am trying to use dejavu, but when I try to use the search preview I find that the html tags in my search results are rendered by the browser and the js scripts in them are executed

**Dejavu Version**

Web 3.5.3

**To Reproduce**
1. Importing data containing html tags to es
2. Go to Search Preview
2. Search result values are rendered as html

**Expected behavior**
Data is re

[2022-03-13 11:25] siddharthlatest commented on #430
@burpheart The ability to render HTML is important (to support highlighting use-case for example). That said, we've opted for using the [dompurify](https://www.npmjs.com/package/dompurify) package here to prevent XSS attacks. This is released as part of Dejavu v3.6.0.

[2022-03-13 11:25] #430 closed, assigned to lakhansamani

[2022-03-13 11:25] siddharthlatest commented on #417
Have removed the reference to it from README.

[2022-03-13 11:25] #417 closed, assigned to lakhansamani

[2022-03-13 11:26] #402 closed, assigned to lakhansamani

[2022-03-13 11:28] siddharthlatest commented on #387
The chrome extension has been removed, and the README now doesn't mention it :-)

[2022-03-13 11:28] #387 closed, assigned to lakhansamani

[2022-03-13 11:29] #376 closed, assigned to lakhansamani

[2022-03-13 11:30] siddharthlatest commented on #376
This is a fair point. Maybe we should bring it back.

For now, I'm closing the issue as the extension isn't available and we've also removed all references to it from README.

[2022-03-13 11:31] siddharthlatest commented on #425
The issue isn't clear, can you elaborate?

[2022-03-13 11:40] burpheart commented on #430
Can this vulnerability be assigned a CVE number?

[2022-03-15 03:26] jaxwang commented on #397
I ran the same issue too  too >_<    , with version 3.6.0

[2022-04-11 22:12] scottwlyft opened #441 "Failure to propogate signals to Docker container"
**Describe the bug**
When running dejavu in a docker container in the foreground, SIGINT and SIGTERM signals are not propagating to the process.

**Dejavu Version**
Docker image: latest (as of 4/11/22)

**To Reproduce**
Steps to reproduce the behavior:
1. Run `docker run -p 1358:1358 --rm appbaseio/dejavu`
2. Press Ctrl+C

**Expected behavior**
The container should exit after pressing Ctrl+C

**De

[2022-04-27 09:51] 1-bytes commented on #306
same issue

[2022-04-27 18:59] DaiZack commented on #335
Same issue Using self hosted ES 8.1.0

main.5f8d78f2.js:2          POST http://10.8.1.245:9200/coface/_search 400 (Bad Request)
a @ main.5f8d78f2.js:2
i @ main.5f8d78f2.js:2
s @ main.5f8d78f2.js:2
(anonymous) @ main.5f8d78f2.js:2
(anonymous) @ main.5f8d78f2.js:2
t.handleClick @ common.09e89551.js:2
h @ common.09e89551.js:2
w @ common.09e89551.js:2
(anonymous) @ common.09e89551.js:2
k @ common.09e8

[2022-07-13 06:47] AsedMorteza opened #444 "Unable to connect"
Hello
To be very brief !
I can't connect !
This is my Docker Compos configuration
When I enter the elastic address(http://0.0.0.0:9200), it does not connect...
In addition, I see my indexes easily in Kibana

  es7:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2
    logging:
      driver: none
    container_name: c-es
    environment:
      - discovery.type=single-node
      -

[2022-07-13 06:52] siddharthlatest commented on #444
@AsedMorteza Your docker compose looks correct. Can you share the output of `docker-compose ps`? And you should then be connecting to Dejavu, for example: if this is being run on localhost, it should be http://localhost:1358

[2022-07-13 06:56] AsedMorteza commented on #444
c-es                      /tini -- /usr/local/bin/do ...   Up             0.0.0.0:9200->9200/tcp,:::9200->9200/tcp, 9300/tcp
dejavu                    docker-entrypoint.sh /bin/ ...   Up             0.0.0.0:1358->1358/tcp,:::1358->1358/tcp

dejavu is up at http://0.0.0.0:1358 but unable to connect els

[2022-07-13 07:16] siddharthlatest commented on #444
@AsedMorteza Thanks for the above! Can you share the exact error you see in the browser when you connect to it?

[2022-07-13 07:18] AsedMorteza commented on #444
![Screenshot from 2022-07-13 11-47-27](https://user-images.githubusercontent.com/107461328/178674392-9fd10d35-2058-4c48-ab78-58f38f5cccd9.png)

"""Unable to connect

Possible Errors
Invalid connection string or index name
Please check if Elasticsearch cluster is up and running"""

[2022-07-13 07:20] siddharthlatest commented on #444
@AsedMorteza What does doing a `curl http://0.0.0.0:9200` return?

[2022-07-13 07:21] AsedMorteza commented on #444
{
  "name" : "3b39b51e76d5",
  "cluster_name" : "docker-cluster",
  "cluster_uuid" : "f0zUOG7qQYinfn3mckzpSA",
  "version" : {
    "number" : "7.10.2",
    "build_flavor" : "oss",
    "build_type" : "docker",
    "build_hash" : "747e1cc71def077253878a59143c1f785afa92b9",
    "build_date" : "2021-01-13T00:42:12.435326Z",
    "build_snapshot" : false,
    "lucene_version" : "8.7.0",
    "minimum_wir

[2022-07-13 07:23] siddharthlatest commented on #444
@AsedMorteza Thanks! This seems okay too. One more recommendation I can think is to type in a concrete index name instead of `*`.

When you're connecting to Dejavu from the browser, one of the endpoints to ES is failing. Can you keep your network tab open and share the details of the failing request. You will see an option to copy the request as cURL or you can paste the screenshot here of the fai

[2022-07-13 07:27] siddharthlatest commented on #444
@AsedMorteza I spotted the issue, it should be failing to connect with a CORS error.

Change this row in your docker-compose to below:

The `http.cors.allow-origin`'s value should point the host to the browser origin from where you're going to access ES from.

[2022-07-13 07:31] AsedMorteza commented on #444
Thank you very much for the quick handling and help

[2022-07-13 07:32] #444 closed, assigned to nobody

[2022-07-13 11:03] AsedMorteza opened #445 "Search Preview does not display anything"
Hello again
Nothing is displayed neither in the filter section nor in the search section, even the title!
Maybe I can't work with this part!
![Screenshot from 2022-07-13 15-32-34](https://user-images.githubusercontent.com/107461328/178719017-7fd6f395-3fad-4d7a-8d8c-12efe5beae7d.png)

[2022-07-19 14:43] AsfandHikmat opened #446 "Eliminate document properties from search results which are null or blank"
**Is your feature request related to a problem? Please describe.**
I am playing around with Dejavu and many of my document properties are null or blank.

**Describe the solution you'd like**
When i click on the search button via the search preview I don't want the results to include properties from the doc where the properties are blank or null,

**Describe alternatives you've considered**
I haven

[2022-07-22 20:03] Gelioks commented on #445
I've got similar issue after upgrading ES to v8. Data browser not showing anything either.
![image](https://user-images.githubusercontent.com/7465472/180519546-22b1c5a3-63ac-4eb9-afbc-1e5fd367f852.jpeg)

[2022-10-26 09:16] valentin-dlack opened #448 "BUG - Can't update a document, _type is empty/undefined"
**Describe the bug**
When I try to update a value of a document in DejaVu it doesn't work. The `_type` seems to be empty or undefined and when I check the PUT request in the chrome network inspector, I get a 400 Bad Request and the path is `http://localhost/products/**undefined**/SEF_E4QBVQOW--Rmb43L?refresh=wait_for` (see screenshots). I don't know why it does this.

**Dejavu Version**
I run Deja

[2022-10-28 02:38] dmoskovtsov commented on #448
I see same behaviour when connected to the v8.4.3 instance of ElasticSearch from https://dejavu.appbase.io/

[2022-11-02 06:35] siddharthlatest commented on #448
@dmoskovtsov @valentin-dlack can confirm this behavior.

[2022-11-02 10:58] ssp5zone commented on #170
### Cors BYpass

In case you do not have access to update the remote Elastic Cluster repo,

1. Docker install Cors Proxy or other alternatives: https://hub.docker.com/r/redocly/cors-anywhere
2. Start the Docker Service at a port - say: 5050
3. Prefix your Elastic Node URL with `http://localhost:5050/`

**Before**
<img width="1501" alt="image" src="https://user-images.githubusercontent.com/10971633

[2022-11-18 10:06] #448 closed, assigned to SavvyShah

[2022-11-18 11:36] dmoskovtsov opened #450 "Can not update document using 'update button'"
**Describe the bug**
Can not update document using 'update button'

**Dejavu Version**
Web latest.

**To Reproduce**
Connect
1. Go to https://dejavu.appbase.io/. Connect to elastic cluster **v8**
2. Click 'editing' mode.
3. Select 1 item from the table via checkbox.
4. Click blue 'Update' button.
5. You see document json. Edit one of the fields.
6. Click blue 'Ok' button
8. See error HTTP STATUS: