[2016-03-02 21:59] siddharthlatest opened #1 "supporting an export data to JSON for applied filters"
Can be a nifty use-case for many scenarios. Is it possible to use the scroll API effectively from the browser? How does it work when the data sizes are large?

Reference: http://stackoverflow.com/questions/3665115/create-a-file-in-memory-for-user-to-download-not-through-server

[2016-03-02 22:05] jdc0589 opened #2 "limit which indexes can be edited manually"
It would be great if there was a config option to make everything readonly, unless an index/type was whitelisted as write enabled. This doesn't exist already does it?

[2016-03-03 00:46] LeeDr opened #3 "The README.md doesn't say how to access it once the plugin is installed"
The README.md tells how to install the plugin, and what elasticsearch configuration is needed, but not how to access it once it's installed (or I'm missing it)

[2016-03-03 01:05] lakshgupta commented on #3
+1

[2016-03-03 06:55] farhan687 commented on #3
FIxed in https://github.com/appbaseio/dejaVu/commit/211e2ac43d128360c9aa6279ef16dbced33536e3.

[2016-03-03 07:02] siddharthlatest commented on #2
Is the idea to prevent accidental read / writes from the browser interface? We don't support modifying data in place and a user needs to explicitly confirm before making any CUD modifications.

Or is the idea to prevent writes the index / type at the database level?

[2016-03-03 13:22] slowmove opened #4 "Feature request: Export as elasticsearch query"
It would be a nice feature to get implemented to be able to filter, sort etc and then export that as a elasticsearch query.

[2016-03-03 13:58] jdc0589 commented on #2
not really. ive got 1 index that i need a fee people to be able to edit
manually,  but never any of the others.

On Thu, Mar 3, 2016, 1:02 AM Siddharth Kothari <notifications@github.com>
wrote:

[2016-03-03 14:23] LeeDr commented on #3
LGTM - not sure if you want the originator to close?

[2016-03-03 15:09] #3 closed

[2016-03-04 09:05] wazz42 opened #5 "Infinite scroll on high res"
It seems that the infinite scroll doesn't work on a 4K monitor.

[2016-03-04 09:51] farhan687 commented on #5
Good catch.
Fixed in https://github.com/appbaseio/dejaVu/commit/0c2bb9d3395bd02048b5dae28a82f8cf25298afe

[2016-03-04 11:42] markshervey opened #6 "Connection Issue Reporting"
Is there a way to know what's happening with a connection?  I'm trying to connect to our instance and get no feedback on what the connection issue is.

[2016-03-04 13:58] farhan687 commented on #6
Can you show me the error in network or any error in console?

[2016-03-04 14:01] markshervey commented on #6
I'm using the Chrome App.  When I click connect it's just unresponsive, there is no indication that anything has happened.

[2016-03-04 14:03] markshervey commented on #6
Is there a way I can get a console up on a Chrome App?  Run the standalone app in the browser?

[2016-03-04 14:08] farhan687 commented on #6
In chrome app, I guess they don't allow console, but you can try with es plugin for now.

I will update you for chrome app.

[2016-03-04 14:13] Francolpm opened #7 "Receiving support?"
Hi there! This isn't a issue but I didn't know where to ask!
Are you accepting donations or supports? Because may you get some extra support for dejaVu.
I don't trying to spam you, but I want to invite you to beerpay.io, a simple platform to monetize open source projects, like hamburgers.
I know that the open source is free, but it's okay if someone want to contribute in other way.

Thanks for thi

[2016-03-04 14:36] markshervey commented on #6
Ran the plugin and it looks like a CORS issue, so the app's working fine.  It would be nice to get an error message about it maybe... not an issue, just a feature request I guess.  Thanks for being so responsive!  Looks like a great tool.

[2016-03-04 19:00] siddharthlatest opened #8 "Chrome extension: no realtime updates when using an appbase.io URL"
I am trying the default app (2016primaries) and adding / updating data in the type "test" doesn't reflect the changes unless I hit the "reload" button.

![Screenshot](https://i.imgur.com/vXiDdnI.png)

[2016-03-05 11:12] siddharthlatest opened #9 "Chrome extension: clicks don't work on certain elements"
For instance, the JSON data is not selectable. And the "watch video" and "Create your own ElasticSearch in cloud with appbase.io" hyperlinks don't open in a browser.

Both could be separate issues, nonetheless, something we should look into.

[2016-03-07 06:41] #5 closed

[2016-03-08 03:42] farhan687 commented on #9
Redirect to watch video & Appbase is fixed in https://github.com/appbaseio/dejaVu/commit/dbb1afdf5ee55655282c95ee9a8ba56b1ec299c5

[2016-03-08 03:44] farhan687 commented on #9
Json and type/id is now selectable : fixed in https://github.com/appbaseio/dejaVu/commit/401789f53de987d8d8cd2e6000d1cffe8fb62841

[2016-03-08 03:46] farhan687 commented on #6
Chrome-extension CORS issue is resolved in https://github.com/appbaseio/dejaVu/commit/fdeb7a21c44f64b43cfc07ec7857596752b51aa3

[2016-03-08 06:23] siddharthlatest commented on #9
Works in Chrome v0.3, closing.

[2016-03-08 06:23] #9 closed

[2016-03-08 06:23] siddharthlatest commented on #8
Works in Chrome v0.3, closing.

[2016-03-08 06:23] #8 closed

[2016-03-08 06:25] siddharthlatest commented on #6
Published in v0.3, https://chrome.google.com/webstore/detail/dejavu/lcanobbdndljimodckphgdmllahfcadd.

[2016-03-08 06:25] #6 closed

[2016-03-08 07:12] siddharthlatest commented on #2
That can be done with access permissions, i.e. generating credentials (tokens) that have read only permissions and another set that have write permissions. We support this use-case in appbase.io http://news.appbase.io/new-dashboard-features/. People with latter can then edit data with dejavu while those with read only permissions can only see the data.

[2016-03-08 09:24] markshervey commented on #6
Cool.  It worked for me!  Thanks!

[2016-03-16 09:59] siddharthlatest commented on #4
@slowmove We are working to support issue #1, where a user can export data (as JSON) directly from the applied filters.

What's the use-case for showing the query in JSON format?

[2016-03-16 12:54] slowmove commented on #4
@siddharthlatest a use case for exporting the query itself would be if you want to implement it in your code for use in a script or web application of some sort.

[2016-03-16 13:02] siddharthlatest commented on #4
@slowmove it makes sense but dejaVu's filters don't cover the breadth / depth of Elasticsearch's query DSL. That would be a better fit for something like https://github.com/appbaseio/es-querycomposer, it's not prototype ready (yet), but the premise is to have a GUI that can compose ES queries.

[2016-03-16 13:11] siddharthlatest commented on #2
Closing this issue, as security permissions are better handled at the Elasticsearch / hosting layer.

[2016-03-16 13:11] #2 closed

[2016-03-17 15:40] #4 closed

[2016-03-20 11:28] siddharthlatest commented on #1
Exporting filtered data now possible. Added in [v0.4.1](https://github.com/appbaseio/dejaVu/releases/tag/v0.4.1) release and updated in the chrome app.

[2016-03-20 11:28] #1 closed

[2016-03-21 15:47] jdc0589 opened #10 "inconsistent install behavior"
I've got weird behavior installing dejavu as an ES plugin, and running it stand-alone. This is all using chrome.

**as a plugin:**
1. works OK locally
2. ~~404s on main.min.js in another environment when loading splash page~~

**built + run locally (npm install, bower install, gulp watch):**
1. splash page loads. bombs out on something about chrome localstorage when I try to connect. `chrome.stora

[2016-03-21 16:04] farhan687 commented on #10
`chrome.storage` is specific for **chrome-extension** and we have used that in only chrome-extension branch. By mistake if I used it some other branch else please let me know.

And to detect the error, can you look to index.html and change the file to `main.js` instead of main.min.js. then run the gulp watch and copy the error message over here.

[2016-03-21 16:05] jdc0589 commented on #10
@farhan687 that chrome extension issue was either on dev, or the most recent tagged release

[2016-03-21 16:22] farhan687 commented on #10
Hi @jdc0589
I checked the dev, master and chrome-extension branch, it is working fine for me, didn't find any error in console.

and yes
built + run locally (npm install, bower install, gulp watch) is the correct steps, you are not missing anything.
just make sure you are not on chrome-extension branch.

[2016-03-21 16:33] jdc0589 opened #11 "feature: optionally expand the width of the ID column"
If your type + id strings are longer than about 20 characters, it gets truncated in the id column (which is expected, to an extent). It would be nice if there was a way to expand the width of the ID column to make a larger portion of IDs visible. This would make it a lot easier to browse data; which is pretty difficult right now.

Additionally, the `{...}` show json button takes up a lot of screen

[2016-03-21 16:41] jdc0589 opened #12 "websocket connection failure"
dejaVu installed as an ES plugin.

`WebSocket connection to 'ws://xxxx:9200/meta' failed: Error during WebSocket handshake: Unexpected response code: 200`

Is there an extra plugin dependency for the live-reload to work? Or is this a feature only supported within appbase?

[2016-03-21 16:49] jdc0589 opened #13 "chrome plugin: switching indexes does not update data in table view"
In the chrome plugin, switching to a different index correctly updates the "Types" panel, but does **not** refresh the main data view.

Also, there isn't really much of a "loading" indicator or anything when connecting/switching types, which can be a bit disconcerting.

[2016-03-22 05:17] siddharthlatest commented on #13
Confirming the behavior: when switching indexes, the data view doesn't change.

[2016-03-22 05:18] siddharthlatest commented on #12
Live-reload only works with appbase. Other Elasticsearch providers do not support realtime (as of now).

[2016-03-22 08:39] siddharthlatest commented on #10
@jdc0589 I have added a ``developing`` section https://github.com/appbaseio/dejaVu/blob/dev/README.md#developing.

Your steps for running locally are correct, but it seems you are either using the ``chrome-extension`` branch or the releases (which are specific to the chrome app atm). As you noticed, the localStorage API works differently for a chrome extension and hence the failures when running i

[2016-03-23 14:57] #12 closed

[2016-03-23 14:57] jdc0589 commented on #12
What I suspected, just couldn't find mention of it anywhere. Thanks.

[2016-03-23 14:58] #10 closed

[2016-03-26 09:00] vorou opened #14 "missing filter icon"
I can't see the filter icons, what could be wrong?

![](http://i.imgur.com/iNyJztP.png)

elastic v1.5.1

[2016-03-27 06:44] siddharthlatest commented on #14
@vorou That's strange, filters are set based on the _mapping API of ES, and I don't see a difference between Elastic v1.5.1 and v2.x.

If you are using dejaVu from the browser, I would be curious to see any errors shown by the browser's console log.

[2016-03-27 09:14] vorou commented on #14
Well, there are tons of logs.

These ones are from Logging tab: https://gist.github.com/vorou/78a170fcc5b25783e82f
And these are from JS tab: https://gist.github.com/vorou/50b5b0aebdff7254e602

I'm using Firefox. It acts the same in Chrome.

[2016-03-27 14:54] jdc0589 commented on #14
@vorou @siddharthalatest

i experienced the same issue. I almost filed an issued,  but when i went back to double check the issue,  the filters had magically appeared.

[2016-03-29 09:30] siddharthlatest commented on #13
Fixed in the new release, [v0.4.2](https://github.com/appbaseio/dejaVu/releases/tag/v0.4.2). Also published in the chrome store.

[2016-03-29 09:30] #13 closed

[2016-03-29 20:23] siddharthlatest commented on #11
There are a couple of ways to make the experience better here:

![id_tooltip](https://cloud.githubusercontent.com/assets/630042/14122265/a873373e-f618-11e5-984a-841f36586a97.png)
1. Hovering over id part of the text displays the entire id in a tooltip.
2. Starting v0.4.3, single-clicking on any cell in the type/id column copies the cell value to the clipboard.

This doesn't entirely replace the ne

[2016-03-29 20:36] siddharthlatest opened #15 "support for column resizing"
Support column width resizing to better view data.

* Long ids are hard to view as the current UI truncates values longer than 20 characters, see https://github.com/appbaseio/dejaVu/issues/11.
* Columns with smaller fields can be compacted and columns with long text data can be expanded to better utilize the screen estate.

The ideal solution should be similar to excel / google sheet's resizing be

[2016-03-29 20:36] #11 closed

[2016-04-21 14:03] siddharthlatest opened #17 "Keeping state within dejaVu URL"
One of the key ideas for dejaVu is that it's a client side app and can be used within a browser or as an Elasticsearch plugin.

The idea is to capture dejaVu's state within it's URL: Things like ES host, index name, selected types, applied filters. That way, passing the state is as easy as sharing the dejaVu URL. Potential benefits are:

1. An easier way to debug while developing,
2. Sharing publi

[2016-04-24 09:28] farhan687 commented on #17
Feature added in master (Elasticsearch branch) and gh-pages branch.

Try this : http://appbaseio.github.io/dejaVu/live/index.html#?input_state=U2FsdGVkX1+f/C8kwCqv4uppG318VyZ65oBvj/qP792+6+ikK5uLKzX4e23oUKK+lX3Db16R6pG8M1MljRnIb+qOAAYog/TK6fYNQXtHtzMmvMl3r93DAWzAEzA1St3bSFbZ/QPJDPmK1UNyEuDkvhPT8jurH2kuW9d3sq+RYibIpo0AOEPxTNzWJY0ITBrN3/pzoVB6rmpo7+M1LoSoYcpTtBVfqSZMR/M8v/QKgdmk5aOnL1sLO53iSRQreZ1cK

[2016-04-27 04:12] siddharthlatest commented on #17
Added column toggling in the state as well in https://github.com/appbaseio/dejaVu/commit/3d305edb03c156e0e8010e33e19dd832160521ce.

Feature now available in Elasticsearch plugin and in the [gh-pages](http://appbaseio.github.io/dejaVu/) branch.

[2016-04-27 04:12] #17 closed

[2016-04-30 20:13] siddharthlatest commented on #14
@vorou I haven't been able to reproduce the issue, even with ES v1.5.1. It seems less likely that this is a version issue. Since the logs point to a mapping exception, is it possible for you to share a representative data set (could be 10 rows) as JSON?

[2016-05-22 20:59] rsareth opened #18 "Adding a button "Select all / Unselect all""
Hi,

Thank you so much for your Chrome extensions. Really helpful !

Can you add a button to (un)select all the results, please ?

My use case is to select all the result in order to delete them through your extension !

Thanks,
Rasmey

[2016-05-23 13:30] siddharthlatest commented on #18
@rsareth Thanks for the support. We can add a button that toggles selection of all the results in the user's view.

[2016-05-24 03:20] 0604hx opened #19 "could not run the plugin"
I had installed dejaVu successful. And config as below:
`http.port: 9200

http.cors.allow-origin: "http://127.0.0.1:9200"

http.cors.enabled: true

http.cors.allow-headers : "X-Requested-With,X-Auth-Token,Content-Type, Content-Length, Authorization"

http.cors.allow-credentials: true`

but when I open http://localhost:9200/_plugin/dejaVu/, I got error:
`feed.js:19 Uncaught TypeError: Cannot read p

[2016-05-25 17:27] ronnyek commented on #19
This is because of the initial data that needs to be in initial storage before stuff starts blowing up. I managed to fudge it with chrome, but certainly not for the faint of heart. Would be good to fix

[2016-05-25 20:11] darklow commented on #19
Got same problem, same error.

[2016-05-25 20:32] siddharthlatest commented on #19
@ronnyek @darklow can you tell how to reproduce this?

[2016-05-25 20:40] darklow commented on #19
I just installed plugin and tried to run it first time.
Maybe try deleting all of your existing local storage or cookies related to this plugin.
The first error appears in:
[code]
Which are lines:
[code]
So URL is null for me.
And if I investigate further:
[code]
Since i run plugin for first time, where should `esurl` in localStorage come from?

[2016-05-26 07:33] enefem commented on #19
same here. is there any known workaround?

[2016-05-26 08:32] farhan687 commented on #19
@darklow, thanks for the information.
We will fix this very soon.

[2016-05-28 11:46] siddharthlatest commented on #18
"Select / Unselect All" feature has been added and published as part of v0.6.0 release on the [chrome webstore](https://chrome.google.com/webstore/detail/dejavu/lcanobbdndljimodckphgdmllahfcadd?hl=en).

[2016-05-28 11:46] #18 closed

[2016-05-28 17:15] siddharthlatest commented on #19
@enefem @darklow @ronnyek: this should be fixed now. Can you confirm?

[2016-05-31 20:12] siddharthlatest commented on #19
Marking this as resolved.

[2016-05-31 20:12] #19 closed

[2016-05-31 20:15] siddharthlatest commented on #14
@vorou We found a bug in the code that could have caused filters to disappear in certain scenarios. Do you see this issue with the latest release ``v0.6.0`` or with the master branch (if you are using it as ES plugin)?

[2016-06-01 17:21] siddharthlatest opened #20 "dejaVu is now used by 1,000+ developers"
Since we announced dejavu's open-source launch on Product Hunt in March, it has found home with [1,000+ developers](http://news.appbase.io/dejavu-crosses-1000-users/). I would like to thank everyone here for giving the project an early visibility 😃 . It means a great deal for a side project being built by a small team!

[2016-06-04 10:35] vorou commented on #14
I can see the filter icons now.

I'm not sure if it's related to this issue or not, but I still can't see the filter on certain columns. Some of them are nested objects (which is OK), and some of them are bools (which isn't OK, I guess).

[2016-06-04 10:38] siddharthlatest commented on #14
@vorou That's great. Filtering isn't supported on nested and bool data types and many other complex data datatypes. Adding it for bool should be easy, opening an issue for that.

I am closing this issue, as it seems it has been resolved.

[2016-06-04 10:38] #14 closed

[2016-06-04 10:40] siddharthlatest opened #21 "Adding filter support for **boolean** data type"
Adding support for filtering by true / false radio buttons on a boolean field type.

https://www.elastic.co/guide/en/elasticsearch/reference/current/boolean.html

[2016-06-04 10:43] siddharthlatest opened #22 "Continuous scrolling returns less than 20 records"
Continuous pagination returns less than 20 records at a time. I believe the issue is duplication of returned documents.

dejavu should set a preference string at the start of a session so that consistent ordering of results can be maintained across pagination search requests.

Reference: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-preference.html

[2016-06-04 11:01] siddharthlatest opened #23 "Autofill app (aka index) URLs"
Saving an app's URL connection configuration would be nice to implement an autofill functionality based on the app name. Autofilling connection configurations would help users multitask b/w different apps easily.

Autofill would work based on the appname field. To add some spice, it can also have an autocomplete suggestion functionality.

**Note:** For security reasons, this should only be impleme

[2016-06-04 11:03] #20 closed

[2016-06-06 00:33] siddharthlatest opened #24 "dejaVu share URL generated by gh-pages app is incorrect"
The URL generated is of the form

http://appbaseio.github.io#?input_state=...

It should be of the form

http://appbaseio.github.io/dejaVu/live#?input_state=...

[2016-06-06 14:05] clem-compilatio opened #25 "plaintext password in UI"
Hello, in the UI, the password is entred in plaintext as part of the connection url (http(s)://user:pass@server:port).
After connection, le url - with the plaintext password - is still displayed.
=> Anyone who looks at my screen can see my credentials.

Could you update your UI to hide the password please ?

[2016-06-07 22:25] siddharthlatest commented on #25
@clem-compilatio: yes, this will be added in the next release.

[2016-06-08 00:44] siddharthlatest commented on #24
Fixed in ``v0.7.0``.

[2016-06-08 00:44] #24 closed

[2016-06-08 00:45] siddharthlatest commented on #23
Added in ``v0.7.0``

[2016-06-08 00:45] #23 closed

[2016-06-08 00:45] siddharthlatest commented on #22
Fixed in ``v0.7.0``

[2016-06-08 00:45] #22 closed

[2016-06-08 00:45] siddharthlatest commented on #21
Added in ``v0.7.0``.

[2016-06-08 00:45] #21 closed

[2016-06-10 08:08] siddharthlatest commented on #25
Added in ``v0.7.1``. Chrome app link: http://chrome.google.com/webstore/detail/dejavu/lcanobbdndljimodckphgdmllahfcadd?hl=en

[2016-06-10 08:08] #25 closed

[2016-06-10 13:54] clem-compilatio commented on #25
thanks

[2016-06-14 07:49] kkaempf opened #26 "plugin installation failed - plugin-descriptor.properties missing in release tarball"
Installing the 0.7.1 release tarball as a plugin fails with

Installing `plugin-descriptor.properties` to `.../elasticsearch/plugins/dejaVu` fixes this.

Please add `plugin-descriptor.properties` to the release tarball on github.

[2016-06-14 07:51] siddharthlatest commented on #26
@kkaempf the release is not for the chrome app, I recommend https://github.com/appbaseio/dejaVu/archive/master.zip for using the Elasticsearch plugin. We keep the `master` branch in sync as it's used by Elasticsearch for installation purposes.

[2016-06-14 07:51] kkaempf opened #27 "site directory rename ?"
Elasticsearch 2.3.3 fails to start with the dejaVu plugin:

dejaVu currently has a `site` directory. Changing this to `_site` lets elasticsearch start

[2016-06-14 07:53] siddharthlatest commented on #27
@kkaempf I think this is related to your previous issue, you should either install dejavu from the master branch or use this zip https://github.com/appbaseio/dejaVu/archive/master.zip.

[2016-06-14 07:59] kkaempf commented on #27
@siddharthlatest thanks, this zip seems to have everthing in place.

Can you make a new release please ? I'd like to package it as an rpm for openSUSE (see https://build.opensuse.org/package/show/security:logging/elasticsearch-dejaVu). And I need a version tag for this. `master` is not a valid version. ;-)

[2016-06-14 08:02] siddharthlatest commented on #27
Does this work - https://github.com/appbaseio/dejaVu/releases/tag/v0.7.1-master?

[2016-06-14 08:09] kkaempf commented on #27
Thanks, this works wonderfully.

[2016-06-14 08:09] #27 closed

[2016-06-14 08:10] kkaempf commented on #26
Using the `v0.7.1-master` release fixes this.

[2016-06-14 08:10] #26 closed

[2016-06-27 08:38] siddharthlatest opened #28 "Connection error when index has no mappings"
When connecting to an index which has no mappings specified, the connection fails.

Ideal behavior should be to connect and show the "add new data" button.

[2016-06-30 10:18] siddharthlatest commented on #28
fixed in `master` branch.

[2016-06-30 10:18] #28 closed

[2016-08-02 04:25] siddharthlatest opened #29 "Change text area to a text editor"

[2016-08-02 04:26] siddharthlatest opened #30 "Change progress loading from spinner to progress bar loading"

[2016-08-05 03:53] farhan687 commented on #29
Implementation over here: https://github.com/appbaseio/dejaVu/commit/72e4bd87c5e5b3db80be0bd6d95c5fb00b27d237

[2016-08-05 03:54] farhan687 commented on #30
Implementation over here:
https://github.com/appbaseio/dejaVu/commit/bd3fca4530a2dba43ef60813fa69165cfb3ba938

[2016-08-05 04:27] siddharthlatest commented on #29
Fixed in ``v0.7.2``.

[2016-08-05 04:27] #29 closed

[2016-08-05 04:28] siddharthlatest commented on #30
fixed in ``v0.7.2``.

[2016-08-05 04:28] #30 closed

[2016-08-05 04:30] siddharthlatest commented on #7
We aren't accepting donations atm, good luck with beerpay - looks like a good start.

[2016-08-05 04:30] #7 closed

[2016-08-05 08:19] andrew-ie opened #31 "Error on case-sensitive platforms"
Hi,

I tried to deploy this application locally on a Linux environment, and it failed to launch with an error:

[code]

Checking the src/js folder, I can see that it contains a file "HomePage.jsx"

For some preliminary checks so that it at least starts up - I renamed (locally):

Old Name | New Name
-------- | --------
features/FeatureComponent.jsx | features/featureComponent.jsx
HomePage.jsx | hom

[2016-08-05 08:25] siddharthlatest commented on #31
Are you building from the ``dev`` branch or a particular release?

[2016-08-05 08:26] andrew-ie commented on #31
Hi - this was straight from dev - checked out this morning.

[2016-08-05 10:59] siddharthlatest commented on #31
@andrew-ie thanks, able to replicate the issue.

[2016-08-05 15:39] farhan687 commented on #31
Fixed: a28b8759b24b35ec0d19a2e81698d744daeac23d

[2016-08-08 07:00] andrew-ie commented on #31
Hi,

It looks like there is still one left:

[code]

If I edit the file DataTable.jsx and replace dropdown.jsx with Dropdown.jsx, then it starts up correctly.

[2016-08-08 07:51] farhan687 commented on #31
@andrew-ie Should be fixed now with this commit: https://github.com/appbaseio/dejaVu/commit/1195a20338a3cbf636a8c45800b829aa7ca31be9

Can you please check it?

[2016-08-08 08:32] andrew-ie commented on #31
@farhan687 Yes - it now launches correctly.

Thanks for fixing this!

[2016-08-08 08:36] #31 closed

[2016-08-10 13:27] KarmeleJisc opened #32 "Update utility doesn't work"
Update data window is not working anymore, I used this before and it worked properly.
Now 'Update' button from Update Data window doesn't do anything

[2016-08-10 13:34] siddharthlatest commented on #32
@KarmeleJisc are you using it as an Elasticsearch plugin, via chrome app or the hosted gh-pages?

[2016-08-10 13:52] KarmeleJisc commented on #32
Elasticsearch plugin via chrome app

[2016-08-10 13:58] siddharthlatest commented on #32
@KarmeleJisc confirming the issue, thanks for reporting

[2016-08-11 16:14] siddharthlatest commented on #32
@KarmeleJisc this has been fixed in ``v0.7.3`` release, now available on the chrome store - https://chrome.google.com/webstore/detail/dejavu/lcanobbdndljimodckphgdmllahfcadd?hl=en

[2016-08-11 16:14] #32 closed

[2016-08-22 04:42] siddharthlatest opened #33 "Remove types with no data from the sidebar view"
This can prevent a clutter of ``types`` on the app, since starting v2.0: ES doesn't allow mapping modifications.

[2016-08-22 04:45] siddharthlatest opened #34 "Code Refactor and Improvements"
We have divergent branches that require some major code changes for every release cycle. It would be nice if we can separate code concerns that are specific to a branch (for example, in the chrome app - we have to use an async storage API instead of localstorage; we can move the storage code and it's dependencies in a single file).

We can also create an automated merge script to simplify the rele

[2016-08-25 04:28] farhan687 opened #35 "Index creation"
Index should be created if it is not exists.

[2016-08-25 04:33] farhan687 opened #36 "Type visibility"
Type should be visible only if data exists in that type.

[2016-08-25 04:34] farhan687 opened #37 "Refactor code"
Refactor the code, sync with other branches should be smooth.

[2016-08-29 12:01] farhan687 commented on #36
Already here: https://github.com/appbaseio/dejaVu/issues/33

[2016-08-29 12:01] #36 closed

[2016-08-29 12:03] farhan687 commented on #33
Fixed in all branches: a958624eb82cecd63d61733045116e63c4cd466a

[2016-08-29 12:04] farhan687 commented on #35
Fixed: 31f992ad591eb3635c4eb67d490218243a1c0f77

[2016-09-02 16:10] #33 closed

[2016-09-02 16:10] siddharthlatest commented on #37
Duplicate issue of https://github.com/appbaseio/dejaVu/issues/34

[2016-09-02 16:10] #37 closed

[2016-09-02 16:11] #35 closed

[2016-09-02 16:29] siddharthlatest commented on #34
https://codeclimate.com/github/appbaseio/dejaVu/issues

[2016-09-06 11:44] siddharthlatest opened #38 "Find a Chrome App alternative"
Chrome Apps will be deprecated in 2017 and disabled shortly after on all platforms except ChromeOS. In this light, we should publish a native version of dejaVu. A Mac / PC app can certainly be a starting point.

[2016-09-07 07:47] siddharthlatest commented on #38
Check out: https://github.com/koush/electron-chrome

[2016-09-20 00:03] jama707 commented on #36
Is it possible to make it configurable from UI?

[2016-09-20 02:03] siddharthlatest commented on #36
@jama707 why would one want to see types that have no data in the view?

They automatically show up once data is inserted.

[2016-09-21 01:09] jama707 commented on #36
@siddharthlatest,  I'd say for adding some dummy data just for testing.

Right now, I only see 10 document types but I have more than that and they all have data. But it's not showing all of them. What could be an issue here?

Thanks!

[2016-09-21 05:14] farhan687 commented on #36
Hey @jama707 , Are you using chrome-ext., es-plugin or live gh-pages?

[2016-09-21 15:23] jama707 commented on #36
@farhan687, I'm using es-plugin. Installed using this command: `bin/plugin install appbaseio/dejaVu` It's working perfectly fine with 10 documents.

[2016-09-21 21:49] siddharthlatest commented on #36
@jama707 I did try to replicate this behavior both on the ES plugin and chrome app with no luck.

Can you share the link to the problematic index from the chrome app? It's the share button the top left, which will share your exact data view with us.

[2016-10-13 17:09] Nekmo opened #39 "Deja Vu does not work without port o the url"
Google Chrome Web console:
[code]

Exception:
[code]

[2016-10-13 17:11] siddharthlatest commented on #39
@Nekmo Where are you seeing this: Chrome App / Elasticsearch Plugin / Locally? If locally, which branch are you building?

[2016-10-13 17:15] Nekmo commented on #39
Chrome console. This is a JS error on `/_plugin/dejaVu/src/js/helper/feed.js`.  The page is blank.

[2016-10-13 17:16] siddharthlatest commented on #39
@Nekmo Are you using this as an Elasticsearch Site Plugin then?

[2016-10-13 17:17] Nekmo commented on #39
Yes. But I use nginx with proxy_pass.

[2016-10-13 17:43] siddharthlatest commented on #39
@Nekmo This is helpful. Which version of Elasticsearch do you use, and do you have a username:password Basic Auth set up or is it just naked ES URL?

[2016-10-14 00:04] Nekmo commented on #39
@siddharthlatest not yet. My URL is "http://elasticsearch.mycompany.local".

[2016-10-14 04:44] farhan687 commented on #39
@Nekmo I just fixed that for gh-pages as well as elasticsearch plugin, You should uninstall previous one and install new dejavu.
 can you give it a try?

[2016-10-14 13:39] Nekmo commented on #39
Now it works. Thanks :D

[2016-10-14 13:39] #39 closed

[2016-10-24 17:29] samthomson opened #40 "can't get it to work/connect"
- elastic search is running and I can browse data using sense.
- installed dejavu as a chrome extension
- no instruction as to what I should enter for appname or host, tried appname as anything and host as 'localhost' and 'localhost:9200', all of which result in dejavu blocking any user input and continual blue loader at top
- tried host as 'http://localhost:9200' and 'http://127.0.0.1:9200' which

[2016-10-24 17:59] farhan687 commented on #40
hi @samthomson
Solution
- You should write existing index in appname input box.
- and if you already did the above step and still you have the issue, set the CORS setting in elasticsearch config file.

Note: Elasticsearch has a CORS header issue with v2.3.0, use v2.3.2 and above.

[code]

If you use dejavu as elasticsearch plugin, dejavu will fetch the existing indices for you and you just need to

[2016-10-30 00:02] siddharthlatest commented on #38
After more consideration, dejavu can be released as a chrome-extension instead of a full-blown native app.

The advantages would be better cross-platform support, more codebase similarity and an analytics / review system provided by the chrome store.

[2016-10-30 00:08] siddharthlatest commented on #40
@samthomson do you still see the issue?

[2016-10-30 00:11] siddharthlatest opened #41 "dejavu as a kibana plugin"
With Elasticsearch 5.0 being GA, the site plugins have been removed. Instead, Elastic encourages Kibana plugins.

While dejavu can be still usable with the github hosted app and chrome app (which is going away next year), we should consider supporting dejavu as a Kibana plugin.

[2016-10-30 00:15] siddharthlatest opened #42 "dejavu link change"
dejavu URL links now should be using a lowercase 'v' in share links to https://appbaseio.github.io/dejavu because of the repository rename from **dejaVu** to **dejavu**.

We need to change this in all the relevant branches and create a new release.

[2016-11-01 07:44] lanlin commented on #40
same problem in elasticsearch v5.0

when i access 9200 port direct with browser, i can see the version info at least.

use dejavu, after click the "browser" button, it shows nothing but a blocked gray screen.

[2016-11-02 14:09] farhan687 commented on #42
Fixed 9e2922c16c1a6aa92bf9c9f38c06b2e31c9552e9

[2016-11-02 14:20] #42 closed

[2016-11-02 20:00] samthomson commented on #40
@siddharthlatest sorry for the slow reply. Got it working.
@lanlin Do you still have the issue or can I close the issue?

[2016-11-08 10:53] KarmeleJisc opened #43 "Select and copy a record content"
Using ElasticSearch plugin via Chrome app I cannot select the content of a record. When I click on the brackets icon {...}  I can see the content but I cannot select and copy it

[2016-11-08 16:17] siddharthlatest commented on #43
I can confirm the issue.

[2016-11-09 05:21] farhan687 commented on #43
Fixed over here: 28299cda32a17eba8270bbf7da177fb1eb5cff7e

[2016-11-10 12:07] siddharthlatest commented on #43
Released in `v0.8.3`, available in the chrome store.

[2016-11-10 12:07] #43 closed

[2016-11-10 12:09] siddharthlatest commented on #38
Released as a chrome extension - https://chrome.google.com/webstore/developer/edit/jopjeaiilkcibeohjdmejhoifenbnmlh.

Chrome App is frozen at `v0.8.3` and all major updates `v0.9` and onwards will be available at the above chrome extension link.

[2016-11-10 12:09] #38 closed

[2016-11-13 17:57] siddharthlatest commented on #40
@Ianlin closing this issue because of age.

[2016-11-13 17:57] #40 closed

[2016-11-22 22:58] siddharthlatest opened #44 "Id selection ambiguity"
In the data view, when selecting a row with a specific `id`, other rows that have the same `id` but different types also get selected. That shouldn't be the case.

[2016-11-23 23:58] salazar opened #45 ""No data to view" shown while loading"
A "No data to view!" message is shown in the data browser even if there's data and it's loading; the message goes away after data is ready. Perhaps something like "Loading data..." would be better.

[2016-12-02 17:43] fizerkhan opened #46 "Single Tool for ElasticSearch"
Thanks for the great product. I love all the three products such as GEM, Mirage and Dejavu.

I am heavily using them for my local testing. I am facing the problem that I have to frequently switch between tabs. It is really disturbing. Atleast Mirage and Dejavu can be single app so developer can visualise and then test different query from same page.

[2016-12-02 18:00] siddharthlatest commented on #46
@fizerkhan thanks for the love!

We are considering how to integrate them better. I will leave this issue open till we file another one that's more specific on how we will accomplish that.

[2016-12-02 18:03] fizerkhan commented on #46
@siddharthlatest Great. I will wait 👍

[2016-12-06 11:27] haizaar opened #47 "* in CORS is failing"
I have an ES dev server with `Access-Control-Allow-Origin` set to `*` (and does not have any auth credentials). Dejavu refuses to connect - I see the following in browser console log
[code]

Looks dejavu should recognize that there no credentials supplied and `withCredentials` flag accordingly.

I'm using the hosted version of dejavu: http://opensource.appbase.io/dejavu/live on Chrome 53.

[2016-12-06 11:30] haizaar commented on #47
BTW, same problem for hosted version of GEM (http://opensource.appbase.io/gem/), BTW.

[2016-12-06 15:33] haizaar commented on #47
One needs to make sure that `allow-headers` is set. See https://github.com/appbaseio/mirage/issues/34

[2016-12-06 15:33] #47 closed

[2016-12-09 10:00] MrOrz opened #48 "Chrome extension installation steps"
I tried installing the chrome extension and connects to `localhost:9200`. It kept loading.

Finally I got it working by adding the following to `config/elasticsearch.yml`:

[code]

I think there should be error messages that is more informative, and the need for configuring `allow-origin` to `chrome-extension` should be addressed in README.

[2016-12-09 10:08] siddharthlatest commented on #48
@MrOrz Added a note for chrome-extension users here, thank you - https://github.com/appbaseio/dejavu/commit/334bb46bccfbfab1fff76ef584e9a0c2fa6d6b07.

[2016-12-09 10:08] #48 closed

[2017-01-18 11:47] rjurado01 opened #50 "Filter option does not appear for strings and keywords fields"
I use elasticsearch 5.0.0 with this index:

[code]

When I access to Dejavu and inspect index, filter option does not appear for strings and keywords fields.

![dejavu_screenshot](https://cloud.githubusercontent.com/assets/1703608/22062841/1fa777ca-dd7c-11e6-910a-9195ec343bcd.png)

Any help?

[2017-01-19 21:26] Analect opened #51 "Can 'input_state' potentially save an actual query as well as the client, index and types contexts?"
Thanks for this project and its sister `mirage`.  Both serve an important gap in the ES GUI space.

I've been playing around with a local installation against my data and trying to get a better feel for how 'input_state' is working, in terms of it somehow encoding a 'state' ... ie. client-connection info, index selection and perhaps type selection.  I don't think it's base64 encoded ... but I can

[2017-01-20 17:07] siddharthlatest commented on #51
@Analect you are right on point about queries, it's in the roadmap for the next version release (very soon). We are supporting them in plain JSON stringified format.

Also about the `input_state`, it's base64 encoded and then lzma compressed (losslessly). Will add a spec explaining the query string parameters.

[2017-01-22 02:45] xycloud opened #52 "pls add screenshot"
its fine if there is a screenshot  of dejavu in README

[2017-01-22 02:46] siddharthlatest commented on #52
Sure, would you like to contribute? Send over a pull request  :)

On Sun, Jan 22, 2017 at 8:15 AM xycloud <notifications@github.com> wrote:

[2017-01-22 03:15] xycloud commented on #52
yes, I just make a pull request

[2017-01-23 05:59] siddharthlatest commented on #52
@xycloud We had gifs for dejavu features that were broken, I have updated them. Thanks for pointing it out.

[2017-01-23 05:59] #52 closed

[2017-01-24 17:45] Analect commented on #51
@siddharthlatest
Thanks for the update. Look forward to the new release and `input_state` docs. Will close this out.

[2017-01-24 17:45] #51 closed

[2017-01-24 17:46] siddharthlatest commented on #51
@Analect the release is already out v0.10.0. Will add the docs shortly.

[2017-02-01 21:39] siddharthlatest commented on #46
@fizerkhan the new release `v0.10.0` bakes in querying functionality and simultaneously mirage `v0.6.x` adds a new data view for the results based on dejavu.

Closing this issue.

[2017-02-01 21:39] #46 closed

[2017-02-02 06:33] fizerkhan commented on #46
@siddharthlatest Thanks. Great news. I will take a look at it.

[2017-02-09 05:13] bbalakri opened #54 "Does dejavu support basic auth?"
I configured basic auth using search guard. I could access DB using REST but not through dejavu.

[2017-02-09 06:27] siddharthlatest commented on #54
@bbalakri dejavu supports Elasticsearch indexes with basic auth, can you share a screenshot and console log when you are seeing this?

[2017-02-17 08:39] bbalakri commented on #54
Hi Siddharth,
Thanks for following it. I used the Search Guard. CORS setting seems to be causing the issue. Once that's removed, everything is OK. Now I am using dejavu as plugin with no issues.

[2017-02-17 08:40] siddharthlatest commented on #54
@bbalakri awesome to hear, closing this issue.

[2017-02-17 08:40] #54 closed

[2017-02-17 10:50] siddharthlatest commented on #50
@rjurado01 We should be adding support for this in the next release.

[2017-02-17 13:55] rjurado01 commented on #50
@siddharthlatest :thumbsup:

[2017-02-17 18:33] siddharthlatest opened #55 "sync appbase branch to the latest release"
appbase branch currently doesn't have the v0.10.0 release features (query view and new filters). The last commit tip is 7874d0ac2b5d7c35e23d0a5a3cbf37505302902d, we should sync it with the other branches.

[2017-02-25 10:57] siddharthlatest opened #56 "Adding bulk data with "Add Data""
While we have Elasticsearch REST APIs to index data (including with bulk options), adding a feature to add JSON documents in bulk right within `dejavu` would improve accessibility.

### Implementation Idea:

Multiple documents can be supported within the "Add Data" modal using an outer Array. Since Elasticsearch docs need to be an object, supporting this should not cause conflicts with the existin

[2017-02-28 07:57] farhan687 commented on #56
Fixed here: 0353e71709fe96c59b4580ba3cebd9380e552ffa

[2017-02-28 07:58] farhan687 commented on #55
Now we are using `gh-pages` in appbase, so we can remove appbase branch.

[2017-02-28 07:59] farhan687 commented on #44
Fixed here: d6379f7c12a01ee34a74a9b078b755fcfb229cdf

[2017-02-28 08:00] farhan687 commented on #50
Fixed here: e044e25e547e5d76ce224a76b20f8ce6cc2b38ba

[2017-02-28 20:34] rjurado01 commented on #50
@farhan687 Thanks!!

[2017-03-01 09:33] Analect commented on #51
@siddharthlatest
I did keep an eye out for enhancements to docs ref this, but haven't found anything.  I expect you haven't found time to add.  Any chance you might be able to give some guidance here?

I'm interested in passing `type` and `query` parameters to dejavu in order to pre-filter and capture this in the url call.

For instance, this would be a query I would run against a type `infrastruc

[2017-03-01 10:43] #44 closed

[2017-03-01 10:44] #55 closed

[2017-03-01 10:44] #50 closed

[2017-03-01 10:44] #56 closed

[2017-03-01 12:07] farhan687 commented on #51
hey @Analect

You can pass query using query parameter as shown below.

Let's take an example of `2016primaries` appbase app.
appname: 2016primaries
credentials: https://Uy82NeW8e:c7d02cce-94cc-4b60-9b17-7e7325195851@scalr.api.appbase.io

Query with type(on which you want to apply query)
[code]

Now stringify query and pass it with `query` parameter.
over here it will be /dejavu/live/#?input_state

[2017-03-01 12:46] Analect commented on #51
@siddharthlatest
Thanks.
Ideally I want to be able to pre-form the `input_state` part too ... so that I can automatically feed a query directly to dejavu.

So when I login with the `appname` and `credentials` ... it adds this `input_state` to the url.

`https://opensource.appbase.io/dejavu/live/#?input_state=XQAAAAJvAAAAAAAAAAA9iIqnY-B2BnTZGEQz6wkFsnR3mLY6qp78UrdyiX4kf3rJXqxmkCAfGPRGyyY4NGU7xDzBus

[2017-03-01 12:47] Analect commented on #51
Sorry ... realise it was @farhan687 that responded above!

[2017-03-01 15:45] siddharthlatest commented on #51
@Analect This is my understanding of how this part works:

[code]

A stringified version of the above object is [lzma compressed](https://github.com/LZMA-JS/LZMA-JS#how-to-use). This returns a [buffer](https://nodejs.org/api/buffer.html) which is translated to string and that string forms the value of the **input_state** query string parameter.

This is the file where it happens - https://github.c

[2017-03-01 15:57] Analect commented on #51
@siddharthlatest @farhan687  Thanks.

[2017-03-08 19:44] siddharthlatest opened #57 "Subscribing to Github behavior has issues"
The "Subscribe to updates" modal isn't able to authenticate a user and keeps showing up in a loop. One possible reason could be an invalid SSL certificate on ossauth.appbase.io host.

We might also want to change when to show the modal the very first time to something like a duration of "1m" of **on-screen** activity.

Another fallback should be to prevent it from being shown more than two times i

[2017-03-09 12:26] siddharthlatest opened #58 "Show error toaster when bulk additions fail"
Bulk API returns a 200 status code even when errors exist. We need to look at the "errors" object in the response to actually verify if errors exist. And add a toaster to show errors when they exist.

[2017-03-09 12:29] siddharthlatest opened #59 ""Add Data" button behavior"
- [x] Styling: "Add Data" should be positioned more towards the center.
- [x] Bug: Types don't always show up immediately when using "Add Data" to add new data.

[2017-03-09 12:37] #58 closed

[2017-03-09 12:37] #57 closed

[2017-03-09 12:37] #59 closed

[2017-03-10 13:51] siddharthlatest opened #60 "Updating a record returns a 500 error"
Need to investigate further if the issue is related to dejavu or a specific ES host.

[2017-03-15 07:59] siddharthlatest commented on #45
Fixed here https://github.com/appbaseio/dejavu/commit/f79869806df0e5e0bfc30fbc291aa2361f0e1861.

[2017-03-15 07:59] #45 closed

[2017-03-17 18:04] farhan687 commented on #60
Fixed here: a553ea04be3609c53e42f347498d1738fbc7c750

[2017-03-20 09:02] #60 closed

[2017-03-20 14:06] fachhoch opened #61 "does not work with amazon elastic search"
I tried connecting to amazon elasticsearch , it did not work, I tried with 2.3 and 5.1, both failed.  It shows authentication error.  My aws elastic search has no authentication.

[2017-03-20 15:04] siddharthlatest commented on #61
@fachhoch Is your cluster publicly accessible? Can you share with us the URL (if public) or the exact network error response that you are seeing when you try it?

[2017-03-21 12:41] siddharthlatest opened #62 "Change data loading message when no data is present"
Current data loading message "Loading data ..." does not update when there is no data in the app. Should update to "No data found."

[2017-03-23 01:24] max-sydorov opened #63 "Only first 10 types are shown"
I have an index with many types (aka tables) and in Types tab only first 10 ones are shown. I guess this is default size for elasticsearch queries. Can you fix it please?
I use ES 1.4.1.

[2017-03-23 04:34] siddharthlatest commented on #63
Types are fetched from /_mappings endpoint. The ES query's size limitation shouldn't apply.

Do you see any error(s) in the console?

[2017-03-23 07:51] siddharthlatest opened #64 "Add an inline chrome extension installer on the home page"
Reference - https://developer.chrome.com/webstore/inline_installation.

[2017-03-24 11:34] siddharthlatest opened #65 "Support multiple search filters simultaneously"
Currently, we only support one search filter in the data table view. We should add support for multiple filters (on different data columns).

[2017-03-28 19:44] max-sydorov commented on #63
Yes, I see some errors. See attached screenshot.
<img width="1423" alt="screen shot 2017-03-28 at 15 44 10" src="https://cloud.githubusercontent.com/assets/5852281/24424117/746e99d2-13cd-11e7-825e-67b369182c2b.png">

[2017-03-28 21:46] siddharthlatest commented on #63
@maxsidorov the errors seem unrelated, they simply note that you are using a non-realtime ES instance. Will check if there is an actual issue, could potentially just be a missing scroll UI to show more types.

If you inspect the network tab and look for /_mapping requests response, do you see all the types that exist in the app? If yes, this is a UI issue. We will investigate and push out the fix

[2017-03-29 02:50] max-sydorov commented on #63
@siddharthlatest, you are right. I see all types in the /_mapping response. Looks it's UI issue. Thanks

[2017-04-08 03:54] zonglu666 opened #66 "Elaticsearch v5.3.0 coule not install dejavu"

[2017-04-08 09:07] siddharthlatest commented on #66
@zonglu520 Starting Elasticsearch v5.0.0, site plugins have been removed. Alternatives are:

1. Using the docker image - https://hub.docker.com/r/appbaseio/dejavu/ (ideal replacement for the site plugin),
2. Using the chrome extension - https://chrome.google.com/webstore/detail/dejavu/jopjeaiilkcibeohjdmejhoifenbnmlh,
3. Using the hosted app at https://opensource.appbase.io/dejavu.

[2017-04-08 09:07] #66 closed, assigned to nobody

[2017-04-13 10:30] farhan687 opened #67 "download fails when records are more than 1k"
Possible soultion: http://stackoverflow.com/questions/16761927/aw-snap-when-data-uri-is-too-large

[2017-04-14 18:50] agnivade opened #68 "Not working with ES 5.3"
This is the output that I get while running  the plugin -

[code]

[2017-04-15 08:18] siddharthlatest commented on #68
@agnivade Starting v5.0.0, site plugins have been disabled. We recommend using the docker image https://hub.docker.com/r/appbaseio/dejavu/ instead.

[2017-04-15 08:18] #68 closed, assigned to nobody

[2017-04-15 09:59] agnivade commented on #68
Yea, I figured. I downloaded and ran it locally anyways. Thanks !

[2017-04-15 12:17] agnivade commented on #15
Yes .. this is bothering me too. I have just started looking through the codebase. Most probably I will send a PR soon !

[2017-04-18 07:57] farhan687 commented on #62
Fixed here: cc9e2f4f548049ca21043f046008ca9e3baafd94

[2017-04-18 07:57] farhan687 commented on #63
Fixed here: 4cef3c6c6dc81f14490127e1ef4c0375058e6c99

[2017-04-18 07:58] farhan687 commented on #65
Implemented here: 07ecfd69c67f38841e2cd90f416e91c7b2ba0ad4

[2017-04-18 07:58] farhan687 commented on #67
Fixed here: 0da358d9f6ccab0c86b0e414aaf4f472726e6996

[2017-04-18 10:58] farhan687 commented on #64
Fixed here: 73c4090f1c50c5cd980e97c5327f885be5f65a1e 0e08a042323e1c14e8cc250b6a4583f7c53e9ae3

[2017-04-19 08:09] siddharthlatest commented on #61
Closing this due to lack to activity.

[2017-04-19 08:09] #61 closed, assigned to nobody

[2017-04-19 11:55] xycloud commented on #41
any progress about this?

[2017-04-19 11:59] siddharthlatest commented on #41
@xycloud Have had some people ask about it. We don't have this on an immediate roadmap, however if someone contributes, we would be more than happy to add it in.

[2017-04-19 12:01] siddharthlatest commented on #41
We recommend using the docker image https://hub.docker.com/r/appbaseio/dejavu/ if you are on ES 5.0 and above.

[2017-05-01 06:19] matthewberryman opened #72 "git not installed in node docker image"
running docker build (for dev branch) generates an error on npm install as git is not installed in the docker node image:
[code]

Just flagging that on master there's a separate docker install issue
[code]
that I haven't raised as an issue as it's gone away in your dev branch

[2017-05-01 06:27] matthewberryman opened #73 "docker file not in default location"
Because Dockerfile is in .docker/ the location of the file needs to be specified using `docker build . -f .docker/Dockerfile` instead of just running `docker build .`

[2017-05-01 06:54] siddharthlatest commented on #73
Fixed in 3a34220f9d4c6f962608c90ef2635fc111216498, to be included in the next release.

[2017-05-01 06:54] #73 closed, assigned to nobody

[2017-05-01 06:55] siddharthlatest commented on #72
Fixed in 3a34220f9d4c6f962608c90ef2635fc111216498.

[2017-05-01 06:55] #72 closed, assigned to nobody

[2017-05-01 06:56] #67 closed, assigned to nobody

[2017-05-01 06:56] #65 closed, assigned to nobody

[2017-05-01 06:56] #64 closed, assigned to nobody

[2017-05-01 06:57] #63 closed, assigned to nobody

[2017-05-01 06:57] #62 closed, assigned to nobody

[2017-05-01 08:54] siddharthlatest opened #75 "Support functionality for CSV / JSON import"
Being able to directly import a .csv or .json file format would be a huge getting started enhancement.

[2017-05-01 17:07] siddharthlatest commented on #75
This has been supported via the `importer` project.

[2017-05-01 17:07] #75 closed, assigned to nobody

[2017-05-04 05:27] siddharthlatest opened #77 "Popover toggle on objects takes two clicks"
![](https://i.imgur.com/VFOptZs.png)

A popover toggle on the array field here takes two click for the popover to appear and two clicks for the popover to disappear. The toggle should happen on a single click.

Also the popover should also remove itself after `10s`.

[2017-05-09 04:29] PAK90 opened #78 "10mb file upload limit"
I have an ~80mb file (array of a few thousand objects) which I want to import, but can't due to the 10mb limit. Is there any way around this?

[2017-05-11 14:53] nikmartin opened #79 "Permissions error when connecting to AWS ElasticSearch"
Like #61, Using the AWS elastic search service, if I  do a GET of /[indexname]/_mapping in a browser, I get back the index mapping of my elastic search server. Using DejaVu (chrome plugin) , It never appears to connect, and if I look at the developer tools console, I see this:

`403: Forbidden: http:/[my elastic server]/[index]/_mapping`
`{"message":"'dWF0LmVsYXN0aWMuaGVhbHRoY29zdC5pbzp0ZXN0' not

[2017-05-11 17:29] siddharthlatest commented on #78
Currently, we are enforcing the 10MB limit as the import feature is very new and we don't want people to import arbitrarily large files.

A workaround is to break your file into multiple chunks, each less than 10MB (and with less than 100k records). You can then go through the import process multiple times; pick the import destination as an existing app starting the 2nd time onwards.

I should als

[2017-05-12 04:36] farhan687 commented on #79
Hey @nikmartin ,

Can you share your elastic-search version and chrome extension version? (dejavu is working fine with es v2.4 and 5.x)
Can you just make sure that you follow this step: https://github.com/appbaseio/dejavu#or ?

And please share the URL to farhan687@gmail.com if above steps don't work for you.

[2017-05-12 18:42] Akhilesh-Anb opened #80 "Export to CSV or Excel"
Hi,

i love this plugin for ES. Can we get an option for downloading the data in excel sheet?

If yes please let me know. We have 40GB size of indices. It will be helpful if we have excel report generation

Thanks,
Akhilesh Appana

[2017-05-17 10:14] brylie opened #81 "Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue"
When running `npm install` I noticed the following security warning:

[code]

Disregard, if this is already a known issue.

[2017-05-17 15:08] hrishikeshvganu opened #82 "Filling`App name` and `URL` entries"
I am running both Elasticsearch and Dejavu on a remote machine and am connecting to Dejavu by port forwarding port 1358 over ssh.
When I open `http://localhost:1358` I get to see Dejavu UI.
Here's what I entered in these fields:
`App`: <my_index_name> (confirmed that this index exists in ES)
`URL`: `http://localhost:9200 `

After this Dejavu fails to connect and hangs
1. Are these settings right?

[2017-05-17 15:11] farhan687 commented on #82
Can you share your elastic-search version? (dejavu is working fine with es v2.4 and 5.x)

Can you just make sure that you follow this step: https://github.com/appbaseio/dejavu#cors ?

[2017-05-18 11:20] hrishikeshvganu commented on #82
@farhan687 : I've modified the config according to : https://github.com/appbaseio/dejavu#cors
Here's the command to find version and the response:
[code]
**Can you please confirm if the entries I have for the "app" and "URL" fields are correct?**
Is there anything I can try to isolate/find where exactly the problem is? It looks like Dejavu is running fine and the ES cluster is fine as well but the

[2017-05-20 15:38] siddharthlatest commented on #82
@hrishikeshvganu Can you share the URL that you are using in the browser to access dejavu? Can you also share the exact Elasticsearch config that you have?

[2017-05-22 13:32] farhan687 commented on #81
hey @brylie
Minimatch is gulp dependency,
For more info check this issue https://github.com/gulpjs/gulp/issues/1604

[2017-05-22 13:32] #81 closed, assigned to nobody

[2017-05-25 09:55] siddharthlatest commented on #80
@Akhilesh-Anb We would love to support an export to csv but it is not currently on our roadmap. A workaround is to use online convertors for JSON -> CSV. That said, if someone would be willing to make a feature PR for this, we would welcome it!

[2017-05-25 10:55] siddharthlatest commented on #78
@PAK90 We have increased the upload limit to 100MB, the import feature still remains experimental ;)

[2017-05-25 10:55] #78 closed, assigned to nobody

[2017-06-02 14:57] binarytrails opened #83 "Centos 7 build failure due to unsupported dependency"
[code]

[2017-06-19 09:28] koh-osug opened #84 "Guidance how to include as static frontend"
So far i'm using Kibana 3 which can be configured with an URL and a logstash column configuration which data to show. Kibana 4+ is using its own server which is a very unpleasant development and is not appreciated. I want to have the classical Kibana 3 approach which is completely using client side rendering. I want to be able to use dejavu as a replacement to support also elastic search 5+. How c

[2017-06-19 15:06] siddharthlatest commented on #84
@koh-osug The [dejavu chrome extension](https://chrome.google.com/webstore/detail/dejavu/jopjeaiilkcibeohjdmejhoifenbnmlh) can work client-side. Alternatively, if you are open to the idea of running a docker container, there is also a [dejavu image on docker hub](https://hub.docker.com/r/appbaseio/dejavu/). The container can run on the same host machine as the ES cluster node(s), or a different on

[2017-06-19 17:15] koh-osug commented on #84
Hi, I actually targeted for dejavu to have a light weight implementation because I had the impression that dejavu wants to be an alternative for Kibana 3. Kibana 4+ were complicating things like introducing a server. It should be startable from inside the server provided HTML. The chrome extension is a burden for the user because he would have to open this, enter an URL and also the credentials. I

[2017-06-20 07:49] siddharthlatest commented on #84
@koh-osug There is a hosted version of the app available at https://opensource.appbase.io/dejavu/live/, that should work on all modern browsers. It runs on github pages. I think this is what you are looking for.

If you wish to create your own set up that is similar to that, check out the build config in the `gh-pages` branch of the repo. It currently starts its own static server, but it should no

[2017-06-21 03:08] koh-osug commented on #84
OK, thanks a lot. I will give this a try.

[2017-06-26 18:23] isgroup-srl opened #85 "main.min.js:1 Uncaught TypeError: this.generateFilterQuery is not a function"
When a filter of type "search" is set the "Export" button does not work, with the following exception:

[code]

[2017-06-27 03:14] koh-osug commented on #84
Seems to be not easy. To goal was to get rid of this welcome credentials page where the data of the ES cluster. This does not make sense for my server view, the user is already authenticated. I tried to remove this BRANCH differences and the config and try to find the place where the URL to the ES cluster has to be defined, but it insists to ask for a username and password, although this is handle

[2017-06-29 16:36] siddharthlatest commented on #85
@isgroup-srl We just pushed a new build. It should work now, let us know if you still see the issue.

[2017-06-30 14:14] siddharthlatest commented on #83
@sevaivanov It seems the build is likely failing due to `react-addons-pure-render-mixin` dependency not matching other react dependencies.

Also, the optional dependencies installation can be skipped with a --no-optional flag.

[2017-07-03 05:16] siddharthlatest commented on #84
@koh-osug The credentials are for a demo app that we include in the hosted app. They shouldn't matter.

Dejavu stores the state (current app, cluster host, any other UI selections) in the URL. One quick way for you to route directly to the app page is set up a redirect on a specific page to go to this URL.

The other option to set it directly in the view would involve changing it in the file `live

[2017-07-05 14:45] timhuijser opened #86 "Working with Docker"
When using the Docker image the client will fail while setting up the interface. The client is successfully retrieving data from the index I filled out, CORS is working as far as I can tell.

What goes wrong is a call made to `https://accapi.appbase.io/user`. In my logs I can see

[code]

The content of the response is
`{"message":"Not Logged In, No Token"}`

Would be awesome if anyone could give

[2017-07-05 15:09] siddharthlatest commented on #86
@timhuijser Which port are you using dejavu from? Also, where in the interface does this happen - Are you using the data browser view or the importer view?

[2017-07-05 15:34] timhuijser commented on #86
@siddharthlatest Thank you for your fast reply. I am using dejavu from port 1358, I'm accessing it on `<my-dev-domain>:1358/`. I'm using the browser view and the issue is after filling out the index name and the ES target.

See screenshot: http://imgur.com/a/Q9tvX

[2017-07-05 20:07] koh-osug commented on #84
Thanks for the help. Some requirements have been added on my, e.g. to have a dashboard and some visualizations, so I think, I cannot get around to have full blown Kibana setup now.

[2017-07-05 20:07] #84 closed, assigned to nobody

[2017-07-06 01:02] siddharthlatest commented on #86
@timhuijser I tested with `appbaseio/dejavu:0.13.0` (also the latest) and do not see that request being made. Which tag are you using, or are you building from source?

[2017-07-06 08:36] timhuijser commented on #86
I was using `appbaseio/dejavu:latest`, when trying `appbaseio/dejavu:0.13.0` I'm getting the same error. While digging around I saw [this code](https://github.com/appbaseio/dejavu/blob/40e0ceac3261dcdebef23f9a4af4bc9817cb69fd/live/src/js/features/Importer.js#L31), which looks like the cause of the call. Any idea why this call is made?

[2017-07-06 08:51] siddharthlatest commented on #86
We added an import data functionality recently, where we need to log in a user to show the app to import to. It seems there is a side effect of that in the data browser view, which shouldn't ideally require a login.

Thanks for pointing this out, I would recommend trying 0.12.0 version on docker in the meanwhile.

[2017-07-06 11:23] timhuijser commented on #86
Thank you for the explanation, I will try the previous version!

[2017-07-06 18:50] isgroup-srl commented on #85
Thanks, will check on monday!

[2017-07-13 11:25] siddharthlatest opened #87 "Filter: Unable to change an existing query filter"
Dejavu's UI breaks when re-applying the same filter again. Able to replicate on the hosted version at https://opensource.appbase.io/dejavu/.

Steps to replicate:

1. Applying a "greater than" filter
![](https://i.imgur.com/ppj4P9T.png)

2. Removing the filter by clicking on the cross icon
![](https://i.imgur.com/rrv5kN4.png)

3. Attempt to re-apply the same filter
![](https://i.imgur.com/NmIRukV.p

[2017-07-13 11:28] siddharthlatest commented on #85
@isgroup-srl Were you able to verify? I am closing the issue, feel free to re-open if you still see the exception.

[2017-07-13 11:28] #85 closed, assigned to nobody

[2017-07-14 06:58] siddharthlatest commented on #82
Closing due to inactivity. Feel free to re-open this if the issue persists.

[2017-07-14 06:58] #82 closed, assigned to nobody

[2017-07-19 11:33] PhillippOhlandt opened #88 "Can't connect to a new ES instance"
Hey,

I am new to ES and use the official ES docker image with the following config:

[code]

Now I try to connect using the chrome extension version of this GUI. But I don't know which app name to define. I just have an empty ES server right now. When I use something random as app name, I get an error that the app name, user name or password is wrong. Is there something obvious I am missing?

[2017-07-19 12:08] PhillippOhlandt commented on #88
Got it working. Had to create an index first with an ES client lib.

[2017-07-19 12:08] #88 closed, assigned to nobody

[2017-07-22 10:47] siddharthlatest commented on #86
Update: Able to replicate the issue, will be fixed in v0.14.0. Thanks for pointing out @timhuijser.

[2017-07-22 11:01] #79 closed, assigned to nobody

[2017-07-22 11:02] siddharthlatest commented on #77
This has been fixed.

[2017-07-22 11:02] #77 closed, assigned to nobody

[2017-07-22 11:16] siddharthlatest commented on #41
Will not be pursuing this in the near future as we already have a docker image, but we would accept a PR on this if someone gets around to it.

[2017-07-22 11:16] #41 closed

[2017-07-22 16:56] farhan687 commented on #87
Fixed here 9a80bc95f0fc74c1974cb7eb5a68bdd3b41da9ce

[2017-07-22 16:56] farhan687 commented on #80
Implemented here e6f19c542516d5d9b412732a78b33d1bca9a4159

[2017-07-22 17:53] siddharthlatest commented on #83
This has been fixed in the `dev` branch.

[2017-07-22 17:53] #83 closed, assigned to nobody

[2017-07-22 17:54] #80 closed, assigned to nobody

[2017-07-22 17:55] siddharthlatest commented on #86
This has been fixed in the `dev` branch.

[2017-07-22 17:55] #86 closed, assigned to nobody

[2017-07-22 18:01] siddharthlatest opened #89 "Filter queries are being overridden on page change"
When applying a filter in the UI, the current view changes to reflect the query condition. However, on page change, the query condition is overwritten by a `match_all` query.

### Initial query:

![](https://i.imgur.com/k9b07N7.png)

### Query after page change:

![](https://i.imgur.com/eJwwaJY.png)

[2017-07-23 04:49] farhan687 commented on #89
Fixed here: 8a575c94b8616fc772d6a010ce4ff63e374edd0f

[2017-07-31 21:06] #89 closed, assigned to nobody

[2017-07-31 21:07] #87 closed, assigned to nobody

[2017-08-04 20:19] rkaplan-sx opened #90 "Connect to AWS Elastic Search"
Is it possible to connect to AWS Elastic Search using an AWS signature (access key and secrety key).  It looks like dejavu only supports basic auth.  Thanks for your help.

[2017-08-10 14:55] barum opened #91 "aggregations support"
Do you support aggregations?

[2017-08-10 14:56] siddharthlatest commented on #91
@barum Can you elaborate? What are you trying to accomplish?

[2017-08-10 20:38] anfreita opened #92 "Filtering on nested data types"
@siddharthlatest you mentioned in #14 that filtering on nested data types is unsupported. I'm curious to know what the reason for this is. I've been experimenting with deja vu in the chrome extension and l love the utility and ease of use, but this is a pretty big limitation for us. Most of our documents are in the format:

[code]

Being able to filter on nested data types would be pretty huge, ev

[2017-08-15 23:55] maitredede opened #93 "Can't run application"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Chrome extension and web app (chrome)

#### What is the version of Dejavu that you are using?

Current at date of message

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

javascript error : Uncaught SyntaxError: Unexpected toke

[2017-08-15 23:59] siddharthlatest commented on #93
@MaitreDede The chrome web app is deprecated, the chrome extension is currently maintained. I do not see the issue that you are mentioning in the `1.0.0` version.

Can you go to the following URL chrome://extensions/?id=jopjeaiilkcibeohjdmejhoifenbnmlh and share a screenshot of what you see?

It should look something like this:

![](https://i.imgur.com/Tk2NSZp.png)

If you don't see the version to

[2017-08-16 00:10] maitredede commented on #93
![image](https://user-images.githubusercontent.com/1765408/29341936-5d70a8dc-8273-11e7-89d8-0a5be13dc7c8.png)
![image](https://user-images.githubusercontent.com/1765408/29341948-726fcc0e-8273-11e7-8aa3-bb5694927b74.png)

[2017-08-16 00:13] maitredede commented on #93
Error is in your sources : https://github.com/appbaseio/dejavu/blob/dev/live/src/js/helper/homePageHelper.js#L691

[2017-08-16 00:16] siddharthlatest commented on #93
@MaitreDede Thanks, I am able to replicate the console error when toggling the Displayed Attributes columns, but this is not breaking any functionality for me. Is it the same for you?

[2017-08-16 01:49] maitredede commented on #93
@siddharthlatest The application has never started for me.

[2017-08-23 14:52] divyanshu013 opened #94 "Inline editing"
Adding an inline editing feature to DejaVu which would allow a user to edit the data more naturally:

- [x] Add support for boolean (via dropdown)
- [x] Add support for geo points
- [x] Add support for arrays (via a multidropdown list type component which shows different values and ability to add new values)
- [x] Add support for dates (elasticsearch formats https://www.elastic.co/guide/en/elastic

[2017-08-23 14:54] divyanshu013 opened #95 "New row features"
- [x] Show row numbers
- [x] Ability to add new row by clicking a '+' icon. (Show a modal and add to top)
  - [x]  <s>Add new rows to the bottom if rows fit into single view (wihout scroll)</s>
  - [x]  <s>Add new rows to the top when number of rows is larger (with infinite scroll)</s>
  - [x] <s>Add to the top or bottom/ check client only side logic</s>
- [x] <s>Add support for adding rows with a

[2017-08-23 14:55] divyanshu013 opened #96 "New column features"
- [x] Add support for adding new columns
  - [x]   Specify new data type like importer
- [x] Error message when user does not has write credentials
- [x] User enters name of the column
- [x] For datatype use a dropdown view, can also extend for formats (e.g. dates have different formats)
- [x] Columns should get re-arranged alphabetically
- [x] Check the mapping object to make sure no duplicates g

[2017-08-23 14:57] divyanshu013 opened #97 "Add a new image datatype"
Extending DejaVu functionality
- [x] Add new image <s>datatype</s> dejavuMeta type
<s>Using a datastore like s3 for images</s>
- [x]  Allow user to add urls for images <s>or images</s>
<s>Store image meta data like keywords (for search)</s>

[2017-08-23 14:59] divyanshu013 opened #98 "Persist column order"
<s>Keeping track of columns using `_meta` so that we're able to keep a consistent order when rendering or updating the columns.</s>

Keep things alphabetical

[2017-08-23 15:00] divyanshu013 opened #99 "Add new object datatype"
Extending DejaVu functionality with a new object datatype

- Support an object datatype ?
- Add JSON editor for object datatypes (modal view)

[2017-08-23 15:02] divyanshu013 opened #100 "UI/UX polishes"
- [x] The array field should be in a single line (figure out a way with ellipsis perhaps)
- [x] Change the UI for checkboxes and row numbers (like airtable)
- [x] Row height should be fixed (allow 20 rows to be visible on a normal desktop screen)
- [x] Ellipsis on the text fields only (optimize array for showing maximum number of items)
- [x] Geo points in a single row
- [x] Use new colors
- [x] U

[2017-08-23 16:26] barum commented on #91
in solr there are Facets. similar to that.

[2017-08-23 16:48] siddharthlatest commented on #91
@barum What is the use-case you are seeing where dejavu can help if aggregations were supported? Elasticsearch supports aggregations, but I am not sure in what context dejavu can support them, so mentioning a use-case that you have but aren't able to solve it today is a good starting point.

[2017-08-25 10:06] divyanshu013 opened #101 "View and Edit modes"
Edits will only be allowed in Edit mode

[2017-09-03 08:42] divyanshu013 commented on #98
Resolved in 7da1f121cbcfc5217c113c431b2efb4051842991

[2017-09-03 08:42] #98 closed, assigned to divyanshu013

[2017-09-05 04:50] dyakhnov opened #102 "Cannot read property 'find' of undefined"
Windows 10 (64-bit)
Node 8.0.0
npm 5.0.0

[code]

[2017-09-06 04:34] dyakhnov commented on #102
Close this ticket please, NodeJS has been upgraded to 8.4.0 and that was it!

[2017-09-06 05:10] #102 closed, assigned to nobody

[2017-09-07 11:03] zajacm commented on #12
I've spotted the same issue on my local.
Running Elasticsearch with:
[code]
and in browser:
![image](https://user-images.githubusercontent.com/5364505/30160492-eb950e9a-93cc-11e7-8373-4a8b6ca16927.png)

what can be a problem?

[2017-09-07 11:07] siddharthlatest commented on #12
@zajacm This shouldn't have any material effects. The reason this happens is that dejavu assumes that you are connecting to appbase hosted Elasticsearch and tries to create a live connection via websocket.

[2017-09-07 11:10] zajacm commented on #12
Yeah, dejavu works fine, just wanted to get this nice feature. Is there any way to get it working?

[2017-09-07 11:21] siddharthlatest commented on #12
@zajacm The Elasticsearch backend needs to support a realtime mode, currently, this is available only on hosted appbase.io. We're working on a docker image of appbase.io that can run against a generic ES cluster to have this available more broadly.

[2017-09-07 12:50] #101 closed, assigned to divyanshu013

[2017-09-07 13:22] zajacm commented on #12
Ok, it's clear now. Thanks!

[2017-09-07 19:51] siddharthlatest commented on #94
@divyanshu013 seeing one issue with date fields

![](https://i.imgur.com/607xc11.png)

Clicking on a field opens up an empty selectable input field. It requires a second click before the calendar view shows up.

![](https://i.imgur.com/gD7bXdC.png)

[2017-09-07 19:57] siddharthlatest commented on #100
@divyanshu013 We need to think more about the color scheme here, it is hard to tell which of the two tabs is actually selected here.

![](https://i.imgur.com/UGFoSUU.png)

I would have guessed "Queries", but it is actually "Types" that is selected.

[2017-09-08 04:53] divyanshu013 commented on #100
I'll try something for the tabs

[2017-09-12 15:04] #99 closed, assigned to divyanshu013

[2017-09-13 09:15] #94 closed, assigned to divyanshu013

[2017-09-14 09:07] jonassvalin opened #104 "CSV export not working with filters applied"
Docker Image, Latest

JSON/CSV exports seem to work correctly for unfiltered data, but when applying a filter it no longer works correctly and only returns the first 10 results. This can also be seen under "Network" in the browser, it is not scrolling through using the scroll API, but only performing one request.

[2017-09-14 09:14] siddharthlatest commented on #104
@jonassvalin thanks for the report. I am able to replicate the issue, this happens across all the distributions.

[2017-09-14 13:31] #95 closed, assigned to divyanshu013

[2017-09-15 09:07] #100 closed, assigned to divyanshu013

[2017-09-15 10:58] #104 closed, assigned to divyanshu013

[2017-09-15 17:10] #96 closed, assigned to divyanshu013

[2017-09-24 17:52] mmacny opened #105 "Running Dejavu on a WebServer"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Running Dejavu on an Ubuntu Server w/ Docker Image

#### What is the version of Dejavu that you are using?
1.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
- Running elasticsearch on AWS.
- Permitted inbound IP of webserver.

[2017-09-25 05:08] siddharthlatest commented on #105
@mmacny This is a good point. AWS's Elasticsearch service doesn't allow you to configure the cluster (or domain in their terminology) with the elasticsearch.yml which is where you can set the CORS permissions to allow the domain:port where dejavu is running.

An alternative that can work in this case is you setting up an API gateway endpoint which allows CORS for the dejavu's domain:port which the

[2017-09-27 15:03] amigo1205 opened #106 "How to use dejavu for local?"
Hi

I heard that there is an excellent tool to manage elasticsearch and yeah just dejavu.
So I've installed elasticsearch 5.6 (the latest version) and dejavu (dev branch) on my local.

The thing is I have no clue how to browse my local elasticsearch dataset using dejavu.
Is there any tutorial or guide to lead us? Please let me know if yes.

I tried to do this several times before but I've failed a

[2017-09-27 17:17] siddharthlatest commented on #106
@amigo1205 It seems you haven't enabled CORS config in your local Elasticsearch cluster. You will need to add the following lines in your elasticsearch.yml file:

[code]

Reference: https://github.com/appbaseio/dejavu#cors

[2017-09-27 17:45] amigo1205 commented on #106
Thanks for your reply.

And I already added them in my elasticsearch config.

![image](https://user-images.githubusercontent.com/29459701/30928517-6c6c2cfc-a3ee-11e7-97ba-32a06a1ee4dd.png)

As you see, everything is perfect.

Hint : I tried with dejavu docker at the moment and it worked. :)
          But doesn't work when I pull the git source code and build on my local.

[2017-09-27 17:48] siddharthlatest commented on #106
@amigo1205 You shouldn't be seeing a CORS issue with this config. Also dev is bleeding edge and has undergone some good amount of changes since the last release, so it is possible something else might be the issue there although I am able to use it fine with a local ES cluster.

[2017-09-27 18:44] amigo1205 commented on #106
Are there any differences between the git repo and docker project?

[2017-09-28 06:30] vanditamathur commented on #79
I have the same problem - When I connect to my AWS ES URL through the browser window, I get the mapping, but not through dejaVu. I get the following error in response -

{"message":"Authorization header requires 'Credential' parameter. Authorization header requires 'Signature' parameter. Authorization header requires 'SignedHeaders' parameter. Authorization header requires existence of either a 'X

[2017-09-28 08:10] siddharthlatest commented on #79
@vanditamathur Since AWS's Elasticsearch service doesn't allow you to configure CORS (which an open-source Elasticsearch cluster lets you do), your best bet it to proxy the request via AWS's API Gateway service. i.e. you provide a API gateway service endpoint to dejavu, and then in the API gateway service, connect a general purpose lambda handler which forwards the request to Elasticsearch.

See #

[2017-09-28 08:35] vanditamathur commented on #79
If it were a CORS issue, why does it work with my browser which is the same domain as dejavu?

[2017-09-28 08:37] siddharthlatest opened #107 "Feature Idea: Add a proxy-server to bypass CORS errors"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Docker Image

#### What is the version of Dejavu that you are using?

Future release

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

**Request:** Setting up CORS config on an Elasticsearch cluster is an inconvenience. Popular

[2017-09-28 08:41] siddharthlatest commented on #79
When you say it works with your browser, what do you mean? Like you type in the endpoint in the URL bar and it returns a response? A screenshot would help.

[2017-09-28 08:54] vanditamathur commented on #79
That's right. When I type in the endpoint to see mappings, I get the result. Screenshot attached
![untitled](https://user-images.githubusercontent.com/27719913/30957727-b71c2cba-a458-11e7-8289-b6dc215eb464.png)

[2017-09-28 09:17] vanditamathur commented on #79
Firstly, the error from the online link is different from the one I get if I use the Chrome extension. The message that I put earlier was from the chrome extension. With the onlie link, I get the following error -
"Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's cr

[2017-09-28 09:29] siddharthlatest commented on #79
Related to the screenshot: Thanks for confirming. CORS restrictions don't apply when you type a URL in the browser, they only apply to programmatic requests made by an app's JS that runs within the browser runtime. So what you're observing is inline with a CORS issue.

---

On the `withCredentials`, you bring up an interesting point. Can you file that as a **new issue**? We will test on our end an

[2017-09-28 10:05] vanditamathur opened #108 "Not able to connect to AWS ES"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Within appbase.io (https://opensource.appbase.io/dejavu/live)

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

With the online link, I get the following error -
"Response to preflight request doesn't pass access control check:

[2017-09-28 12:42] divyanshu013 commented on #106
Hi @amigo1205 can you pull in the latest commit and give it a test after running <s>`bower install`</s> `yarn` in the *dev* branch. It should resolve the error you were seeing. Let us know

[2017-09-28 14:18] siddharthlatest commented on #108
Thanks @vanditamathur, I am able to replicate a solve where your suggested solution works. We should be releasing the fix to this in the next version. This should also solve #105 and the previously closed #79.

[2017-09-28 14:21] siddharthlatest commented on #107
Given the update on #108 which should solve the AWS Elasticsearch CORS problem, this is now less appealing. There are still benefits of not having to set up CORS on a local Elasticsearch cluster, but we already provide templates for doing that.

[2017-09-28 14:21] #107 closed, assigned to nobody

[2017-09-28 14:42] siddharthlatest commented on #92
@anfreita We now support writing a query for filtering UI views, this should be possible if you are using v1.0.0. You can write an ES query and the UI will be filtered based on the query.

[2017-09-28 14:42] #92 closed, assigned to nobody

[2017-09-28 14:43] siddharthlatest commented on #91
Closing this due to lack of activity.

[2017-09-28 14:43] #91 closed, assigned to nobody

[2017-09-28 14:50] siddharthlatest commented on #90
@rkaplan-sx This isn't possible currently, if someone were to submit a PR for it, we would be happy to support it.

[2017-10-02 11:59] #108 closed, assigned to divyanshu013

[2017-10-02 16:24] divyanshu013 opened #111 "Displayed attributes are not updating when sharing the URL"

[2017-10-02 16:26] divyanshu013 opened #112 "Support for edit query feature"
Allow an edit button in the query items to directly edit the query

[2017-10-02 16:51] #111 closed, assigned to divyanshu013

[2017-10-03 09:09] amigo1205 commented on #106
Yeah thanks.
The latest version of dejavu works now.

[2017-10-03 09:09] #106 closed, assigned to nobody

[2017-10-03 09:23] #112 closed, assigned to divyanshu013

[2017-10-06 23:51] #97 closed, assigned to divyanshu013

[2017-10-07 00:24] siddharthlatest opened #114 "Falsely detects Array field when it is a text field"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Hosted web app though it shouldn't matter.

#### What is the version of Dejavu that you are using?

1.1.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

Dejavu's UI view shows an Array like UI for a field with string datatype

[2017-10-07 00:32] siddharthlatest opened #115 "Uncaught Error: trying to read 'properties' and '_meta' fields"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Hosted web app, though it shouldn't matter.

#### What is the version of Dejavu that you are using?

1.1.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

When browsing an app from an old URL, dejavu has issues with parsing th

[2017-10-07 00:35] siddharthlatest commented on #105
@mmacny This should work now out of the box, try the `appbaseio/dejavu:1.1` or latest tag.

[2017-10-07 00:35] #105 closed, assigned to nobody

[2017-10-07 00:44] siddharthlatest commented on #93
@MaitreDede The new release fixes the uncaught syntax error.

[2017-10-07 00:44] #93 closed, assigned to nobody

[2017-10-09 10:54] divyanshu013 opened #116 "Dejavu doesn't takes up the entire height of the screen in appbase dashboard"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Within appbase.io

#### What is the version of Dejavu that you are using?
latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
Dejavu doesn't takes up the entire height of the screen in appbase dashboard

##### If your issue d

[2017-10-09 14:39] #116 closed, assigned to divyanshu013

[2017-10-09 16:02] #115 closed, assigned to divyanshu013

[2017-10-10 08:14] #114 closed, assigned to divyanshu013

[2017-10-11 12:00] siddharthlatest opened #117 "Enhancement: Use normal delete for a single document deletion"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

All

#### What is the version of Dejavu that you are using?

latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

Currently, dejavu uses bulk delete method for applying deleting irrespective of the number of documents being

[2017-10-11 19:33] mmacny commented on #105
@siddharthlatest You guys are awesome. I'll give it a try this week.

[2017-10-13 08:25] #117 closed, assigned to divyanshu013

[2017-10-16 07:05] divyanshu013 opened #118 "Array of objects gets rendered incorrectly"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Within appbase.io

#### What is the version of Dejavu that you are using?
latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
An array of objects gets rendered in a multi dropdown list view. It should be rendered as a modal e

[2017-10-18 05:44] divyanshu013 opened #119 "Bulk deletion of records not updating the total records in UI"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
within appbase.io

#### What is the version of Dejavu that you are using?
latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
Bulk deletion of records not updating the total records in UI. This happens because streaming doesn

[2017-10-18 12:42] cweiske opened #120 "List indices instead of requiring appname"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
chrome extension

#### What is the version of Dejavu that you are using?
1.1.1

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
I tried to use dejavu as elasticsearch head alternative, but - in contrast to head - does not seem to

[2017-10-18 12:44] siddharthlatest commented on #120
@cweiske You're right, currently only a single index is supported.

[2017-10-19 16:18] HarelM opened #121 "Support showing geometries on a map"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Chrome extension on localhost.

#### What is the version of Dejavu that you are using?
Latest release as of writing these lines

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
Elastic search has a geo_point and geo_shape feature

[2017-10-23 07:21] siddharthlatest opened #123 "Unable to read an app with an empty mappings object"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Hosted web app

#### What is the version of Dejavu that you are using?

1.2.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

Dejavu throws a `Uncaught TypeError: Cannot read property 'mappings' of undefined` when trying to co

[2017-10-23 07:26] siddharthlatest opened #124 "UI Issue: Unable to close modal"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Hosted web app

#### What is the version of Dejavu that you are using?

1.2.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

![](https://i.imgur.com/Kq8mYWb.png)

When a user sees an authentication error modal, the close butt

[2017-10-23 07:36] ayushjn20 commented on #124
I would like to contribute and fix this bug.

[2017-10-23 12:17] frytyler commented on #124
I'll try and see if I can find out what's happening here and submit a PR.

[2017-10-23 12:27] frytyler commented on #124
Sorry I just followed you build locally instructions and I'm up and running however I'm at the log in screen with app name and url. Is there local credentials for this? I've never used you app before so I'm unfamiliar with what's needed.

![screenshot 2017-10-23 08 26 10](https://user-images.githubusercontent.com/1922965/31888943-f252215a-b7cb-11e7-918a-0d9a09b37a7a.png)

[2017-10-23 12:30] siddharthlatest commented on #124
@frytyler You can generate your appname and URL from https://dashboard.appbase.io, or you can set up a local Elasticsearch cluster. Unless you are already familiar with Elasticsearch, I recommend the first approach.

[2017-10-23 12:37] frytyler commented on #124
@siddharthlatest Sorry to ask another question but how was this reproduced? if you auth through the api token / url how are you ever unauthed?

[2017-10-23 12:38] siddharthlatest commented on #124
@frytyler There are two kinds of credentials, one is for read and one is for read + write. This error occurs when using a read credential and trying to perform an edit operation, like updating a cell's value (which should only have been possible with a write credential).

[2017-10-23 13:29] hb020 opened #126 "Display of array fields fails on single entry fields"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

appbase.io

#### What is the version of Dejavu that you are using?

latest as of today

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

subject: a column that has an array of strings, with column description in dejavu
[code]
Th

[2017-10-23 14:01] frytyler opened #127 "Disable Editing Option if Read-only API Token"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

- Hosted web app. I only have this for contributing purpose.

#### What is the version of Dejavu that you are using?

- Latest Dev.

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

![editing dropdown](https://user-images.github

[2017-10-23 18:38] divyanshu013 commented on #124
Resolved in #128

[2017-10-23 18:38] #124 closed, assigned to nobody

[2017-10-23 19:37] #118 closed, assigned to divyanshu013

[2017-10-24 07:17] divyanshu013 commented on #126
Hi @hb020 thanks for letting us know. Can you pull in the latest changes on `dev` branch and give it a try? I think it should solve the issue you were seeing.

[2017-10-24 07:43] hb020 commented on #126
pulled it, but can't get it to compile.
[code]
on Ubuntu 16.04 LTS
I'm no node.js expert, so I'm lost at how to solve this.

[2017-10-24 08:02] divyanshu013 commented on #126
Hey @hb020 can you try after upgrading your node https://nodejs.org/en/

If you're unable to we should be able to do a release soon so you can try it on the hosted webapp without doing a build. Let me know

[2017-10-24 09:44] #119 closed, assigned to divyanshu013

[2017-10-24 10:49] divyanshu013 commented on #123
Unable to replicate the issue on local ES index

[2017-10-24 10:49] #123 closed, assigned to divyanshu013

[2017-10-26 08:38] hyf101070 opened #130 "importer can't work"
I have install dejavu through docker in my server, while when I want use import feature, it show me this page, I tried to login by github or google, but all fail.

console print
`XMLHttpRequest cannot load https://accapi.appbase.io/user. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://<mydomain>:1358' is therefore not allowed access.`

[2017-10-26 08:44] philomatic opened #131 "Modify one field multiple documents at once"
Dejavu is a great idea, I've been waiting for this! :)

One question / feature enhancement:

As a user in edit mode I'd like to modify one field of multiple documents at once with the entered value.

[2017-10-26 10:10] siddharthlatest commented on #131
@philomatic Thanks!

I am afraid that editing multiple documents at the same time can lead to accidental changes. What is the use-case you are trying to solve?

[2017-10-26 10:22] philomatic commented on #131
Hmm... this could be solved with a special editing mode / confirmation query (like a pop-up).

I'm trying to categorize measured time series afterwards :)

So basically:

- Select 1-n documents (filtered by time / day or s.th. else)
- update a field like "category" or "time-series-id"

The time series are coming from a simple sensor which I don't want to update each measurement for a new time-seri

[2017-10-26 18:36] siddharthlatest commented on #131
Okay, I think this can be something we can support. We already have a **queries** view, we can possibly add a `update data` and `delete data` selections when creating a query to perform while keeping `view data` as the default action.

[2017-10-26 18:39] siddharthlatest commented on #130
@hyf101070 I know why you are seeing this issue. We allow authentication to happen only from whitelisted domains to prevent abuse. Both localhost and 127.0.0.1 are whitelisted but a custom domain wouldn't be.

I need to think more on what we can do for mitigating this.

[2017-10-27 03:03] hyf101070 commented on #130
Thank for your reply. So how can I use this feature in my server?

[2017-10-27 09:41] philomatic commented on #131
Looking forward to test this!

By the way, you do have some nice ELK web UIs.
Happy to give them a test ride :)

[2017-10-29 10:03] hb020 commented on #126
Thanks, it works. It would however be much nicer if we didn't need the click to see the contents. If it is possible to show truncated contents instead of the [...] on which we must click to see the contents, it would be much nicer.

[2017-10-29 10:35] divyanshu013 commented on #126
Awesome @hb020, right now we've fixed sized columns in DejaVu and an array can hold a large number of items due to which we've to go with this UX to keep things clean. Closing the issue for now :slightly_smiling_face:

[2017-10-29 10:35] #126 closed, assigned to divyanshu013

[2017-10-30 07:05] siddharthlatest commented on #130
@hyf101070 Quick fix I can do is to whitelist your domain. What is the domain:port you plan to use dejavu on?

[2017-10-30 07:07] hyf101070 commented on #130
http://xmseapp01:1358/
tks

[2017-10-30 07:16] siddharthlatest commented on #130
@hyf101070 Should work now.

[2017-10-30 07:16] #130 closed, assigned to nobody

[2017-10-30 07:16] hyf101070 commented on #130
@siddharthlatest  added. Thank you very much.

[2017-10-30 09:22] hyf101070 opened #132 "importer time format error"
When I use importer to import data to elasticsearch, I have a date filed like
`"report_time": "2017-09-22T01:56:22"`
and dejavu parse data to format 'YYYY-MM-DDTHH:mm:ss'.
But when I start import data, it return with following error

`{
    "readyState": 4,
    "responseText": "{\"error\":{\"root_cause\":[{\"type\":\"illegal_argument_exception\",\"reason\":\"Invalid format: [YYYY-MM-DDTHH:mm:ss]:

[2017-10-30 10:51] divyanshu013 commented on #132
@hyf101070 You are missing a 'Z' at the end of the date value (to denote the UTC Timezone). Reference: https://stackoverflow.com/questions/37148899/what-is-the-z-at-the-end-of-date-in-elasticsearch

Please try adding a **Z** at the end of date values like:
[code]

[2017-10-30 11:01] divyanshu013 opened #133 "The sort should happen globally"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Withing appbase.io

#### What is the version of Dejavu that you are using?
latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
The sort on clicking a column header happens locally. We should perform the sort globally and retr

[2017-10-31 02:13] hyf101070 commented on #132
Thanks @divyanshu013 , it works welle now.

[2017-10-31 02:16] hyf101070 commented on #132
done.

[2017-10-31 02:16] #132 closed, assigned to nobody

[2017-10-31 14:16] brunifrancesco opened #134 "Loading the /live endpoint fails using a dockerized image"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

I'm having a llok at Dejavu deployed on my own server.

#### What is the version of Dejavu that you are using?
I'm using the last dockerized version

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

When I go to /live endpoint I

[2017-10-31 14:21] brunifrancesco commented on #134
Got the same error using the Chrome extension (v 1.2.0).

[2017-10-31 20:39] siddharthlatest commented on #134
@brunifrancesco I am not able to replicate this issue. Can you add a screenshot of when you are seeing this? Are you entering an app name and URL before seeing this issue?

[2017-11-01 02:46] gerrywastaken commented on #40
@siddharthlatest I think the main issue here is that the field is called "appname" when it really should be called "index name"

[2017-11-02 07:26] fjcamillo commented on #134
Also experiencing this error

Here's a screenshot:
<img src=https://ibin.co/3fsfsglogQ2T.png>

I'm also currently using the docker image appbaseio/dejavu:latest, although I am running dejavu on docker-compose with other images

here's my dejavu docker-compose code
[code]
I've also tried the importer end-point, it is running ok for me.

Thanks.

[2017-11-02 12:40] siddharthlatest commented on #134
@fjcamillo @brunifrancesco I have tried the same image but am not seeing this. By looking at the error, I can make some guesses, but it would be great to be able to replicate this.

1. What is the OS/kernel/docker version you are using this with?
2. Which browser do you see this on? Browser version?
3. What is the exact URL you are seeing this on?

[2017-11-03 02:20] fjcamillo commented on #134
Hi @siddharthlatest, here's the environment I'm running it on

[code]

Note: I'm currently not allowed to say the hostname. Sorry.

Thanks, also trying some tweaks on my side.

[2017-11-03 06:59] siddharthlatest commented on #134
@fjcamillo Thanks, this has been helpful to replicate. The issue is happening on Chrome v55, and doesn't happen on Chrome v61 or newer (haven't tested the versions in between).

This is likely a polyfill issue, we will try to address it in the next release. In the meanwhile, if you are able to upgrade your browser, the issue won't appear.

[2017-11-03 08:04] fjcamillo commented on #134
Hi @siddharthlatest Finally working on my side upgraded to Chrome v62. Big Thanks for the help and work done on dejavu

[2017-11-03 08:16] brunifrancesco commented on #134
I can confirm it. Problem was an outdated version of Google Chrome.
Got v62 and the application is up and running.

Thanks for the support,
FB

[2017-11-03 08:16] #134 closed, assigned to divyanshu013

[2017-11-03 12:12] #133 closed, assigned to divyanshu013

[2017-11-03 19:37] divyanshu013 opened #135 "Height issue on appbase.io dashboard"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Within appbase.io

#### What is the version of Dejavu that you are using?
1.2

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
On Appbase.io the dejavu view doesn't cover the entire window vertically

[2017-11-03 19:38] divyanshu013 commented on #135
Fixed in https://github.com/appbaseio/dejavu/commit/698c29ccec9ce4f64af78227133322e06c7c664a

[2017-11-03 19:38] #135 closed, assigned to divyanshu013

[2017-11-03 19:41] divyanshu013 opened #136 "UI improvements for sorting on Columns"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
appbase.io
#### What is the version of Dejavu that you are using?
1.2

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
The sort icons should be more expressive and change depending on the sort order. The sort action should only b

[2017-11-03 19:44] divyanshu013 commented on #136
Resolved in https://github.com/appbaseio/dejavu/commit/b1f34db2d254233cbdd2b47899c39badd2e15eb1 https://github.com/appbaseio/dejavu/commit/c93a40bb50f690fe5380ceb865deab5a94bf88d7 https://github.com/appbaseio/dejavu/commit/a26e8fa4c2f44a06aa567cc357b206b93a5cb634 https://github.com/appbaseio/dejavu/commit/c157551d7d59a237d54f560a4620340f17381768 https://github.com/appbaseio/dejavu/commit/794ee3866

[2017-11-03 19:44] #136 closed, assigned to divyanshu013

[2017-11-03 19:47] divyanshu013 opened #137 "Fix auth header for urls not having an @ symbol"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
appbase.io

#### What is the version of Dejavu that you are using?
1.2

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
The auth header is being wrongly set in URLs not having an `@` symbol. This causes some issues while sending

[2017-11-03 19:47] divyanshu013 commented on #137
Resolved in https://github.com/appbaseio/dejavu/commit/9ae2103897d08d4523f9683d53f0cf8685e10a7c

[2017-11-03 19:47] #137 closed, assigned to divyanshu013

[2017-11-03 20:56] siddharthlatest opened #138 "Upgrade Dockerfile to use the current 8.9.0 Node LTS as base"
Node's current LTS is v8.9.0, whereas the current Dockerfile is built upon v7-alpine as the base. Upgrade the Dockerfile to use 8.9.0-alpine node image as the base instead.

[2017-11-03 20:59] #138 closed, assigned to nobody

[2017-11-19 12:17] IdanWo opened #139 "Failed to Update Child Documents"
I'm using Dejavu 1.30 as Chrome Extention.

When I try to update a child document (as part of parent child model), the update failes as the update request doesn't include the _routing nor _parent parameter. The exception got from elasticsearch: "Routing missing exception. Routing is required."

By the way, the user can't know that the operation failed since the application continue as usual.

[2017-11-23 18:05] divyanshu013 opened #140 "Applying sort pushes the table to the right briefly"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
within appbase.io

#### What is the version of Dejavu that you are using?
latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
The loading spinner pushes the table to the right when a sort is applied for a brief moment

Browse

[2017-11-27 11:50] divyanshu013 opened #141 "Update appbase ES version logic"
While connecting an appbase app, we should fetch the ES version for the app and set the mapping object accordingly.

[2017-12-02 13:52] #141 closed, assigned to nobody

[2017-12-02 14:09] siddharthlatest opened #143 "Migrate away from bower"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

All.

#### What is the version of Dejavu that you are using?

v1.3.1, i.e. latest as of this issue.

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

Relying on bower.json isn't a great idea, we should move away completely to ya

[2017-12-06 17:19] siddharthlatest opened #144 "Dejavu confuses text fields with number datatype"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Chrome extension / Docker Image

#### What is the version of Dejavu that you are using?

1.3.1

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

Dejavu doesn't allow editing `text` datatype field with text input, instead validat

[2017-12-06 17:20] siddharthlatest commented on #144
Fixed in ec56abe89227b43e922ce95582caa7a3ec9f9c78.

[2017-12-06 17:20] #144 closed, assigned to nobody

[2017-12-08 20:32] siddharthlatest opened #145 "Scroll time of 1m affects bigger downloads"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

#### What is the version of Dejavu that you are using?

1.3.2, i.e. latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

Larger downloads, i.e. having 100,000+ rows of data require a longer scroll time. The current scroll ti

[2017-12-08 20:33] siddharthlatest commented on #145
This has been fixed in b708cf6c811c94c0986797089d2171bfbbe846b4.

[2017-12-08 20:33] #145 closed, assigned to nobody

[2017-12-10 19:31] siddharthlatest opened #146 "When exporting to CSV, it seems some numeric fields aren't exported"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Hosted web app

#### What is the version of Dejavu that you are using?

1.3.2, i.e. latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

When exporting a CSV file, at least some numeric fields aren't being exported. This hap

[2017-12-11 11:41] #146 closed, assigned to divyanshu013

[2017-12-11 18:55] divyanshu013 commented on #140
Fixed in Firefox v57.0.1

[2017-12-11 18:55] #140 closed, assigned to divyanshu013

[2017-12-15 12:56] siddharthlatest opened #147 "Sorting on text fields throws a 400 error"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Hosted web app

#### What is the version of Dejavu that you are using?

Latest, i.e. 1.3.2

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

When applying sort on a `text` datatype field, Elasticsearch throws a 400 error related

[2017-12-15 14:10] #147 closed, assigned to divyanshu013

[2017-12-27 12:26] divyanshu013 opened #148 "Use a keyword subfield while paginating with a sort order applied"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
appbase.io

#### What is the version of Dejavu that you are using?
latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
Currently in an ES5 cluster, we check for a `non-analyzed` subfield to apply a sort order. We should check

[2017-12-29 18:00] darkredz opened #150 "Cannot read property 'properties' of undefined on DataTable.js after login"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
When running dejavu using the cloned git dev branch with ES 2.4. npm start

#### What is the version of Dejavu that you are using?
latest dev branch as of now

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
After key in the Appn

[2017-12-29 18:05] siddharthlatest opened #151 "Change search_analyzer when using n-grams to simple type"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Applicable to all.

#### What is the version of Dejavu that you are using?

Latest.

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

The current mapping is set to use search_analyzer as `standard` when a n-gram sub-field is set

[2018-01-01 13:06] #151 closed, assigned to nobody

[2018-01-02 09:28] divyanshu013 opened #153 "A geo_point field overflows if the data is too long"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Appbase.io

#### What is the version of Dejavu that you are using?
latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
The issue happens with `geo_point` field when the `lon` and `lat` value are very large. We should trim dow

[2018-01-02 09:32] divyanshu013 commented on #150
Hi @darkredz, can you post the mappings you used for your local ES and also how your data looks like so I can try to replicate this?

[2018-01-02 15:11] darkredz commented on #150
the mapping ajax get call returns.
`{"atap_20171120_153659":{"mappings":{"work_type_enum":{"properties":{"created_at":{"type":"date","format":"strict_date_optional_time||epoch_millis"},"created_by":{"properties":{"hash":{"type":"string","index":"not_analyzed","fields":{"search":{"type":"string","analyzer":"my_edge_ngram_analyzer","search_analyzer":"my_search_analyzer"}}},"id":{"type":"string","ind

[2018-01-02 15:13] darkredz commented on #150
Happy new year!
The mapping ajax call returns this

[2018-01-02 16:24] divyanshu013 commented on #150
Thanks @darkredz, can you please also tell what you're using in the `appname` field and `url` field?

[2018-01-02 17:49] siddharthlatest opened #154 "Text and SearchableText datatypes only work for an app created with importer"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Hosted web app.

#### What is the version of Dejavu that you are using?

Latest, i.e. 1.3.2.

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

The custom data types that dejavu supports, Text and SearchableText apply custom anal

[2018-01-02 18:08] siddharthlatest opened #155 "Onboarding experience improvements: Creating the first data object"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Hosted web app

#### What is the version of Dejavu that you are using?

Latest, i.e. 1.3.2

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

There are several things that we can improve (low-hanging fruits) for improving a user'

[2018-01-03 06:04] darkredz commented on #150
mytest and http://db.mytest.co:9200

[2018-01-06 14:42] #154 closed, assigned to divyanshu013

[2018-01-07 18:53] darkredz commented on #150
are you able to identify the problem?

[2018-01-08 08:15] divyanshu013 commented on #150
Hey @darkredz, I have been unable to replicate this issue. I tried on both ES5.6 and ES2.4.

Looking at the first error in the stack it seems that DejaVu is unable to determine the mappings which is causing the other errors following that. So the main error I'm looking at is the first one:

[code]

Can you check what mappings you get in the Networks tab? Just check the first call to `_mapping`. Fo

[2018-01-09 09:15] darkredz commented on #150
The _mapping does return the mapping result I attached previously though. the UI is basically loaded with the list of schemas then for a split second the error occurred after that (probably trying to render the document data in the one selected)
`
ypeError: Cannot read property 'properties' of undefined properties /Users/leng/Documents/library/dejavu/live/src/js/table/DataTable.js DataTable.tryRen

[2018-01-09 09:25] darkredz commented on #150
After clearing cookies and some retries, I notice that this always happen only when I use it with an alias. The project i am working on currently had an existing database/app name of mytest_xxxxx, where they had an alias mytest that points to mytest_xxxxx.
I found out if i use the alias in the appname, dejavu will throws that error. If i use the real name mytest_xxxxx, it will be working fine

[2018-01-09 17:23] divyanshu013 commented on #150
Thanks @darkredz, this was helpful in identifying the problem. I've applied a patch at this branch https://github.com/appbaseio/dejavu/tree/div-patch-aliasing. Can you pull and try dejavu on the `div-patch-aliasing` branch. Let me know if it fixes the issue or you're seeing some problem on the patch branch 🙂

[2018-01-16 08:48] hyf101070 commented on #130
Hi @siddharthlatest , I have install dejavu in another two servers, but I have met the same problem again. Could you help add new url to whitelist again so that I can use this feature?

[2018-01-16 15:34] siddharthlatest commented on #130
Sure, what's the new URL?

On Tue, Jan 16, 2018 at 2:18 PM He Yufan <notifications@github.com> wrote:

[2018-01-17 01:51] hyf101070 commented on #130
https://xxx/
https://xxx/
Thanks for your help.
@siddharthlatest

[2018-01-17 11:26] divyanshu013 opened #156 "Numeric data gets inserted as a string from add data modal view"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
appbase.io

#### What is the version of Dejavu that you are using?
latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
When adding numeric data from the modal view, it seems to be getting converted into string. Also investiga

[2018-01-17 11:39] divyanshu013 commented on #156
Unable to replicate. Closing the issue

[2018-01-17 11:39] #156 closed, assigned to divyanshu013

[2018-01-17 12:45] siddharthlatest commented on #130
@hyf101070 Can you verify if these work?

[2018-01-17 19:28] #148 closed, assigned to divyanshu013

[2018-01-18 06:33] hyf101070 commented on #130
@siddharthlatest Thanks, it works well now.

[2018-01-18 08:08] #150 closed, assigned to divyanshu013

[2018-01-18 08:10] divyanshu013 commented on #150
Hi @darkredz, the fix is now available in the `dev` branch.

[2018-01-19 11:47] #155 closed, assigned to divyanshu013

[2018-01-19 12:09] #153 closed, assigned to divyanshu013

[2018-01-19 20:13] siddharthlatest commented on #127
Since the above suggestion behavior would be appbase.io specific and may not hold true for a generic ES index, what we will instead do here (to ensure this works everywhere) is to show an error message if the user doesn't have permission to make an operation.

Example:
![screen shot 2018-01-20 at 1 44 20 am](https://user-images.githubusercontent.com/630042/35169624-33cfadb2-fd83-11e7-8b54-38c80599

[2018-01-22 10:54] divyanshu013 opened #158 "App is not loading in firefox"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
appbase

#### What is the version of Dejavu that you are using?
1.4

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
Dejavu is not able to open an app on firefox browser. Same works on chrome.
[Ref app](https://opensource.appbase

[2018-01-23 07:44] divyanshu013 commented on #34
Adding to the issue, the dejavu codebase is very messy which makes debugging and adding new features very complicated. I propose the following changes to make the codebase simpler and maintainable:
- [x] Do away with globals which makes debugging very tough, this includes the jquery hacks, modals sharing a global logic, the data being shared and modified globally and the feed service being used gl

[2018-01-23 10:47] siddharthlatest opened #159 "Reload doesn't update mappings in the data view"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Hosted web app

#### What is the version of Dejavu that you are using?

1.4.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

When hitting reload, new data gets updated but the mapping changes aren't updated in the data view.

[2018-01-23 19:03] #158 closed, assigned to divyanshu013

[2018-01-23 19:05] divyanshu013 commented on #158
We were using credentials in the url while fetching the esversion which firefox doesn't allow. Chrome automatically strips this out which is why it threw no errors. Upgrading appbase-js solved the problem of adding an empty body in the GET request for fetching types.

[2018-01-24 10:42] #159 closed, assigned to divyanshu013

[2018-01-24 18:56] ColinMcDonald1 opened #160 "Can't read property Text of undefined."
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Local Docker image.

#### What is the version of Dejavu that you are using?
1.0.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

app.js?v=1:40
Uncaught TypeError: Cannot read property 'Text' of undefined
    at t.EsTypes (app.

[2018-01-24 19:01] divyanshu013 commented on #160
Hi @ColinMcDonald1, can you try on dejavu version 1.4.0? We've most likely fixed this since 1.0.0.

[2018-01-24 19:24] ColinMcDonald1 commented on #160
@divyanshu013 sorry for some reason i thought it was v1.0.0. Actually looks like I'm using the latest version:

Status: Downloaded newer image for appbaseio/dejavu:latest

[2018-01-24 20:30] divyanshu013 commented on #160
@ColinMcDonald1 Is this happening in the UI? A screenshot would help. Any specific steps to reproduce?

[2018-01-26 13:13] divyanshu013 opened #161 "Single item deletion is failing"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
appbase.io

#### What is the version of Dejavu that you are using?
v1.4

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
<img width="828" alt="screen shot 2018-01-26 at 6 42 38 pm" src="https://user-images.githubusercontent.com/6

[2018-01-26 13:16] divyanshu013 opened #162 "Reload button doesn't update the view if document was deleted"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
appbase.io

#### What is the version of Dejavu that you are using?
v.1.4

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
1. Open an app on Dejavu
2. Delete a document from a different instance of dejavu or the rest api.
3. Hit t

[2018-01-29 21:51] abh opened #163 "Support 'reduce motion' in the UI"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Docker

#### What is the version of Dejavu that you are using?

latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

The "loading" animation triggers motion sickness for me. I didn't get very far trying to use Dejavu (as in

[2018-02-09 08:57] dhruvdutt opened #164 "Total record value bug"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Hosted web app and within appbase.io

#### What is the version of Dejavu that you are using?
latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

When a document is indexed on an existing id (i.e. no new document is created),

[2018-02-22 07:46] shoumyadas commented on #82
I am also facing the same issue.
I'm using latest dejavu docker image and have modified the cors config as :
[code]
In console it shows => Firefox can't establish a connection to the server at ws://ip:9000/audit_log_event.

The chrome extension works fine though.

[2018-02-22 07:47] divyanshu013 commented on #82
Hi @shoumyadas, can you try the docker image on Chrome?

[2018-02-22 08:15] roycwc commented on #158
I ran into this issue in self-host version and in appbase.io (as they are still v1.4)
It should update sooner as Firefox user are unable to use any function AT ALL.

[2018-02-22 09:52] siddharthlatest commented on #158
@roycwc thanks for the pointer. It should work now when you use the hosted version -
 https://opensource.appbase.io/dejavu as well as on appbase.io. Will create a minor release for Docker and CE as well.

[2018-02-22 11:25] shoumyadas commented on #82
Hi @divyanshu013 , wow! yes it's working on Chrome but not in Firefox.
Is there any fix?
The server I'm planning to use is air gapped and I can't install Chrome on it.

[2018-02-22 12:12] siddharthlatest commented on #82
@shoumyadas It should work now, just did a new patch release.

[2018-02-23 08:41] rs82uk opened #165 "Issue connecting to a local dev elastic server"
I am using the Chrome Extension version of dejavu

I get the following error message

Error in console is

from reading some posts online it appears i need to change my elastic config

I have changed my config in elasticsearch.yml to the following with no joy

`bootstrap.memory_lock: false
cluster.name: elasticsearch
http.port: 9200
network.host: SB-DEVSVR01
node.data: true
node.ingest: true
node.

[2018-02-23 09:26] siddharthlatest commented on #165
The console error isn't the root cause. Are you using a proper scheme when you set the cluster URL? Also, dejavu expects your index to exist when you connect to it.

[2018-02-23 09:28] rs82uk commented on #165
proper scheme? and yes the index exists

[2018-02-23 11:04] cadavre opened #166 "Docker-hosted Dejavu giving index instead of hosting application"
#### Tell us where you are using Dejavu

Docker Image

#### What is the version of Dejavu that you are using?

Tested with versions 1.3.2, 1.4, 1.4.2

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

[code]

##### Details

[code]

Above solution is using `jwilder/nginx-proxy` to reverse proxy multiple containers on single :80 port.
`*.

[2018-02-23 13:36] siddharthlatest commented on #166
The app is available under the `$host/live` route.

[2018-03-01 17:25] shoaibjdev opened #167 "SSL/TLS Enabled Elasticsearch endpoint not working"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Tried Chrome extension and Docker image

#### What is the version of Dejavu that you are using?
1.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
When using SSL/TLS enabled Elasticsearch endpoint it just keeps loading and not

[2018-03-01 19:04] siddharthlatest commented on #167
@shoaibjdev Do you see any errors in the console?

[2018-03-06 11:54] aario commented on #165
Same here with docker-compose. No error. No nothing. Just doesn't work.
Docker compose file:
[code]
I can see:
 - http://localhost:1358/live/
 - http://localhost:9200/
I can wget http://elasticsearch:9200/ from dejavu container.
So far I tried this:
[code]
And:
[code]
And:
[code]
And:
[code]
Here is the output of http://elasticsearch/

name | "D5SOLJK"
-- | --
cluster_name | "elasticsearch"
cluste

[2018-03-06 16:34] aario commented on #165
Ok. Seems like errors are actually happening in the browser itself and not in backend. So the problem for me is that although I put `- http.cors.allow-origin="/.*/"` in docker-compose.yml, the elasticsearch still doesn't allow the client:
[code]
Would be great if there was a docker-compose.yml example.

[2018-03-06 20:46] geraldclark opened #168 "Custom Mirage URL"
Is there a recommended approach for updating the mirage "Query View" url to a local docker instance of mirage?

[2018-03-06 21:01] siddharthlatest commented on #168
@geraldclark I believe the place you can change this in the code is here - https://github.com/appbaseio/dejavu/blob/c5901fa91681e515f7335ef53f208f53c9ca5657/live/src/js/helper/urlShare.js#L107.

You can then build your own image using the Dockerfile.

[2018-03-06 21:04] geraldclark commented on #168
@siddharthlatest Thanks identifying the code. As I mentioned on the mirage ticket (for visibility), I was just thinking it might be beneficial to allow for an external configuration as I'd prefer to not have to build a custom docker image or modify the core app source.

[2018-03-06 21:13] siddharthlatest commented on #168
Linking to that thread - https://github.com/appbaseio/mirage/issues/56#issuecomment-370926849.

Happy to accept a PR for this or any other configuration use-cases that someone may have.

[2018-03-06 21:23] geraldclark commented on #168
I don't mind taking a look. Would you be looking for this to be part of the initial app build process or would an ajax query fetching the config suffice?

[2018-03-06 22:09] siddharthlatest commented on #168
@geraldclark That would be cool! I am thinking of this to be set as an ENV var which can be passed directly at Docker runtime. Something like `-E MIRAGE_HOST=http://localhost:3030`.

**Edit:** On a second thought, this would require the app build process to happen.

What would an ajax query fetching the config look like?

[2018-03-07 11:18] siddharthlatest commented on #165
@aario thanks, I am able to replicate the issue. Will get back soon on the root cause.

[2018-03-07 12:58] siddharthlatest commented on #165
@aario There is an issue in your docker-compose stack file. The `elasticsearch` image you are using doesn't accept the elasticsearch.yml configs as environment variables. You can also see this by checking the cluster name, it doesn't get set.

They would rather need to be passed as a command.

`Note:` This is specific to how an image is built. For instance, the official image from elastic.co takes

[2018-03-07 13:08] siddharthlatest commented on #165
@rs82uk By proper scheme, I mean prefixing the "http://" or "https://" scheme before you enter the cluster URL. So, "http://localhost:9200" is a valid URL but "localhost:9200" isn't.

[2018-03-07 15:03] divyanshu013 opened #169 "Show field name when updating data via modal view"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
appbase.io

#### What is the version of Dejavu that you are using?
latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
When updating data of object or array type using a modal view, we should show an additional field called `

[2018-03-09 14:39] kagashe opened #170 "Can't connect to elasticsearch"
Have installed via Docker
Can't connect to elasticsearch instance
My elasticsearch installation is on a separate machine. when logging in, loading screen just loops.

[2018-03-09 14:41] siddharthlatest commented on #170
@kagashe Have you followed the recommended config settings on Elasticsearch? Can you please describe enough info to replicate this behavior:

1. What is the version of dejavu you are using?
2. What is the CORS setting?
3. Do you see any console errors? If yes, a screenshot of the error would help.

[2018-03-09 14:42] siddharthlatest commented on #167
Closing due to lack of activity, please feel free to reopen it with the necessary steps.

[2018-03-09 14:42] #167 closed, assigned to nobody

[2018-03-09 14:43] siddharthlatest commented on #166
Closing due to lack of activity.

[2018-03-09 14:43] #166 closed, assigned to nobody

[2018-03-09 14:46] kagashe commented on #170
Using the latest version of dejavu that comes with docker.

Added the following lines to my elasticsearch.yml

http.cors.allow-origin: "http://localhost:1358"
http.cors.enabled: true
http.cors.allow-headers : X-Requested-With,X-Auth-Token,Content-Type,Content-Length,Authorization
http.cors.allow-credentials: true

where can I check for errors?

[2018-03-09 14:49] siddharthlatest commented on #170
@kagashe Thanks, that is helpful. Your config is good, what **exact** URL are you running dejavu on?  You would check errors from the browser console (like Google Chrome) where you are running dejavu on http://localhost:1358.

[2018-03-09 15:02] kagashe commented on #170
This seems to be the error?

Failed to load http://elk/printlogs/_mapping?: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://elk:1358' is therefore not allowed access. The response had HTTP status code 401.

[2018-03-09 15:03] siddharthlatest commented on #170
@kagashe Change your config to allow access to where you are using dejavu. It would be:

[code]

Enjoy!

[2018-03-09 15:03] #170 closed, assigned to nobody

[2018-03-09 15:07] kagashe commented on #170
Seem to be getting the same error?

[2018-03-09 15:17] siddharthlatest commented on #170
Did you change your Elasticsearch config file and redeploy the cluster?

[2018-03-10 06:46] kagashe commented on #170
Yes, changed the config and restarted the elasticsearch service.

[2018-03-10 06:47] siddharthlatest commented on #170
@kagashe can you tell me what the browser error looks like now?

[2018-03-10 10:16] kagashe commented on #170
vendor.min.js:11 OPTIONS http://elk/printlogs/_mapping 401 (Unauthorized)
send @ vendor.min.js:11
ajax @ vendor.min.js:11
getMapping @ feed.js:531
setMap @ live.js:1
setTimeout (async)
init_map_stream @ live.js:1
(anonymous) @ live.js:1
setTimeout (async)
connectSync @ live.js:1
(anonymous) @ live.js:1
compressCb @ urlShare.js:32
(anonymous) @ urlShare.js:124
onmessage @ vendor.min.js:17414
12:05:

[2018-03-12 10:24] kagashe commented on #170
Any Ideas?

[2018-03-12 10:28] siddharthlatest commented on #170
@kagashe The logs still point to Dejavu hosted domain not being whitelisted in the Elasticsearch's config. There are some things to check on:

1. Are the configs really being passed correctly to Elasticsearch? For example, if you are running Elasticsearch via Docker, depending on the image you use -- these configs need to be passed in different ways.

2. If you have a flexibility on running Elasti

[2018-03-12 10:29] kagashe commented on #170
My ELK stack isn't running in docker it's installed direct into ubuntu

[2018-03-12 10:31] siddharthlatest commented on #170
Can you try with

[code]

[2018-03-12 10:36] kagashe commented on #170
if I add http.cors.allow-origin="/.*/" the service doesn't start.
if I add http.cors.allow-origin: "/.*/" the service starts but still get error.

[2018-03-12 10:44] siddharthlatest commented on #170
Can you try with * included?

[code]

\* is the important character here, which allows wildcard domains to connect to your ES cluster.

Reference: https://github.com/elastic/elasticsearch/issues/9031#issuecomment-67865036.

[2018-03-12 10:46] kagashe commented on #170
vendor.min.js:7 OPTIONS http://elk/printlogs/_mapping? 401 (Unauthorized)
(anonymous) @ vendor.min.js:7
t.fetch @ vendor.min.js:7
t @ vendor.min.js:7
value @ vendor.min.js:7
e.default @ vendor.min.js:7
value @ vendor.min.js:7
getTypes @ feed.js:383
getStreamingTypes @ live.js:1
setTimeout (async)
init_map_stream @ live.js:1
(anonymous) @ live.js:1
setTimeout (async)
connectSync @ live.js:1
(anonym

[2018-03-12 10:48] kagashe commented on #170
curl -H "User-Agent: Mozilla" -H "Origin: 192.168.1.53" -i localhost:9200
HTTP/1.1 200 OK
access-control-allow-origin: *
access-control-allow-credentials: true
content-type: application/json; charset=UTF-8
content-length: 435

{
  "name" : "UI5Ovdp",
  "cluster_name" : "elasticsearch",
  "cluster_uuid" : "5Eni5GfmTUyP5jIBy8JDRg",
  "version" : {
    "number" : "6.2.2",
    "build_hash" : "10b1edd"

[2018-03-12 11:45] siddharthlatest commented on #170
@kagashe I tried by downloading the latest Elasticsearch 6.2.2 and these are the settings that work:

[code]

GETing / returns

[code]

And a screenshot from dejavu on how I am connecting it:

![](https://i.imgur.com/SmHdSEl.png)

**Note:** Here, `testindex` already exists. It's important for the index to already exist before connecting.

[2018-03-12 11:57] kagashe commented on #170
vendor.min.js:7 OPTIONS http://elk:9200/printlogs//_search?from=0&size=0 net::ERR_CONNECTION_REFUSED
(anonymous) @ vendor.min.js:7
t.fetch @ vendor.min.js:7
t @ vendor.min.js:7
value @ vendor.min.js:7
e.default @ vendor.min.js:7
value @ vendor.min.js:7
getTotalRecord @ feed.js:673
getTotalRecord @ live.js:1
afterConnect @ live.js:1
connectSync @ live.js:1
(anonymous) @ live.js:1
compressCb @ urlSh

[2018-03-12 11:58] siddharthlatest commented on #170
What does your entire elasticsearch.yml config file look like? Have you made any changes from the default configs?

[2018-03-12 12:01] kagashe commented on #170
# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most i

[2018-03-12 12:03] kagashe commented on #170
`# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most

[2018-03-12 12:09] siddharthlatest commented on #170
@kagashe This looks fine. Your Elasticsearch should let Dejavu connect with it. Another thing I am wondering is if you have any other IP Tables / Network config that might be blocking CORS by default?

[2018-03-12 12:51] kagashe commented on #170
There isn't as far as I can see, have disabled firewall on my laptop and the elastic-search server just to test and still can't connect...

[2018-03-13 13:43] siddharthlatest commented on #160
Closing due to inactivity. Feel free to re-open it if you are still seeing this.

[2018-03-13 13:43] #160 closed, assigned to nobody

[2018-03-13 13:46] siddharthlatest commented on #120
We can implement this in the next release.

[2018-03-13 13:47] siddharthlatest commented on #165
Closing due to inactivity.

[2018-03-13 13:47] #165 closed, assigned to nobody

[2018-03-13 14:29] itstueben commented on #90
One year later.  Supports dejavu AWS Elasti Search?

[2018-03-13 14:56] siddharthlatest commented on #90
@itstueben You can use it via a proxy (think API Gateway + Lambda).

That said, we are also looking into supporting custom headers. That way, a user can pass any auth / security credentials they wish to.

[2018-03-13 15:35] siddharthlatest commented on #139
Need to review how parent / child relationship works starting v6 onwards and if this is still relevant.

[2018-03-14 10:20] divyanshu013 commented on #161
Fixed via #158

[2018-03-14 10:20] #161 closed, assigned to nobody

[2018-03-14 10:39] #162 closed, assigned to nobody

[2018-03-15 12:17] #131 closed, assigned to nobody

[2018-03-15 12:20] #163 closed, assigned to nobody

[2018-03-15 14:20] kagashe commented on #170
my elk stack is running behind an nginx setup, would that affect anything?

[2018-03-15 14:25] siddharthlatest commented on #170
That may, if your nginx config doesn't support CORS.

One easy way to debug this is going in steps: If you run a raw ES cluster and connect it with dejavu, can you do that?

If yes, then the problem simplifies to figuring out the right nginx settings.

If no, we can help you with that and that would also be easier for us to replicate.

[2018-03-15 14:35] #120 closed, assigned to nobody

[2018-03-15 15:54] #90 closed, assigned to nobody

[2018-03-17 13:17] siddharthlatest commented on #127
- [x] And a similar one when a user tries to update data (but can't, due to either permissions or some other issue).

[2018-03-17 13:24] siddharthlatest commented on #139
@divyanshu013 If we handle showing the exceptions when an update request fails as referenced in #127, this scenario should get handled as well.

[2018-03-18 12:38] ataliadvanstep opened #171 "be able to see the raw response from server"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Chrome extension

#### What is the version of Dejavu that you are using?

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
I would like to be able to see the raw answer from server because sometimes I need it for development

####

[2018-03-18 12:43] siddharthlatest commented on #171
Can you elaborate on the request? I am not sure if this would be useful generally as you can get the raw response by looking at the network tab..

[2018-03-19 10:24] #127 closed, assigned to nobody

[2018-03-19 21:24] siddharthlatest commented on #170
@kagashe did the above help? Any other updates?

[2018-03-20 19:19] ataliadvanstep commented on #171
@siddharthlatest totally right, I didn't think about this option. thanks

[2018-03-20 19:19] #171 closed, assigned to nobody

[2018-03-22 08:26] AlexNodex opened #172 "Web URL 404"
Your web URL in the main repo 404's!

[2018-03-22 08:36] siddharthlatest commented on #172
Use this - https://opensource.appbase.io/dejavu-browser.

[2018-03-22 08:36] #172 closed, assigned to nobody

[2018-03-22 08:37] AlexNodex commented on #172
I don’t need to use it. I was making you aware of an error.

[2018-03-22 08:49] siddharthlatest commented on #172
It happened due to an inadvertent repo name change. Thanks for bringing it
up! I have just fixed the routing so the original URLs should work without
any change.

On Thu, Mar 22, 2018 at 2:07 PM AlexNodex <notifications@github.com> wrote:

[2018-03-22 09:10] bstst commented on #139
I don't believe this should be closed, as the issue with updating child documents still persists. And the error description shown at the moment does not match the issue: right now the error is:

`Authentication Error`

, and the actual error is, for example,

` {"error":"RoutingMissingException[routing is required for [messages]/[message]/[AV1-x9NPF9hjiuHhGF0Y]]","status":400}`

[2018-03-22 09:12] siddharthlatest commented on #139
I agree, we should be showing the appropriate error message.

[2018-03-22 11:56] siddharthlatest opened #174 "Bug: Filter dropdown UI doesn't go away after selecting a value"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Hosted web app

#### What is the version of Dejavu that you are using?

1.5.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

The below GIF depicts the issue. When I select the `less than` filter here and **apply it**, it cont

[2018-03-22 12:06] siddharthlatest opened #176 "Bug: Export UI modal shouldn't go away by clicking outside"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Hosted web app

#### What is the version of Dejavu that you are using?

1.5.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

When in the process of exporting the data, if you click outside the modal area - the modal closes.

[2018-03-22 16:09] al-serebrov commented on #170
Hey @siddharthlatest
I have exactly the same problem and tried all steps that you suggested, but I still have the same error as @kagashe
My ElasticSearch is behind nginx. Could you please help to figure out correct settings for it?
now it looks like:
[code]

[2018-03-22 20:45] al-serebrov commented on #170
I figured it out, now it works:
[code]

[2018-03-23 09:39] brylie opened #178 "Allow viewing/selecting full field value in view mode"
Using: Docker image

Version: 1.5.0

# Context
Some values in dejavu columns are truncated (with elepsis). This makes it impossible to select the field value in view mode.

# Feature request
When double clicking a field in view mode, the field should turn into a text box allowing full selection. Perhaps the text should be grey, indicating it is read only. Additionally, a 'copy' button might appear

[2018-03-23 09:41] brylie opened #179 "User access control"
using: Docker
version: 1.5.0

# Context
Users can access all queries and ES data for any added data source.

# Feature request
It would be useful to have access control rules for various data sources and views (read, edit).

[2018-03-23 09:42] brylie opened #180 "Date format overrides"
using: Docker
version: 1.5.0

# Context
Dates are stored in ElasticSearch in various format (such as Unix timestamp). These dates are displayed to the end-user in raw form.

# Feature request
It would be nice to be able to add a custom formatter to date fields, so they could be displayed in various formats (such as YYYY-mm-dd).

[2018-03-23 09:44] brylie opened #181 "Calendar widget for date field filters"
using: Docker
version: 1.5.0

# Context
When filtering columns with date data, the user is expected to input the filter string manually (e.g. > or <).

# Feature request
When defining a filter for ES date fields, it would be helpful if the user could select date value(s) from a calendar widget.

[2018-03-23 09:46] brylie opened #182 "Create new query from current filters"
using: Docker
version: 1.5.0

# Context
Users can currently filter one or more ES columns in the table view. They can also define queries via a separate process, by inputting raw ES query JSON.

# Feature request
It would be useful if the user could quickly create a new ES Query by 'saving' the current table filter settings.

[2018-03-23 09:46] divyanshu013 commented on #178
Hey @brylie, you can view the full text in view mode by clicking on the cell. For example:

![Screenshot](https://screenshotscdn.firefoxusercontent.com/images/a658927b-6076-40e9-aad1-52b0c2f4a456.png)

About #15, this is something in the roadmap :)

[2018-03-23 09:47] brylie opened #183 "Add inline documentation (or at least links to online docs)"
# Context
Some aspects of the dejavu UI are somewhat ambiguous, such as the 'has' filter. From what we can see, there is no link to any form of documentation either in the README or on the official website (aside from some demo videos).

# Feature request
Help users to learn dejavu by providing rich documentation. This could be in the form of inline help texts (or popovers), or even just a user ma

[2018-03-23 09:49] brylie opened #184 "Quickly define filters by right clicking field values"
using: Docker
version: 1.5.0

# Context
Filters are currently defined by clicking the table header 'filter' icon and then specifying the filter by a popover.

# Feature request
Allow users to right click a field value in the data table and then filter by that value (e.g. '>', '<', '=<', '=>', '=', '!=').

# Example screenshot
An example of this feature can be seen in [DBeaver](https://dbeaver.jkis

[2018-03-23 10:01] brylie opened #185 "Visual query builder"
# Context
dejavu currently requires the user to create ES queries by manually writing ES Query DSL JSON.

# Feature request
Allow users to create queries by some combination of table filters and visual query builder UI.

# Example screenshot
[Grafana](https://grafana.com/) has a visual query building UI for some of its data sources:

![screenshot_20180323_120012](https://user-images.githubusercont

[2018-03-23 10:05] brylie commented on #178
Hm, it may not be obvious. We even selected part of the text to copy and paste, and never say the popover.

[2018-03-23 10:48] siddharthlatest commented on #170
@al-serebrov Awesome! I was just going to link to a similar doc - https://enable-cors.org/server_nginx.html.

@kagashe I believe the above should work.

[2018-03-23 19:06] siddharthlatest commented on #178
Like @divyanshu013 mentioned above, the current behavior allows viewing the full text with one tap and selecting the full text with two taps (the latter is a standard web behavior) - you can then copy and text to get the full value.

We didn't opt for showing the full text popover on hover (or hover and 1-2s delay for example) as that may be an undesired behavior to some users. If there are ideas

[2018-03-23 19:11] siddharthlatest commented on #179
@brylie Our current approach is to leave out access control to the ES backend. We allow passing Basic Auth or any other custom headers for a backend to be able to decide this.

Also since Dejavu is a client-only app (and doesn't save any of the context beyond a browser's localStorage), it's not possible to enforce an access control on an ES cluster from it.

Elasticsearch's X-Pack add-ons or https

[2018-03-23 19:11] #179 closed, assigned to nobody

[2018-03-23 19:14] siddharthlatest commented on #180
I think currently we show the dates in the specified format in Elasticsearch. For instance, if you set the format (i.e. mapping in ES) as `YYYY-mm-dd`, the data in dejavu should also appear in the same format.

Do you see otherwise?

[2018-03-23 19:16] siddharthlatest commented on #181
This is a good point @brylie. We can show a calendar from / to widget to filter on the dates. I am adding this as an enhancement.

We will also add some pointers on how to implement this, so if someone is interested in seeing this sooner - they can pick it up.

[2018-03-23 19:22] siddharthlatest commented on #182
@brylie It's a good idea, however I am not sure how feasible it is - both technically and how to keep it intuitive. Although I will leave this open for a bit if someone is interested in picking it up.

We do have another project https://opensource.appbase.io/mirage/ that allows creating ES queries via a GUI. We already link to that in dejavu in the top left area. ![](https://i.imgur.com/NWsJUj3.pn

[2018-03-23 19:27] siddharthlatest commented on #183
It's definitely a good idea. Do you have specific things you felt unsure about besides the 'has' filter?

A good starting point is for us to add `info` icons with tooltips - we already do that in certain places.

[2018-03-24 05:42] divyanshu013 commented on #181
We're using [react-datetime](https://github.com/YouCanBookMe/react-datetime) for editing date fields. It should be possible to extend this for use in the filters. This may require refactoring of existing components.

[2018-03-26 06:15] brylie commented on #183
We were also wondering about valid date strings for date filters.

[2018-03-26 06:20] brylie commented on #182
Any plans to unify the projects? They seem like peanut butter and jelly.

[2018-03-26 06:24] brylie commented on #180
Well, if a human is reading the table, the format should be human readable - even if it is stored as unix timestamps. There could be other use cases, such as date localization or displaying in local timezone. So, a 'date renderer' could allow some decoupling of the underlying data from output/filter widgets.

[2018-03-26 11:29] divyanshu013 commented on #181
Here's a more detailed explanation if someone wishes to take this up:

1. The `DataTable` component at `table/DataTable.js` passes the `mappingObj` to the `Column` component at `table/Column.js`.
2. The `Column` component filters out the datatype for the current column in the `datatype` variable.
3. The `Column` component renders a `FilterDropdown` component passing it the `datatype`.
4. The `Filt

[2018-03-26 15:18] bcolucci opened #187 "saveAs is not defined"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Local only, I'm trying to contribute.

#### What is the version of Dejavu that you are using?

I'm on the dev branch.

---

I've followed the contributor steps, ran the app, and when I've tried to click on one of the "Download as XXX" buttons, I have an error:

[code]

[code]

[2018-03-27 01:08] MPierre9 commented on #174
Hello! Do you mind if I try to fix this? Also any tips on where the bug may be located in the source code. Thanks!

[2018-03-27 07:49] divyanshu013 commented on #174
Hi @MPierre9! Please feel free to take this up.

I suspect this is an issue with react-bootstrap which we're using currently in dejavu. I fixed a similar issue with popovers where I'd to simulate a click outside by using `document.body.click()`. I think a similar fix should work here after the filters are applied. Check the `FilterDropdown` component at `live/src/js/table/FilterDropdown.js`.

[2018-03-27 19:33] MPierre9 commented on #176
Hey @siddharthlatest, do you mind if I work on this fix? :)

[2018-03-27 19:34] siddharthlatest commented on #176
That would be awesome @MPierre9!

[2018-03-27 20:09] #174 closed, assigned to nobody

[2018-03-27 20:11] #139 closed, assigned to nobody

[2018-03-29 11:49] sahadevan opened #189 "Empty Page is Displayed"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Through Local Build.

#### What is the version of Dejavu that you are using?

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

##### If your issue deals with accessing Elasticsearch cluster, share the necessary steps to replicate

[2018-03-29 12:13] siddharthlatest commented on #189
@sahadevan Did you do a `bower install`? It looks like some of the dependencies haven't been installed.

[2018-03-29 15:28] sstepanovvl opened #190 "ES 6 Mappings Support: "Could not convert [raw.index] to boolean" on adding datafield"
Hi guys, thank you for great app!

i have a lil issue here:

**docker run -p 1358:1358 appbaseio/dejavu:1.5.0**

Elasticsearch version : "**6.2.3**"

I'm trying to create new text field and getting  **"Could not convert [raw.index] to boolean"** error on saving.

Can you show me what am i doing wrong?
Thank you for ASAP answers!

[2018-03-30 17:55] #176 closed, assigned to nobody

[2018-03-31 03:26] siddharthlatest commented on #190
Thanks for reporting this @sstepanovvl! It seems we haven't optimized the experience for Elasticsearch v6, and now seems like a good time to do so.

We need to update the mappings for ES v6, which will happen [here](https://github.com/appbaseio/dejavu/blob/dev/live/src/js/helper/esMapping.js) and then use these updated mappings when the ES major version is 6 in this [file](https://github.com/appba

[2018-03-31 03:29] siddharthlatest commented on #189
Closing this one, feel free to report back if it's something else.

[2018-03-31 03:29] #189 closed, assigned to nobody

[2018-03-31 03:33] siddharthlatest commented on #184
This is definitely an interesting feature to add. We will will try to come up with more details on what this can look like in the next few weeks, and then open up the discussion / implementation ideas.

[2018-03-31 03:34] siddharthlatest commented on #183
- [x] Add an info tooltip for the `has` filter.
- [x] Add an info tooltip for the date filters.

@divyanshu013 Can you expand on how one can implement these?

[2018-03-31 03:40] siddharthlatest commented on #182
Mirage - the query builder project is written in Angular/Typescript and Dejavu is in React, so it's hard to bring them together in the near term.

I think there can be a helper icon in the Query Tab, where we can show a link to Mirage - where a user can go and bring the generated DSL back.

That said, I am not entirely happy with our current UI view for queries and types sidebar (now that multi-ty

[2018-04-01 18:15] siddharthlatest commented on #190
https://github.com/appbaseio/dejavu/commit/0f49b236f7b940610e0343ba2f57c92a7c0a5e50 fixes this. This will be out in the `1.6.0` release.

[2018-04-01 18:15] #190 closed, assigned to siddharthlatest

[2018-04-01 18:33] siddharthlatest opened #192 "Enhancement: Disallow creation of multiple types if ES version is 6 (or above)"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

All

#### What is the version of Dejavu that you are using?

1.5.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

Via the dejavu UI, it is possible to create multiple types (although this is not allowed starting ES v6). When

[2018-04-02 09:10] #187 closed, assigned to divyanshu013

[2018-04-02 09:14] divyanshu013 commented on #187
After diving into this I realized the issue was caused due to the `file-saver` bower dependency we're using ([reference](https://github.com/eligrey/FileSaver.js/issues/409)). Seems like the bower distribution was empty in the recent package.

You can fix this by pulling the latest changes on `dev` and running `bower install` to resolve to the correct dependency. If it doesn't work, you might have

[2018-04-02 10:07] #192 closed, assigned to divyanshu013

[2018-04-02 11:37] #183 closed, assigned to nobody

[2018-04-02 14:14] al-serebrov opened #193 "Query view never shows more than 20 documents"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Docker image, Chrome extension (tried both)

#### What is the version of Dejavu that you are using?
1.5.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
If I create a very simple query, for example:
[code]

And scroll down, Dej

[2018-04-02 14:19] divyanshu013 commented on #193
Hi @al-serebrov what is your elasticsearch version?

[2018-04-02 14:22] al-serebrov commented on #193
Hi @divyanshu013 2.3.4.

[code]

[2018-04-02 14:25] divyanshu013 commented on #193
Got it, I'm able to replicate the issue. Will keep you posted here. Thanks for reporting!

[2018-04-02 14:41] al-serebrov opened #194 "Weird behavior with multiple queries"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Docker image, Chrome extension (tried both)

#### What is the version of Dejavu that you are using?
1.5.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
That's pretty hard to explain because the behavior is unexpected and unpre

[2018-04-02 15:46] #193 closed, assigned to nobody

[2018-04-02 21:03] adpeterson opened #195 "Dejavu / importer - JSON import not working for web app"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Hosted web app

#### What is the version of Dejavu that you are using?

N/A

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

I upload a JSON file using the GUI.  After configuring the data, I click the "Start Import" button, an

[2018-04-02 21:29] siddharthlatest commented on #195
@adpeterson I was able to import the attached sample file without issues. I had to change the file extension to end with `.json`.

Can you try this again? In case it still stops, it would be great if you can share any browser logs. That might help.

Also what browser / version / OS did you try this on?

[2018-04-02 22:20] adpeterson commented on #195
@siddharthlatest the file I uploaded to the Dejavu site was a *.json (this gitHub post wouldn't accept that file extention)

I tried again, and still it doesn't work.  Here's my OS / browser /versions:
masOS: Version 10.13.4 (17E199)
Chrome: Version 65.0.3325.181 (Official Build) (64-bit)
Safari: Version 11.1 (13605.1.33.1.2)

I had been exclusively trying in Chrome.  However, since your reply, I

[2018-04-03 01:08] adpeterson commented on #195
@siddharthlatest I was successful uploading the file into the appbaseio backend using the GUI.  So it seems like there is some error when uploading to Dejavu, connected to a user hosted elasticsearch backend.

[2018-04-03 07:06] al-serebrov commented on #194
Please let me know if you are able to replicate the issue.

[2018-04-03 07:57] siddharthlatest commented on #195
Which version of Elasticsearch were you using? If it's v6, we still need to
add the support for importing.

On Tue, Apr 3, 2018 at 6:38 AM adpeterson <notifications@github.com> wrote:

[2018-04-03 15:13] adpeterson commented on #195
It's 6.x :(

[2018-04-03 17:36] siddharthlatest commented on #195
Great, I will keep you posted once we add support for it.

On Tue, Apr 3, 2018 at 8:43 PM adpeterson <notifications@github.com> wrote:

--
---
written in the spirit of three.sentenc.es

[2018-04-10 23:58] j0an opened #196 "Cant connect to Elastic on the importer view"
I'm running on a docker environment.

#### This is my ES config file

[code]

### http GET to http://0.0.0.0:9200/
[code]

### I got access on the "live" section 👌

screenshot: https://cloudup.com/cwcEiIQErBX

## The error appears when I try to connect to the importer section

screenshot: https://cloudup.com/cx6RIg23Q3Y

[2018-04-11 00:01] siddharthlatest commented on #196
@j0an Thanks for the issue, on a first glance - I think I understand why this is happening.

Also currently, we need to extend support of importing data mappings to ES v6, see #195.

Will keep the progress posted over here.

[2018-04-11 14:18] j0an commented on #196
oh @siddharthlatest, thanks for the quick response. I subscribed to that issue waiting for news :)

[2018-04-11 14:18] #196 closed, assigned to divyanshu013

[2018-04-12 03:16] MPierre9 commented on #181
Hello! Can I try to implement this?

[2018-04-12 03:53] divyanshu013 commented on #181
Sure, please feel free to take it up :)

[2018-04-14 00:49] MPierre9 commented on #181
I got the react datetime to work with FilterDropdown, however, I can't seem to find a workaround to retrieve the calendars value and apply it. Right now it seems like were using [onKeyUp](https://github.com/appbaseio/dejavu/blob/dev/live/src/js/table/SingleMenuItem.js#L84) to retrieve the input tags value but this doesn't really work when the user clicks a date with react datetime. When I manually

[2018-04-14 08:29] divyanshu013 commented on #181
Hey @MPierre9, great work, I think you're quite close 😸

The `onKeyUp` isn't a good approach (I didn't notice we were using it). I think you should try `onValueChange` which should cover all usecases. Just a heads up, you might need some changes in the `rangeChange` method to make it work. Also when you're done making the changes, can you also test and see if it's working for other fields (besides

[2018-04-15 01:13] siddharthlatest commented on #195
Support for ES v6 mappings has been added in the import interface. Currently, I have made the change live at https://opensource.appbase.io/dejavu/live/. @adpeterson  Would you be willing to test this for your use-case and confirm?

[2018-04-15 05:43] adpeterson commented on #195
@siddharthlatest thanks for the update!  I was using Elastic Cloud as my elastic backend and the free trial has since run out.  I have another instance that does not have HTTPS enabled, but the dejavu site only supports HTTPS.  I don't have an easy way right now to get certs, so I'm not sure how to test this?  If you have a suggestion, I'm willing to try.  I was able to solve my use case, and I ap

[2018-04-15 13:58] siddharthlatest commented on #195
@adpeterson The URL for importing data should now load over `http://` scheme, allowing for importing to Elasticsearch cluster (like the one running on localhost). I have also verified that the ES v6 mappings work fine, so I am closing this issue.

Feel free to let us know if you see otherwise. `Docker Image` and `Chrome Extension` will support this behavior with the next release.

[2018-04-15 13:58] #195 closed, assigned to divyanshu013

[2018-04-15 21:47] MPierre9 commented on #181
Sure thing @divyanshu013, thanks for the help! I'll try it out.

[2018-04-16 14:10] pingz opened #197 "Define Index Patterns"
I'm just trying Chrome extension version 1.6.1, and I use elasticsearch as a primary log sink. As most of log handler will create index daily, so this is very import to [define index patterns](https://www.elastic.co/guide/en/kibana/current/tutorial-define-index.html).

Maybe I miss something, but I can't find anything about this feature. Would someone give me some clues about it?

[2018-04-16 15:09] Fachher opened #198 "Missing license agreement"
What kind of license agreements does this project have?

[2018-04-16 15:32] divyanshu013 commented on #198
This is MIT licensed. Check the license [here](https://github.com/appbaseio/dejavu/blob/dev/LICENSE.md)

[2018-04-16 15:32] #198 closed, assigned to nobody

[2018-04-17 03:26] jay999123 opened #199 "Avro record(having hierarchies) is not getting displayed properly on dejavu UI"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

using appbaseio/dejavu

#### What is the version of Dejavu that you are using?
I'm not sure as I'm using the docker compose to pull the dejavu (PLUGINS: appbaseio/dejavu)

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

And the

[2018-04-17 12:09] siddharthlatest commented on #199
Currently, filters and UI view in dejavu (breaking of columns) is supported for top level fields in a document.

If it is possible to not embed the data within `record#` top level field, dejavu should be able to display data columns.

[2018-04-17 12:10] siddharthlatest commented on #197
We currently don't support index patterns (or multi-index views) in dejavu. I will add it as a feature request.

[2018-04-17 14:21] jay999123 commented on #199
Hi @siddharthlatest , Thanks for the reply.
This is how my schema is which I cannot change. Is there any other way?

What about querying the data? like below:
   _{
       "query": {
            "match": {
                 "type": "s12348988"
                          }
                    }
    }_

The above query is not returning any result.(even though the record is present on the UI). Is the q

[2018-04-17 14:38] siddharthlatest commented on #199
@JanardhanVarikuti I don't see a `type` field in the above record sample. You need to have a field (or a nested field) in your mapping for the query to return something in the UI view.

[2018-04-17 15:01] jay999123 commented on #199
@siddharthlatest There is something called "_type/id_" column where my key is displayed. I'm trying to query by using my key(here it's _s12348988_ ) so that I can get the corresponding record (here it's corresponding _record001_)

[2018-04-17 16:37] siddharthlatest commented on #199
@JanardhanVarikuti `ids` query is what you are looking for then - https://www.elastic.co/guide/en/elasticsearch/reference/5.6/query-dsl-ids-query.html.

[2018-04-17 17:23] jay999123 commented on #199
@siddharthlatest will check and let you know the result. Thanks.

[2018-04-18 15:40] divyanshu013 opened #201 "Use terms query for has and has_not filters"
Currently these run a `match` query. They should run a `term` query instead

[2018-04-18 17:54] jay999123 commented on #199
Hi @siddharthlatest, I'm bale to query the records with `ids` query. Thanks.
But are you planning to include the feature of displaying the hierarchies of the records(avro) into separate columns any time soon?

[2018-04-18 18:07] siddharthlatest commented on #199
@JanardhanVarikuti awesome!

We are considering building alternative views to tabular view, like a list view.

There can also be a possibility to expand the object view when viewing tabular data, but I am not sure how feasible the latter is. It then makes editing the data that much more tricky, partial updates to a document only work at the top-level field in ES.

[2018-04-18 18:07] #199 closed, assigned to nobody

[2018-04-19 07:47] #201 closed, assigned to nobody

[2018-04-22 18:14] logemann opened #202 "folder/filename as ID"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Docker Image

#### What is the version of Dejavu that you are using?

1.6.1

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

I want to store a folder/filename as ID in elasticsearch. When doing it via cURL directly, i do:

`
cu

[2018-04-23 12:57] siddharthlatest opened #203 "Bug: Viewing mode shows Update / Delete buttons"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Hosted web app

#### What is the version of Dejavu that you are using?
1.6+

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

Viewing mode shows the `Update` and `Delete` buttons. And they can be used to actually update and delet

[2018-04-23 13:09] siddharthlatest commented on #202
@logemann I understand the issue. However, ES doesn't return back the id (via _search endpoint) as `aha%2Ffoo`, but as `aha/foo`.

How can dejavu know what ids to transform?

[2018-04-23 13:28] logemann commented on #202
Dont understand the question. Why dont u just urlencode the ID which you get back from ES and use this for subsequent requests?

[2018-04-23 13:36] siddharthlatest commented on #202
I am thinking about whether this will have any side-effects. I am trying to find any reading on how Elasticsearch handles URL encoding across versions.

[2018-04-23 13:47] logemann commented on #202
according to ElasticSearch Reference documentation "/" is a valid character for an ID as are other chars like ".". Given thats the case, an application should handle this scenario. Especially if its a web viewer client for ES ;-)

[2018-04-26 12:27] hgc2002 opened #204 "Chrome extension get frozzen after first connect try if any given input parameter is empty"
having chrome extension installed, I filled the initial parameters (server and index) wrong: server/port was kibana instead of elasticsearch (both are running on localhost), and index was blank. The popup error message appeared and then I could not do anything in the input fields to fill them correctly.

After that, trying to reopen the extension page only give me a blank page. I have not been abl

[2018-04-26 14:14] siddharthlatest commented on #204
@hgc2002 Thanks for reporting. Can you screenshot / print what you see in the browser console when this happens?

[2018-04-28 10:34] siddharthlatest commented on #204
@hgc2002 Would really appreciate the above if you get a chance to test again. I tried what you described in the issue but wasn't able to replicate the error behavior.

[2018-04-29 09:05] teneri66 opened #205 "How to configure via config file?"
Running in docker image.

Version 1.6.1

How to add configuration (at least elasticsearch host, port) via config file? So no need to input it manually all the time.

[2018-05-03 12:55] musicist288 opened #206 "Cannot edit cells of 'Keyword' fields"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
I've tried all of them.

#### What is the version of Dejavu that you are using?
329f1006bd38736504e42223e7e2d23c80e04977

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
When trying to edit a keyword field, the error: "This field

[2018-05-03 13:14] siddharthlatest commented on #206
@musicist288 Can you share the mapping for this field? You can view it by clicking on the message icon to the left of your field.

[2018-05-03 13:26] musicist288 commented on #206
Sure:
![screen shot 2018-05-03 at 9 26 27 am](https://user-images.githubusercontent.com/368976/39579177-18be024e-4eb4-11e8-8b31-568f86ba7167.png)

[2018-05-03 13:50] musicist288 commented on #206
I was able to get my local copy working by changing https://github.com/appbaseio/dejavu/blob/dev/live/src/js/table/Cell.js#L257 to:
[code]

I don't know if this is the correct solution, but it worked for me.

[2018-05-03 14:20] divyanshu013 commented on #206
Hi @musicist288, this looks like the correct solution, we actually use `keyword` as a nested multifield by default which is why we missed out this usecase. Would you like to send a pull request with the fix? 🙂

[2018-05-03 16:13] #206 closed, assigned to nobody

[2018-05-08 10:21] hgc2002 opened #208 "How to use dejavu with elasticsearch on local running it from opensource.appbase.io"
"I wanted to use the wonderful dejavu software to audit a local elasticsearch instance.

Wondefull idea, but currently it looks that it's not easy as it should be. But I found a way to do it, and that's what I want to share with Community."

Here is the link to the full article: https://stackoverflow.com/questions/50231296/how-to-use-dejavu-for-elasticsearch-on-local-running-it-from-opensource-app

[2018-05-09 09:03] divyanshu013 opened #209 "After applying a query reload data does not work"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Appbase

#### What is the version of Dejavu that you are using?
Latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
After applying a query, hit the reload button to reload data. The data disappears from the view.

Need to fin

[2018-05-15 18:45] siddharthlatest opened #210 "Host dejavu at root path"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
All

#### What is the version of Dejavu that you are using?
Latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
Currently, dejavu lives at `/live` endpoint. This creates a complexity on the user end if you were to host dejavu

[2018-05-15 18:47] siddharthlatest commented on #208
Good point @hgc2002. We can add an accessibility feature to show a helpful message on how the user can disable `mixed content browser warning` to view their http:// URLs.

Happy to take in any PRs related to this. The idea is when a user connects to `http://` scheme URL in their URL input, we want to display an error dialog (by detecting user's browser) on how they can enable showing mixed content

[2018-05-15 18:53] siddharthlatest commented on #205
An idea on how we can support this:

- [ ] We can add a config file (or direct ENV vars) which picks up a default URL / app.
- [ ] When using via Docker, we can take ENV vars that can set the config file.

Thoughts @divyanshu013?

[2018-05-15 18:54] siddharthlatest commented on #204
@hgc2002 Any updates on this? I am closing this due to lack of activity. Feel free to re-open if you have any ideas on how we might be able to reproduce this behavior.

[2018-05-15 18:54] #204 closed, assigned to nobody

[2018-05-15 18:56] siddharthlatest commented on #202
- [ ] Update: We will add URLEncode(..) to all Ids being indexed into Elasticsearch. This will apply to all `Insert JSON` and `Update` requests, as well as when importing via importer.

[2018-05-15 18:58] siddharthlatest commented on #197
This would require us to support multi-index views. I can't think of a way to do this without having that first. Is that an accurate interpretation @pingz?

[2018-05-15 19:00] siddharthlatest commented on #194
@al-serebrov Thanks for reporting this. I am able to replicate the issue. We will try to fix this in the next release.

[2018-05-16 04:43] divyanshu013 commented on #205
This can be done by using command line environment variables. These would then get passed to the app via webpack as defaults for the app's state. For example,

[code]

[2018-05-16 11:22] pingz commented on #197
@siddharthlatest  I'm not very well at react.js development, but I thought the view shall be same, you just need to use [wildcard index pattern](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/multi-index.html#multi-index) instead of single index name, you may need to implement some views and services for creating and fetching an index pattern (maybe also using elasticsearch as storage

[2018-05-16 12:10] siddharthlatest commented on #197
Supporting wildcard pattern inherently means a multi-index view support. We have to think about how to handle the tabular view (two indexes can potentially have vastly different mappings), all our underlying API calls (for bulk delete, update_on_query, etc) may now occur on more than one indexes.

If you are interested in Dejavu listing current indices in the cluster for easy access, we have added

[2018-05-16 14:10] pingz commented on #197
@siddharthlatest I get your point. Of course it is great using a multi-index view to support different mappings.

I usually just deal with the data using same mapping indexes, To my understand kibana can't show fields if there is a type conflict among the indices. The catch is that if you want to do data visualization or some another complex tasks, you will eventually run into some troubles if the

[2018-05-16 21:06] ghost opened #211 "Cannot build dejavu locally, pngquant failed to build (centos 7)"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Hosted web app

#### What is the version of Dejavu that you are using?
dev

[me@mapr07 dejavu]# git describe --tags
1.6.1-8-gb2ef533

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
Following the instructions to build locally (ht

[2018-05-22 15:37] siddharthlatest opened #212 "Add an aggregated terms view similar to Excel"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
All the above.

#### What is the version of Dejavu that you are using?
Latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

Show a dropdown icon next to each field's column header which when clicked, shows an aggregated terms

[2018-05-24 15:47] roysoham opened #213 "One Question"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Ubuntu 16.04

#### What is the version of Dejavu that you are using?
Latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
One Question is this FREE ?

##### If your issue deals with accessing Elasticsearch cluster, share the n

[2018-05-24 15:58] divyanshu013 commented on #213
FREE as in FREEDOM :)

[2018-05-24 15:58] #213 closed, assigned to nobody

[2018-05-24 16:03] divyanshu013 commented on #211
Not sure about centos but this works fine on Fedora 27. I can suggest a few things you can try:

1. Check your node version. If its old, update to the latest stable atleast.
2. Do a fresh clone and use `yarn` instead of `npm` (Just run `yarn` in the project directory after cloning)
3. Run `bower install` (You will need `bower` as a global module first - `npm i -g bower`

[2018-05-24 16:13] roysoham commented on #213
FREE as in Opensource free, freedom means different things to different people, anywayz closing this, uninstalled it not worth the time, or money

[2018-05-24 16:17] divyanshu013 commented on #213
https://en.wikipedia.org/wiki/Free_and_open-source_software

[2018-05-24 18:45] ghost commented on #211
Thanks.
Using `yarn` instead of `npm` allowed me to get around the issue.
Note for others, I ran into a naming conflict between the `yarn` package manager and `yarn` for apache hadoop (see https://github.com/yarnpkg/yarn/issues/2337). Ended up downloading the `yarn` package manager .tar.gz file, and calling the local `yarnpkg` binary from inside the dejavu project folder.

[2018-05-24 18:45] #211 closed, assigned to nobody

[2018-05-24 19:00] ghost opened #214 "Unreachable code after return statement"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Hosted web app

#### What is the version of Dejavu that you are using?
dev

[me@mapr07 dejavu]# git describe --tags
1.6.1-8-gb2ef533

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

After installing dejavu to run locally (https:

[2018-05-24 19:05] divyanshu013 commented on #214
Did you run `bower install` after `yarn`?

[2018-05-24 19:24] ghost commented on #214
Yes, after using `yarn` instead of `npm install`, followed the remaining local install instructions as they are currently written and did not seem to have any problems.

[2018-05-27 12:31] arliber commented on #90
Any news on that? any example of a workaround for getting AWS Elasticserach to work with dejavu?
Thanks

[2018-05-27 13:48] siddharthlatest commented on #90
@arliber We support custom headers now. You can use them.

[2018-06-01 03:09] athempeed opened #216 "Delete the whole Index///"
please do let me know if I can do that from this tool...

#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
I am using as chrome Extension.

#### What is the version of Dejavu that you are using?
1.5.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
Hey I am using Dejavu for ch

[2018-06-04 13:00] divyanshu013 commented on #214
I ran into a similar issue after upgrading to yarn 1.7 and Node 10. Pushed a fix, could you try pulling the latest commit and check if it works? After pulling the commit, just remove your node modules `rm -rf node_modules` and then try running `yarn`.

[2018-06-04 20:28] ghost commented on #214
Doing a `git pull origin` in the `dev` branch and trying to install with `yarn`, I am now see another error similar to another (closed) issue (where using yarn rathern than npm install was the fix) (see https://github.com/appbaseio/dejavu/issues/211).  The error message when running yarn is:

[code]

Trying to go back to running `npm install` instead did not help in this case (still producing simi

[2018-06-05 05:41] divyanshu013 commented on #214
I'm not sure how to resolve this at the moment. We don't use it as a direct dependency. I found this thread, could you check if anything helps from here: https://github.com/imagemin/pngquant-bin/issues/78

[2018-06-18 09:18] mohammedESSABRI opened #217 "Refused to execute JavaScript URL"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Chrome extension

#### What is the version of Dejavu that you are using?

1.6.1

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

When trying to perform a query, it shows Refused to execute JavaScript URL because it violates the

[2018-06-18 11:23] siddharthlatest commented on #217
@mohammedESSABRI I am not able to replicate the issue. Can you share the following details?

1. What query are you running?
2. Which of the query operations from below have you selected?
![](https://i.imgur.com/doo8II4.png)
3. Can you share console logs relevant to the error?

[2018-06-18 11:26] siddharthlatest commented on #216
@Donjay2101 That's not something we support via Dejavu and believe it's not a great idea to do this from a web browser particularly, since we don't know anything about the underlying cluster (whether backups exist, is it secured, etc).

We offer a managed service appbase.io which has the options to remove an index from the dashboard. Even if you are using an ES cluster elsewhere, this is a relativ

[2018-06-18 11:26] #216 closed, assigned to nobody

[2018-06-19 06:03] siddharthlatest opened #218 "Ignore id field when inserting an array of objects"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
All

#### What is the version of Dejavu that you are using?
latest, i.e. 1.6.x

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

While adding data as a JSON array (see reference image below), we shouldn't allow the user to set th

[2018-06-21 00:08] siddharthlatest opened #219 "Convert Dockerfile to RHEL format"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Enhancement to distribute dejavu on the [Red Hat container catalog](https://access.redhat.com/containers).

#### What is the version of Dejavu that you are using?
N/A

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
Convert the c

[2018-06-25 08:39] mohammedESSABRI commented on #217
Dear @siddharthlatest,

I try just to update a doc using the interface but is not working, here is the error:
[code]

Also it showed this error:

`Refused to execute JavaScript URL because it violates the following Content Security Policy directive: "script-src 'self' blob: filesystem: chrome-extension-resource:". Either the 'unsafe-inline' keyword, a hash ('sha256-...'), or a nonce ('nonce-...')

[2018-07-05 18:16] hmachefe opened #220 "Unexpected ReferenceError: LZMA is not defined fron running DejaVu as a local web app"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Hosted web app

#### What is the version of Dejavu that you are using?
1.6.1

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
![image](https://user-images.githubusercontent.com/4142280/42340037-daec5300-805c-11e8-93a0-c78a24591a9

[2018-07-05 18:17] siddharthlatest commented on #220
There are some bower dependencies, can you run `bower install`?

[2018-07-09 09:36] #143 closed, assigned to nobody

[2018-07-09 10:39] #203 closed, assigned to divyanshu013

[2018-07-10 08:22] #208 closed, assigned to divyanshu013

[2018-07-10 09:02] #218 closed, assigned to nobody

[2018-07-10 09:04] siddharthlatest commented on #220
Closing this as it's related to a missing installation step. We have also just migrated off Bower so this shouldn't even happen after the upcoming release.

[2018-07-10 09:04] #220 closed, assigned to nobody

[2018-07-10 09:12] siddharthlatest commented on #217
@mohammedESSABRI Afaict, we don't use inline script blocks but still going to confirm this. Could it be possible that some other extension you have is trying to inject a script tag? One way to know for sure is for you to enable Dejavu to work in Incognito mode and try it there (see below screenshot, you can do this from your `chrome://extensions` page, click on `Details` button on the Dejavu exten

[2018-07-11 06:06] #209 closed, assigned to nobody

[2018-07-11 06:49] RadoslawSkoczylas opened #221 "Cannot connect to dejavu on the web server Linux"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Hosted web app

#### What is the version of Dejavu that you are using?
1.5.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
When I try to connect to dejavu on the web server (Linux) on any port I get ERR_CONNECTION_REFUSED.

##

[2018-07-11 08:27] #194 closed, assigned to divyanshu013

[2018-07-12 08:05] al-serebrov commented on #194
Thank you very much for the fix!

[2018-07-13 17:10] siddharthlatest opened #222 "Set `ignore_above` in mappings for keyword sub_field"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Hosted web app

#### What is the version of Dejavu that you are using?
1.6.1

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
When creating mappings via Dejavu's UI, we should use the `ignore_above` setting to ignore very long ch

[2018-07-16 14:38] #210 closed, assigned to nobody

[2018-07-16 14:40] divyanshu013 commented on #210
@siddharthlatest we can now host dejavu at `/`. It'll also work at `/live` for backward compatibility (with some missing images). Before deploying we should set up the route redirection for old blog post or docs links.

[2018-07-19 06:25] gabriel-tessier opened #223 "Problem on connection"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Chrome extension

#### What is the version of Dejavu that you are using?
Certainly last version installed 10 minutes ago.

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
I installed the chrome plugin and tried to connect by typi

[2018-07-19 06:50] divyanshu013 commented on #223
The homepage is being redone so we could partially tackle a few issues here. Hope you were able to connect with `http://`

[2018-08-13 09:16] usmanovbf opened #225 "Add a possibility to pass default URL and index name via environment to automatically connect"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

Docker Image
#### What is the version of Dejavu that you are using?
1.7
#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
Feature request: add a possibility to pass default URL and index name via environment to automatically conne

[2018-08-13 10:15] divyanshu013 commented on #225
Possible duplicate #205

[2018-08-14 12:14] siddharthlatest opened #226 "Handle edge-case on URL"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Hosted web app

#### What is the version of Dejavu that you are using?
1.7.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
When trying to add a URL with a `/` at the end of it, Dejavu throws an authentication error. Instead, w

[2018-08-20 10:11] #221 closed, assigned to nobody

[2018-08-21 06:12] siddharthlatest opened #227 "Add a "built with dejavu" logo on searchsandbox"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Hosted web app

#### What is the version of Dejavu that you are using?
latest: dev

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
When creating a UI using search sandbox, show a "built with dejavu" logo.

[2018-08-21 07:41] #226 closed, assigned to nobody

[2018-08-21 07:42] #225 closed, assigned to nobody

[2018-08-21 12:23] siddharthlatest commented on #227
Added in #228.

[2018-08-21 12:23] #227 closed, assigned to nobody

[2018-08-21 12:38] #222 closed, assigned to siddharthlatest

[2018-08-21 12:39] siddharthlatest commented on #217
Closing this due to inactivity - also, dejavu (as chrome extension) can run in incognito mode starting `2.0.0`.

[2018-08-21 12:39] #217 closed, assigned to nobody

[2018-08-24 15:57] divyanshu013 opened #229 "Dejavu sends an extra request to the last connected url"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Bug

#### What is the version of Dejavu that you are using?
2.0

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
When starting up dejavu it sends an extra request to connect to the last connected url.

[2018-08-25 17:45] micahstubbs opened #230 "Module not found: Error: Can't resolve '../../../batteries/components/SearchSandbox'"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
local webapp

#### What is the version of Dejavu that you are using?
latest dev at commit f8c48ea50cc594236fa6b2d4267ab09169d45f2d

## 📄 steps to reproduce

[code]

![screen shot 2018-08-25 at 10 45 55 am](https://user-images.githubusercontent.com/2119400/44621036-16521f00-a854-11e8-8ca8-20c

[2018-08-25 18:20] micahstubbs commented on #230
found the solution 💡

it looks like there is this undocumented submodule dependency that we need to install first:

[code]

then you can

[code]

like normal

[2018-09-07 05:37] metagrover opened #231 "upgrade to appbase-js@4.0.0-beta"
Search Preview uses the latest appbase-js, which doesn't work with current dejavu codebase, causing the entire app to crash. Please upgrade to latest `appbase-js` to fix this behavior.

[2018-09-09 22:17] siddharthlatest commented on #230
Thanks @micahstubbs, we have added `batteries` in v2, I have updated the [Contributing doc](https://github.com/appbaseio/dejavu/blob/dev/CONTRIBUTING.md) with the updated info to run dejavu locally.

[2018-09-09 22:17] #230 closed, assigned to nobody

[2018-09-09 22:20] siddharthlatest commented on #214
Closing this due to inactivity. We have moved away from using bower and this should likely go away. Feel free to comment here or open another issue if the behavior continues.

[2018-09-09 22:20] #214 closed, assigned to nobody

[2018-09-09 22:21] siddharthlatest commented on #185
This has been added in 2.0. See the `Search Preview` tab.

[2018-09-09 22:21] #185 closed, assigned to nobody

[2018-09-14 06:14] siddharthlatest opened #232 "Bug: Apply `has` filter on the keyword sub-field"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Latest, everywhere (tried on web app)

#### What is the version of Dejavu that you are using?
2.0.5

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
The text field has a `has` filter ![](https://i.imgur.com/acEL8qu.png) which fir

[2018-09-14 10:18] divyanshu013 commented on #231
Fixed via https://github.com/appbaseio/dejavu/commit/17c53024913d4b74034217d110cf404f40ab5ea8

[2018-09-14 10:18] #231 closed, assigned to nobody

[2018-09-14 10:54] #232 closed, assigned to nobody

[2018-10-02 12:50] may215 commented on #82
I had the same issue when I running elastic and dejavu in docker container, I solved the issue using the ip address of the elastic machine, e.g. http://172.21.0.2:9200

[2018-10-06 12:24] caseydm opened #237 "Trouble accessing locally with docker"
I am trying to use dejavu through a local docker image. When I try to view my cluster in Chrome (version 69.0.3497.100) using http://localhost:1358/, and the settings http://localhost:9200 and my index name, I get the error:

`Failed to load http://localhost:9200/_aliases: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the req

[2018-10-08 17:22] dennybaa commented on #205
basically no instructions in docs :( need to search through the code and figure out what env to pass!
So any details on how to specify ES host/port?

[2018-10-08 17:23] dennybaa commented on #205
ps. docker links already outdated for a few years, while relying on the linked env here.

[2018-10-08 17:25] siddharthlatest commented on #205
@dennybaa There is no way to specify a default ES host right now. This is an open issue currently.

Feel free to send a PR if you want to update the docker links, I am not sure which one(s) you are referring to.

[2018-10-08 17:27] dennybaa commented on #205
Bad. No way to go with this then :( Can not use this for production, since the only scenario is dev usage or DIY envs.

[2018-10-11 21:20] rajagottumukkala opened #243 "Authentication and Authorization"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Chrome Extension

#### What is the version of Dejavu that you are using?
2.0.5

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
Is it possible to implement Authentication and Authorization with in Dejavu?
We want to build a Searc

[2018-10-12 19:10] siddharthlatest opened #244 "UI/Ux issues in the dejavu next build"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
`next` branch of dejavu

#### What is the version of Dejavu that you are using?
Next version.

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

- [x] The first column after the `_id` column gets truncated ![](https://i.imgur.com/

[2018-10-25 11:11] JacobHZ opened #248 "【Search Preview】filter can't display list data in dataset"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Chrome extension

#### What is the version of Dejavu that you are using?
latest

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

I have data type like the picture below:
![image](https://user-images.githubusercontent.com/1566299

[2018-10-27 00:54] siddharthlatest commented on #248
Hi @JacobHZ, this has been fixed but requires a significant change in state management on Dejavu's end. It will be out in the next release.

In case you are using appbase.io, the change is already available in the dashboard.

[2018-10-31 16:20] karthikgreentrend commented on #195
any update i am also facing issue to connect my own AWS 6.3 into my local dejavu
thanks in advance
karthik

[2018-11-06 12:17] samthomson opened #249 "bug: white screen when loading dejavu"
docker-image dejavu, but previously tried the extension and had I think the same issue.
version: appbaseio/dejavu:latest

I go to localhost:1358 and try to connect to the elasticsearch instance. It times out so I attempt to reload, but then just get a blank screen. Opening the console shows some errors perhaps. I've attached a screen-shot.

Any ideas?

![image](https://user-images.githubuserconten

[2018-11-06 12:52] siddharthlatest commented on #249
@samthomson Can you share how you are setting the URL? We expect a fully qualified URL, in `http://my-elasticsearch:port` format.

[2018-11-06 14:42] arahayrabedian commented on #204
Hi Siddarth - I've faced this same issue a while back and only recently looked it up.

I've managed to replicate the issue by changing the address bar to `http:/` *after* disconnecting from a valid session in the view mode.

you then try to connect to the invalid url, then while it's trying to connect to this invalid address, close the tab.

next time you open the tab you'll see a blank page, cons

[2018-11-06 20:14] henrikbak commented on #249
I had the samme issue. I was missing the protocol in the URL.

The problem is that you are presented with the white screen afterwards, so you can't change the URL in any way. Some validation in the form would do wonders.

[2018-11-06 20:22] siddharthlatest commented on #249
Good feedback, we're building a new version of Dejavu (`next` branch) and will include proper error checking over there. cc @lakhansamani

[2018-11-10 00:36] siddharthlatest commented on #197
Support for multi-index views has been added in the `next` version of dejavu. Will be out in the next release.

[2018-11-10 00:37] #197 closed, assigned to nobody

[2018-11-10 00:47] siddharthlatest commented on #196
Sorry for the delay on this, but importing data to Elasticsearch v6 is now supported. 🎉

[2018-11-10 00:56] siddharthlatest commented on #243
Dejavu uses Elasticsearch as its backend. By itself, it's agnostic to how authentication/authorization happens. However, if your backend service supports this, it should be possible via Dejavu.

This isn't possible. You can set a default view, but the user can change it. You might want to check https://github.com/appbaseio/reactivesearch for building a custom search UI.

[2018-11-10 00:56] #243 closed, assigned to nobody

[2018-11-21 13:03] lakhansamani opened #250 "Not able to access url params in ReactiveList"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)

`next` branch of Dejavu
#### What is the version of Dejavu that you are using?
`next`

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.

The issue is because of the ReactiveList which is not able to read URL params
Watch: https:/

[2018-11-24 05:14] ilulir opened #251 "SearchPreview filters are not connected in the UI"
#### Tell us where you are using Dejavu (Hosted web app, Chrome extension, Docker Image, Within appbase.io)
Chrome extension

#### What is the version of Dejavu that you are using?
2.0.5

#### Describe the issue that you are seeing, or the feature request :-), include any screenshots as necessary.
Using the SearchPreview tab, define several filters and enable the Count for each record. When select

[2018-11-26 18:07] redlinecodes commented on #250
@lakhansamani - any solution to this. I've been getting the same error :(

[2018-11-27 09:51] lakhansamani commented on #250
@redlinecodes not yet we are working on it

[2018-12-05 08:09] rqueraud commented on #204
Got the same problem with the web ui if I forget to prepend my elasticsearch url with http://.
I had to manually delete local storage in order to get back to the login page. Otherwise, it was only showing me a blank page with the errors you mentionned above.

[2018-12-05 08:18] arkkanoid opened #254 "White screen using a specific index"
Hi,
I'm using Dejavu on a remote host with a Docker image (latest version).
For some specific index, when I load it a white page appears. Looking chrome inspector I see this error:

    VM45 live.js:1 Uncaught TypeError: Cannot read property 'toString' of null
    at t.value (VM45 live.js:1)
    at kn (VM45 live.js:1)
    at xn (VM45 live.js:1)
    at On (VM45 live.js:1)
    at Hn (VM45 live.js:1)

[2018-12-10 00:41] siddharthlatest commented on #254
Hey @arkkanoid, we have made a major release to Dejavu which will be the actively maintained version going forward. It's available under `3.0.0-alpha` tag. Can you try over there? This issue shouldn't be applicable over there.

[2018-12-12 14:15] janheinrichmerker opened #256 "CORS issues when running using docker-compose"
When I run Elasticsearch and Dejavu using docker-compose, I get CORS errors even though I configured it in the docker-compose.yml.

#### docker-compose.yml
[code]

[2018-12-12 14:18] janheinrichmerker opened #257 "Dead link in CORS section in README.md"
The [CORS section](https://github.com/appbaseio/dejavu#cors) in the README.md mentions a file "docker-compose.yml" but the link is dead.

[2018-12-12 19:13] TCMiranda commented on #127
@siddharthlatest from this conversation and searching for similar issues I got your opinion about leaving the authorization concern for ES which already handles it.

That is ok. But considering the feature of editing document as is, It is bad UX to let the user make an error just because the backend would deal with it while knowing that we could know if the user has the access from upfront.

Preve

[2018-12-12 21:02] siddharthlatest commented on #127
@TCMiranda For the overall user base, this is an assumption we wouldn't want to make - as the backend security could work in very different ways. As an example, my backend could restrict certain kinds of data updates but may not restrict others. Best case I can see is for Dejavu to be neutral about this and allow the user to make the choice.

If you want to change this behavior for your use-case,

[2018-12-13 00:17] TCMiranda commented on #127
Sure! It makes sense. Thanks for the feedback Siddharth

Em qua, 12 de dez de 2018 às 19:02, Siddharth Kothari <
notifications@github.com> escreveu:

[2018-12-20 06:20] samthomson commented on #249
@henrikbak did you find a way to update the URL after you'd entered it without the protocol?
@siddharthlatest Is there anything cached locally I can delete to get me back to the 'front' page. Or is there a latest version I can use. I'm using the docker image, added to my docker-compose file as `appbaseio/dejavu`